<div class="Container Max-width">
	<div class="section-products">
		<div class="section-products__wrapper Tabs">
			
			<div class="section-products__tabs">
				<button class="Button Button--lime-light-active Button--theme-m Button--theme-m-w Tabs__item Tabs__item--active"
					data-identification-tab="1" data-index-tab="1">
					<span class="Button__icon">
						<svg class="Button__icon-svg">
							<use class="Button__icon-svg-use" xlink:href="#stock"></use>
						</svg>
					</span>
					<span class="Button__text">Товары с выгодой</span>
				</button>

				<button class="Button Button--lime-light-active Button--theme-m Button--theme-m-w Tabs__item"
					data-identification-tab="1" data-index-tab="2">
					<span class="Button__icon">
						<svg class="Button__icon-svg">
							<use class="Button__icon-svg-use" xlink:href="#bestseller"></use>
						</svg>
					</span>
					<span class="Button__text">Хит продаж</span>
				</button>

				<button class="Button Button--lime-light-active Button--theme-m Button--theme-m-w Tabs__item"
					data-identification-tab="1" data-index-tab="3">
					<span class="Button__icon">
						<svg class="Button__icon-svg">
							<use class="Button__icon-svg-use" xlink:href="#new"></use>
						</svg>
					</span>
					<span class="Button__text">Новинки</span>
				</button>
			</div>

			<div class="Tabs__block Tabs__block--active" data-identification-tab="1" data-index-tab="1">
				<div class="swiper-container section-products__swiper-container">
					<div class="swiper-wrapper section-products__wrapper">


						<div class="swiper-slide section-products__slide">
							<div class="Card-product">

								<div class="Card-product__wrapper">
									<a class="Card-product__link" href="#">
										<div class="Card-product__heading">
											<div class="Card-product__title">
												<h3 class="Card-product__title-text">Волна на span</h3>
											</div>
											<div class="Card-product__subtitle">
												<span class="Card-product__subtitle-text">Итальянский орех</span>
												<span class="Card-product__subtitle-text">Ламинированные двери</span>
											</div>
											<div class="Card-product__btn-specifications">
												<a class="Button Button--lime Button--theme-s Button--theme-s-n " href="#">
													<span class="Button__icon">
														<svg class="Button__icon-svg">
															<use class="Button__icon-svg-use" xlink:href="#specifications"></use>
														</svg>
													</span>
												</a>
											</div>
										</div>
									</a>
									<div class="Card-product__block-img">
										<div class="Badges">
											<div class="Badges__offer">




												<span class="Badges__offer-discount">-45%</span>
												<span class="Icon Icon--lime Icon--theme-m">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#new"></use>
														</svg>
													</div>
												</span>
												<span class="Icon Icon--gray  Icon--theme-m">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#bestseller"></use>
														</svg>
													</div>
												</span>
												<span class="Icon Icon--gray  Icon--theme-m">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#flame"></use>
														</svg>
													</div>
												</span>



												<div class="Badges__offer-last">
													<span class="Icon  Icon--gray Icon--theme-m">
														<div class="Icon__content">
															<svg class="Icon__svg">
																<use class="Icon__svg-use" xlink:href="#video-card"></use>
															</svg>
														</div>
													</span>
													<div class="Palette Pos Pos--centerXY">
														<div class="Palette__color-selection">
															<ul class="Palette__list-color-selection">
																<li class="Palette__item-color-selection Palette__item-color-selection--color">
																	<span class="Palette__btn-color-selection"> <img
																			class="Palette__btn-color-selection-img" src="img/blue.jpg" alt="blue">
																	</span>
																</li>
																<li class="Palette__item-color-selection Palette__item-color-selection--color">
																	<span class="Palette__btn-color-selection"> <img
																			class="Palette__btn-color-selection-img" src="img/orange.jpg" alt="blue">
																	</span>
																</li>
																<li class="Palette__item-color-selection Palette__item-color-selection--color">
																	<span class="Palette__btn-color-selection"> <img
																			class="Palette__btn-color-selection-img" src="img/blue.jpg" alt="blue">
																	</span>
																</li>
																<li class="Palette__item-color-selection Palette__item-color-selection--color">
																	<span class="Palette__btn-color-selection"> <img
																			class="Palette__btn-color-selection-img" src="img/blue.jpg" alt="blue">
																	</span>
																</li>
																<li class="Palette__item-color-selection Palette__item-color-selection--color">
																	<span class="Palette__btn-color-selection"> <img
																			class="Palette__btn-color-selection-img" src="img/blue.jpg" alt="blue">
																	</span>
																</li>
															</ul>
														</div>
													</div>
												</div>

											</div>
											<div class="Badges__interaction">

												<span class="Icon Icon--gray Icon--theme-m">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#like"></use>
														</svg>
													</div>
												</span>
												<span class="Icon Icon--gray Icon--theme-m">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#scales"></use>
														</svg>
													</div>
												</span>

												<div class="Badges__interaction-last">
													<span class="Button Button--lime-light Button--theme-s Button--theme-s-n ">
														<span class="Button__icon">
															<svg class="Button__icon-svg">
																<use class="Button__icon-svg-use" xlink:href="#feature"></use>
															</svg>
														</span>
													</span>
												</div>


											</div>
										</div>
										<a class="Card-product__link" href="#">
											<img src="/img/card-product-2.png" alt="" class="Card-product__img Bgi">
										</a>
									</div>

									<div class="Card-product__inner">
										<div class="Card-product__block-specification">
											<form action="" class="Card-product__form-specification">
												<div class="Card-product__type-specification Radio-btn">
													<p class="Card-product__type-specification-text">Тип</p>

													<label><input type="radio" name="radio" value="" disabled> <span>ДГ</span></label>
													<label><input type="radio" name="radio" value="" checked> <span>ДЧ</span></label>
													<label><input type="radio" name="radio" value="" disabled> <span>ДО</span> </label>
												</div>
												<div class="Card-product__size-specification Radio-btn">
													<p class="Card-product__size-specification-text">Размер</p>

													<label>
														<input type="radio" name="radio" value="" disabled>
														<span>40</span>
													</label>
													<label>
														<input type="radio" name="radio" value="">
														<span>60</span>
													</label>
													<label>
														<input type="radio" name="radio" value="">
														<span>70</span>
													</label>
													<label>
														<input type="radio" name="radio" value="" disabled>
														<span>80</span>
													</label>
													<label>
														<input type="radio" name="radio" value="" disabled>
														<span>90</span>
													</label>
												</div>
											</form>
										</div>
										<div class="Card-product__have">
											<span class="Card-product__have-text">В наличии: &gt100 </span>

											<button class="Card-product__have-icon Icon Icon--gray  Icon--theme-m Card-product__have-icon-js">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#information-have"></use>
													</svg>
												</div>
											</button>

										</div>
									</div>

									<div class="Card-product__block-have-info Card-product__block-have-info-js">
										<div class="Card-product__have-info-heading">
											<h3 class="Card-product__have-info-heading-text">
												Ожидаемая дата прихода:
											</h3>
											<span class="Card-product__have-info-heading-decor">
												20.12.2020 - 10 шт
											</span>
										</div>
										<div class="Card-product__have-info-title">
											<h3 class="Card-product__have-info-title-text">
												2 дилера в очереди
											</h3>
										</div>
									</div>

								</div>

								<div class="Card-product__block-info">

									<div class="Card-product__price">

										<div class="Card-product__retail-price">
											<div class="Card-product__retail-price-title">
												<h4 class="Card-product__retail-price-title-text">
													Розничная цена
												</h4>
											</div>
											<div class="Card-product__block-retail-price-value">
												<span class="Card-product__retail-price-value"> 1 145 ₽ </span>
												<span class="Card-product__retail-price-value-old"> 18 818₽ </span>
											</div>
										</div>


										<div class="Card-product__trade-price">
											<div class="Card-product__trade-price-title">
												<h4 class="Card-product__trade-price-title-text">
													Оптовая цена
												</h4>
											</div>
											<div class="Card-product__block-trade-price-value">
												<span class="Card-product__trade-price-value"> 1 145 ₽ </span>
												<span class="Card-product__trade-price-value-old"> 18 818₽ </span>
											</div>
										</div>

										<div class="Card-product__your-price">
											<div class="Card-product__your-price-title">
												<h4 class="Card-product__your-price-title-text">
													Ваша цена
												</h4>
											</div>
											<div class="Card-product__block-your-price-value">
												<span class="Card-product__your-price-value"> 1 145 ₽ </span>
												<span class="Card-product__your-price-value-old"> 18 818₽ </span>
											</div>
										</div>

									</div>
									<div class="Card-product__btn-basket">
										<a class="Button Button--lime Button--theme-l" href="#">
											<span class="Button__icon">
												<svg class="Button__icon-svg">
													<use class="Button__icon-svg-use" xlink:href="#basket"></use>
												</svg>
											</span>
											<span class="Button__text">В корзину</span>
										</a>
									</div>

									<div class="Card-product__block-instruments-mobile instruments-mobile-Card-product">

										<div class="instruments-mobile-Card-product__block-left">
											<a class="Icon Icon--gray Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#like"></use>
													</svg>
												</div>
											</a>
											<a class="Icon Icon--gray Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#scales"></use>
													</svg>
												</div>
											</a>
										</div>

										<div class="instruments-mobile-Card-product__block-right">

											<a class="Button Button--lime-light Button--theme-s  " href="#">
												<span class="Button__icon">
													<svg class="Button__icon-svg">
														<use class="Button__icon-svg-use" xlink:href="#feature"></use>
													</svg>
												</span>
											</a>

											<a class="Button Button--lime-light Button--theme-s  " href="#">
												<span class="Button__icon">
													<svg class="Button__icon-svg">
														<use class="Button__icon-svg-use" xlink:href="#basket"></use>
													</svg>
												</span>
											</a>

										</div>

									</div>


								</div>


							</div>
						</div>

						<div class="swiper-slide section-products__slide">
							<div class="Card-product">

								<div class="Card-product__wrapper">
									<div class="Card-product__heading">
										<div class="Card-product__title">
											<h3 class="Card-product__title-text">Волна 228</h3>
										</div>
										<div class="Card-product__subtitle">
											<span class="Card-product__subtitle-text">Итальянский орех</span>
											<span class="Card-product__subtitle-text">Ламинированные двери</span>
										</div>
										<div class="Card-product__btn-specifications">
											<a class="Button Button--lime Button--theme-s Button--theme-s-n " href="#">
												<span class="Button__icon">
													<svg class="Button__icon-svg">
														<use class="Button__icon-svg-use" xlink:href="#specifications"></use>
													</svg>
												</span>
											</a>
										</div>
									</div>

									<div class="Card-product__block-img">

										<div class="Badges">
											<div class="Badges__offer">

												<span class="Badges__offer-discount">-25%</span>
												<a class="Icon Icon--lime Icon--theme-m" href="#">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#new"></use>
														</svg>
													</div>
												</a>
												<a class="Icon Icon--gray  Icon--theme-m" href="#">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#bestseller"></use>
														</svg>
													</div>
												</a>
												<a class="Icon Icon--gray  Icon--theme-m" href="#">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#flame"></use>
														</svg>
													</div>
												</a>


												<div class="Badges__offer-last">
													<a class="Icon  Icon--gray Icon--theme-m" href="#">
														<div class="Icon__content">
															<svg class="Icon__svg">
																<use class="Icon__svg-use" xlink:href="#video-card"></use>
															</svg>
														</div>
													</a>
												</div>

											</div>
											<div class="Badges__interaction">

												<a class="Icon Icon--gray Icon--theme-m">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#like"></use>
														</svg>
													</div>
												</a>
												<a class="Icon Icon--gray Icon--theme-m">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#scales"></use>
														</svg>
													</div>
												</a>

												<div class="Badges__interaction-last">
													<a class="Button Button--lime-light Button--theme-s Button--theme-s-n " href="#">
														<span class="Button__icon">
															<svg class="Button__icon-svg">
																<use class="Button__icon-svg-use" xlink:href="#feature"></use>
															</svg>
														</span>
													</a>
												</div>


											</div>
										</div>
										<a href="#" class="Card-product__link">
											<img src="/img/card-product-1.png" alt="" class="Card-product__img Bgi">
										</a>
									</div>

									<div class="Card-product__inner">
										<div class="Card-product__block-specification">
											<form action="" class="Card-product__form-specification">
												<div class="Card-product__type-specification Radio-btn">
													<p class="Card-product__type-specification-text">Тип</p>

													<label><input type="radio" name="radio" value="" disabled> <span>ДГ</span></label>
													<label><input type="radio" name="radio" value="" checked> <span>ДЧ</span></label>
													<label><input type="radio" name="radio" value="" disabled> <span>ДО</span> </label>
												</div>
												<div class="Card-product__size-specification Radio-btn">
													<p class="Card-product__size-specification-text">Размер</p>

													<label>
														<input type="radio" name="radio" value="" disabled>
														<span>40</span>
													</label>
													<label>
														<input type="radio" name="radio" value="">
														<span>60</span>
													</label>
													<label>
														<input type="radio" name="radio" value="">
														<span>70</span>
													</label>
													<label>
														<input type="radio" name="radio" value="" disabled>
														<span>80</span>
													</label>
													<label>
														<input type="radio" name="radio" value="" disabled>
														<span>90</span>
													</label>
												</div>
											</form>
										</div>
										<div class="Card-product__have">
											<span class="Card-product__have-text">В наличии: &gt100 </span>

											<button class="Card-product__have-icon Icon Icon--gray  Icon--theme-m Card-product__have-icon-js">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#information-have"></use>
													</svg>
												</div>
											</button>

										</div>
									</div>

									<div class="Card-product__block-have-info Card-product__block-have-info-js">
										<div class="Card-product__have-info-heading">
											<h3 class="Card-product__have-info-heading-text">
												Ожидаемая дата прихода:
											</h3>
											<span class="Card-product__have-info-heading-decor">
												20.12.2020 - 10 шт
											</span>
										</div>
										<div class="Card-product__have-info-title">
											<h3 class="Card-product__have-info-title-text">
												2 дилера в очереди
											</h3>
										</div>
									</div>

								</div>

								<div class="Card-product__block-info">

									<div class="Card-product__price">

										<div class="Card-product__retail-price">
											<div class="Card-product__retail-price-title">
												<h4 class="Card-product__retail-price-title-text">
													Розничная цена
												</h4>
											</div>
											<div class="Card-product__block-retail-price-value">
												<span class="Card-product__retail-price-value"> 1 145 ₽ </span>
												<span class="Card-product__retail-price-value-old"> 18 818₽ </span>
											</div>
										</div>


										<div class="Card-product__trade-price">
											<div class="Card-product__trade-price-title">
												<h4 class="Card-product__trade-price-title-text">
													Оптовая цена
												</h4>
											</div>
											<div class="Card-product__block-trade-price-value">
												<span class="Card-product__trade-price-value"> 1 145 ₽ </span>
												<span class="Card-product__trade-price-value-old"> 18 818₽ </span>
											</div>
										</div>

										<div class="Card-product__your-price">
											<div class="Card-product__your-price-title">
												<h4 class="Card-product__your-price-title-text">
													Ваша цена
												</h4>
											</div>
											<div class="Card-product__block-your-price-value">
												<span class="Card-product__your-price-value"> 1 145 ₽ </span>
												<span class="Card-product__your-price-value-old"> 18 818₽ </span>
											</div>
										</div>

									</div>
									<div class="Card-product__btn-basket">
										<a class="Button Button--lime Button--theme-l" href="#">
											<span class="Button__icon">
												<svg class="Button__icon-svg">
													<use class="Button__icon-svg-use" xlink:href="#basket"></use>
												</svg>
											</span>
											<span class="Button__text">В корзину</span>
										</a>
									</div>

									<div class="Card-product__block-instruments-mobile instruments-mobile-Card-product">

										<div class="instruments-mobile-Card-product__block-left">
											<a class="Icon Icon--gray Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#like"></use>
													</svg>
												</div>
											</a>
											<a class="Icon Icon--gray Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#scales"></use>
													</svg>
												</div>
											</a>
										</div>

										<div class="instruments-mobile-Card-product__block-right">

											<a class="Button Button--lime-light Button--theme-s  " href="#">
												<span class="Button__icon">
													<svg class="Button__icon-svg">
														<use class="Button__icon-svg-use" xlink:href="#feature"></use>
													</svg>
												</span>
											</a>

											<a class="Button Button--lime-light Button--theme-s  " href="#">
												<span class="Button__icon">
													<svg class="Button__icon-svg">
														<use class="Button__icon-svg-use" xlink:href="#basket"></use>
													</svg>
												</span>
											</a>

										</div>

									</div>


								</div>


							</div>
						</div>

						<div class="swiper-slide section-products__slide">
							<div class="Card-product">

								<div class="Card-product__wrapper">
									<div class="Card-product__heading">
										<div class="Card-product__title">
											<h3 class="Card-product__title-text">Волна 2222</h3>
										</div>
										<div class="Card-product__subtitle">
											<span class="Card-product__subtitle-text">Итальянский орех</span>
											<span class="Card-product__subtitle-text">Ламинированные двери</span>
										</div>
										<div class="Card-product__btn-specifications">
											<a class="Button Button--lime Button--theme-s Button--theme-s-n " href="#">
												<span class="Button__icon">
													<svg class="Button__icon-svg">
														<use class="Button__icon-svg-use" xlink:href="#specifications"></use>
													</svg>
												</span>
											</a>
										</div>
									</div>

									<div class="Card-product__block-img">

										<div class="Badges">
											<div class="Badges__offer">

												<span class="Badges__offer-discount">-25%</span>
												<a class="Icon Icon--lime Icon--theme-m" href="#">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#new"></use>
														</svg>
													</div>
												</a>
												<a class="Icon Icon--gray  Icon--theme-m" href="#">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#bestseller"></use>
														</svg>
													</div>
												</a>
												<a class="Icon Icon--gray  Icon--theme-m" href="#">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#flame"></use>
														</svg>
													</div>
												</a>


												<div class="Badges__offer-last">
													<a class="Icon  Icon--gray Icon--theme-m" href="#">
														<div class="Icon__content">
															<svg class="Icon__svg">
																<use class="Icon__svg-use" xlink:href="#video-card"></use>
															</svg>
														</div>
													</a>
												</div>

											</div>
											<div class="Badges__interaction">

												<a class="Icon Icon--gray Icon--theme-m">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#like"></use>
														</svg>
													</div>
												</a>
												<a class="Icon Icon--gray Icon--theme-m">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#scales"></use>
														</svg>
													</div>
												</a>




											</div>
										</div>
										<a href="#" class="Card-product__link">
											<img src="https://natalyland.ru/wp-content/uploads/3/0/3/303d6fe69816a269e97dc81d126ebc4f.jpg"
												alt="" class="Card-product__img Bgi">
										</a>
									</div>

									<div class="Card-product__inner">
										<div class="Card-product__block-specification">
											<form action="" class="Card-product__form-specification">
												<div class="Card-product__type-specification Radio-btn">
													<p class="Card-product__type-specification-text">Тип</p>

													<label><input type="radio" name="radio" value="" disabled> <span>ДГ</span></label>
													<label><input type="radio" name="radio" value="" checked> <span>ДЧ</span></label>
													<label><input type="radio" name="radio" value="" disabled> <span>ДО</span> </label>
												</div>
												<div class="Card-product__size-specification Radio-btn">
													<p class="Card-product__size-specification-text">Размер</p>

													<label>
														<input type="radio" name="radio" value="" disabled>
														<span>40</span>
													</label>
													<label>
														<input type="radio" name="radio" value="">
														<span>60</span>
													</label>
													<label>
														<input type="radio" name="radio" value="">
														<span>70</span>
													</label>
													<label>
														<input type="radio" name="radio" value="" disabled>
														<span>80</span>
													</label>
													<label>
														<input type="radio" name="radio" value="" disabled>
														<span>90</span>
													</label>
												</div>
											</form>
										</div>
										<div class="Card-product__have">
											<span class="Card-product__have-text">В наличии: &gt100 </span>

											<button class="Card-product__have-icon Icon Icon--gray  Icon--theme-m Card-product__have-icon-js">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#information-have"></use>
													</svg>
												</div>
											</button>

										</div>
									</div>

									<div class="Card-product__block-have-info Card-product__block-have-info-js">
										<div class="Card-product__have-info-heading">
											<h3 class="Card-product__have-info-heading-text">
												Ожидаемая дата прихода:
											</h3>
											<span class="Card-product__have-info-heading-decor">
												20.12.2020 - 10 шт
											</span>
										</div>
										<div class="Card-product__have-info-title">
											<h3 class="Card-product__have-info-title-text">
												2 дилера в очереди
											</h3>
										</div>
									</div>

								</div>

								<div class="Card-product__block-info">

									<div class="Card-product__price">

										<div class="Card-product__retail-price">
											<div class="Card-product__retail-price-title">
												<h4 class="Card-product__retail-price-title-text">
													Розничная цена
												</h4>
											</div>
											<div class="Card-product__block-retail-price-value">
												<span class="Card-product__retail-price-value"> 1 145 ₽ </span>
												<span class="Card-product__retail-price-value-old"> 18 818₽ </span>
											</div>
										</div>


										<div class="Card-product__trade-price">
											<div class="Card-product__trade-price-title">
												<h4 class="Card-product__trade-price-title-text">
													Оптовая цена
												</h4>
											</div>
											<div class="Card-product__block-trade-price-value">
												<span class="Card-product__trade-price-value"> 1 145 ₽ </span>
												<span class="Card-product__trade-price-value-old"> 18 818₽ </span>
											</div>
										</div>

										<div class="Card-product__your-price">
											<div class="Card-product__your-price-title">
												<h4 class="Card-product__your-price-title-text">
													Ваша цена
												</h4>
											</div>
											<div class="Card-product__block-your-price-value">
												<span class="Card-product__your-price-value"> 1 145 ₽ </span>
												<span class="Card-product__your-price-value-old"> 18 818₽ </span>
											</div>
										</div>

									</div>
									<div class="Card-product__btn-basket">
										<a class="Button Button--lime Button--theme-l" href="#">
											<span class="Button__icon">
												<svg class="Button__icon-svg">
													<use class="Button__icon-svg-use" xlink:href="#basket"></use>
												</svg>
											</span>
											<span class="Button__text">В корзину</span>
										</a>
									</div>

									<div class="Card-product__block-instruments-mobile instruments-mobile-Card-product">

										<div class="instruments-mobile-Card-product__block-left">
											<a class="Icon Icon--gray Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#like"></use>
													</svg>
												</div>
											</a>
											<a class="Icon Icon--gray Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#scales"></use>
													</svg>
												</div>
											</a>
										</div>

										<div class="instruments-mobile-Card-product__block-right">

											<a class="Button Button--lime-light Button--theme-s  " href="#">
												<span class="Button__icon">
													<svg class="Button__icon-svg">
														<use class="Button__icon-svg-use" xlink:href="#feature"></use>
													</svg>
												</span>
											</a>

											<a class="Button Button--lime-light Button--theme-s  " href="#">
												<span class="Button__icon">
													<svg class="Button__icon-svg">
														<use class="Button__icon-svg-use" xlink:href="#basket"></use>
													</svg>
												</span>
											</a>

										</div>

									</div>


								</div>


							</div>
						</div>


					</div>

					<div class="Swiper-button-next-video-reviews Swiper-button-default">

						<svg class="Swiper-button-default__svg">
							<use class="Swiper-button-default__use" xlink:href="#right-icon-button-slider-1"></use>
						</svg>

					</div>

					<div class="Swiper-button-prev-video-reviews Swiper-button-default">

						<svg class="Swiper-button-default__svg">
							<use class="Swiper-button-default__use" xlink:href="#left-icon-button-slider-1"></use>
						</svg>

					</div>


				</div>
			</div>

			<div class="Tabs__block Tabs__block--not-active" data-identification-tab="1" data-index-tab="2">
				<div class="swiper-container section-products__swiper-container">
					<div class="swiper-wrapper section-products__wrapper">


						<div class="swiper-slide section-products__slide">
							<div class="Card-product">

								<div class="Card-product__wrapper">
									<div class="Card-product__heading">
										<div class="Card-product__title">
											<h3 class="Card-product__title-text">Волна2</h3>
										</div>
										<div class="Card-product__subtitle">
											<span class="Card-product__subtitle-text">Итальянский орех</span>
											<span class="Card-product__subtitle-text">Ламинированные двери</span>
										</div>
										<div class="Card-product__btn-specifications">
											<a class="Button Button--lime Button--theme-s Button--theme-s-n " href="#">
												<span class="Button__icon">
													<svg class="Button__icon-svg">
														<use class="Button__icon-svg-use" xlink:href="#specifications"></use>
													</svg>
												</span>
											</a>
										</div>
									</div>

									<div class="Card-product__block-img">
										<img class="Card-product__img" src="/img/card-product-1.png" alt="product-1" />
										<div class="Card-product__badges-left">


											<span class="Card-product__badges-discount">-25%</span>
											<a class="Icon Icon--lime Icon--theme-m" href="#">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#new"></use>
													</svg>
												</div>
											</a>
											<a class="Icon Icon--gray  Icon--theme-m" href="#">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#bestseller"></use>
													</svg>
												</div>
											</a>
											<a class="Icon Icon--gray  Icon--theme-m" href="#">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#flame"></use>
													</svg>
												</div>
											</a>

											<div class="Card-product__color-selection">
												<ul class="Card-product__list-color-selection">
													<li class="Card-product__item-color-selection Card-product__item-color-selection--gray">
														<a class="Card-product__btn-color-selection" href="#">
														</a>
													</li>
													<li class="Card-product__item-color-selection Card-product__item-color-selection--brown">
														<a class="Card-product__btn-color-selection" href="#">
														</a>
													</li>
													<li class="Card-product__item-color-selection Card-product__item-color-selection--moccasin">
														<a class="Card-product__btn-color-selection" href="#">
														</a>
													</li>
													<li class="Card-product__item-color-selection Card-product__item-color-selection--black">
														<a class="Card-product__btn-color-selection" href="#">
														</a>
													</li>
													<li class="Card-product__item-color-selection Card-product__item-color-selection--gold">
														<a class="Card-product__btn-color-selection" href="#">
														</a>
													</li>
												</ul>
											</div>

											<div class="Card-product__btn-video">
												<a class="Icon  Icon--gray Icon--theme-m" href="#">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#video-card"></use>
														</svg>
													</div>
												</a>
											</div>

										</div>
										<div class="Card-product__badges-right">

											<a class="Icon Icon--gray Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#like"></use>
													</svg>
												</div>
											</a>
											<a class="Icon Icon--gray Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#scales"></use>
													</svg>
												</div>
											</a>

											<div class="Card-product__btn-feature">
												<a class="Button Button--lime-light Button--theme-s Button--theme-s-n " href="#">
													<span class="Button__icon">
														<svg class="Button__icon-svg">
															<use class="Button__icon-svg-use" xlink:href="#feature"></use>
														</svg>
													</span>
												</a>
											</div>

										</div>
									</div>

								</div>

								<div class="Card-product__block-info">
									<div class="Card-product__have">
										<span class="Card-product__have-text">В наличии: &gt10 </span>
									</div>

									<div class="Card-product__retail-price">
										<div class="Card-product__retail-price-title">
											<h4 class="Card-product__retail-price-title-text">
												Розничная цена
											</h4>
										</div>
										<div class="Card-product__block-retail-price-value">
											<span class="Card-product__retail-price-value"> 1 145 ₽ </span>
											<span class="Card-product__retail-price-value-old"> 18 818₽ </span>
										</div>


									</div>
									<div class="Card-product__btn-basket">
										<a class="Button Button--lime Button--theme-l" href="#">
											<span class="Button__icon">
												<svg class="Button__icon-svg">
													<use class="Button__icon-svg-use" xlink:href="#basket"></use>
												</svg>
											</span>
											<span class="Button__text">В корзину</span>
										</a>
									</div>

									<div class="Card-product__block-instruments-mobile instruments-mobile-Card-product">

										<div class="instruments-mobile-Card-product__block-left">
											<a class="Icon Icon--gray Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#like"></use>
													</svg>
												</div>
											</a>
											<a class="Icon Icon--gray Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#scales"></use>
													</svg>
												</div>
											</a>
										</div>

										<div class="instruments-mobile-Card-product__block-right">

											<a class="Button Button--lime-light Button--theme-s  " href="#">
												<span class="Button__icon">
													<svg class="Button__icon-svg">
														<use class="Button__icon-svg-use" xlink:href="#feature"></use>
													</svg>
												</span>
											</a>

											<a class="Button Button--lime-light Button--theme-s  " href="#">
												<span class="Button__icon">
													<svg class="Button__icon-svg">
														<use class="Button__icon-svg-use" xlink:href="#basket"></use>
													</svg>
												</span>
											</a>

										</div>

									</div>


								</div>


							</div>
						</div>

						<div class="swiper-slide section-products__slide">
							<div class="Card-product">

								<div class="Card-product__wrapper">
									<div class="Card-product__heading">
										<div class="Card-product__title">
											<h3 class="Card-product__title-text">Волна</h3>
										</div>
										<div class="Card-product__subtitle">
											<span class="Card-product__subtitle-text">Итальянский орех</span>
											<span class="Card-product__subtitle-text">Ламинированные двери</span>
										</div>
										<div class="Card-product__btn-specifications">
											<a class="Button Button--lime Button--theme-s Button--theme-s-n " href="#">
												<span class="Button__icon">
													<svg class="Button__icon-svg">
														<use class="Button__icon-svg-use" xlink:href="#specifications"></use>
													</svg>
												</span>
											</a>
										</div>
									</div>

									<div class="Card-product__block-img">
										<img class="Card-product__img" src="/img/card-product-2.png" alt="product-1" />
										<div class="Card-product__badges-left">


											<span class="Card-product__badges-discount">-25%</span>
											<a class="Icon Icon--lime Icon--theme-m" href="#">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#new"></use>
													</svg>
												</div>
											</a>
											<a class="Icon Icon--gray  Icon--theme-m" href="#">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#bestseller"></use>
													</svg>
												</div>
											</a>
											<a class="Icon Icon--gray  Icon--theme-m" href="#">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#flame"></use>
													</svg>
												</div>
											</a>

											<div class="Card-product__color-selection">
												<ul class="Card-product__list-color-selection">
													<li class="Card-product__item-color-selection Card-product__item-color-selection--gray">
														<a class="Card-product__btn-color-selection" href="#">
														</a>
													</li>
													<li class="Card-product__item-color-selection Card-product__item-color-selection--brown">
														<a class="Card-product__btn-color-selection" href="#">
														</a>
													</li>
													<li class="Card-product__item-color-selection Card-product__item-color-selection--moccasin">
														<a class="Card-product__btn-color-selection" href="#">
														</a>
													</li>
													<li class="Card-product__item-color-selection Card-product__item-color-selection--black">
														<a class="Card-product__btn-color-selection" href="#">
														</a>
													</li>
													<li class="Card-product__item-color-selection Card-product__item-color-selection--gold">
														<a class="Card-product__btn-color-selection" href="#">
														</a>
													</li>
												</ul>
											</div>

											<div class="Card-product__btn-video">
												<a class="Icon  Icon--gray Icon--theme-m" href="#">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#video-card"></use>
														</svg>
													</div>
												</a>
											</div>

										</div>
										<div class="Card-product__badges-right">

											<a class="Icon Icon--gray Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#like"></use>
													</svg>
												</div>
											</a>
											<a class="Icon Icon--gray Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#scales"></use>
													</svg>
												</div>
											</a>

											<div class="Card-product__btn-feature">
												<a class="Button Button--lime-light Button--theme-s Button--theme-s-n " href="#">
													<span class="Button__icon">
														<svg class="Button__icon-svg">
															<use class="Button__icon-svg-use" xlink:href="#feature"></use>
														</svg>
													</span>
												</a>
											</div>

										</div>
									</div>

								</div>

								<div class="Card-product__block-info">
									<div class="Card-product__have">
										<span class="Card-product__have-text">В наличии: &gt10 </span>
									</div>

									<div class="Card-product__retail-price">
										<div class="Card-product__retail-price-title">
											<h4 class="Card-product__retail-price-title-text">
												Розничная цена
											</h4>
										</div>
										<div class="Card-product__block-retail-price-value">
											<span class="Card-product__retail-price-value"> 1 145 ₽ </span>
											<span class="Card-product__retail-price-value-old"> 18 818₽ </span>
										</div>


									</div>
									<div class="Card-product__btn-basket">
										<a class="Button Button--lime Button--theme-l" href="#">
											<span class="Button__icon">
												<svg class="Button__icon-svg">
													<use class="Button__icon-svg-use" xlink:href="#basket"></use>
												</svg>
											</span>
											<span class="Button__text">В корзину</span>
										</a>
									</div>

									<div class="Card-product__block-instruments-mobile instruments-mobile-Card-product">

										<div class="instruments-mobile-Card-product__block-left">
											<a class="Icon Icon--gray Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#like"></use>
													</svg>
												</div>
											</a>
											<a class="Icon Icon--gray Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#scales"></use>
													</svg>
												</div>
											</a>
										</div>

										<div class="instruments-mobile-Card-product__block-right">

											<a class="Button Button--lime-light Button--theme-s  " href="#">
												<span class="Button__icon">
													<svg class="Button__icon-svg">
														<use class="Button__icon-svg-use" xlink:href="#feature"></use>
													</svg>
												</span>
											</a>

											<a class="Button Button--lime-light Button--theme-s  " href="#">
												<span class="Button__icon">
													<svg class="Button__icon-svg">
														<use class="Button__icon-svg-use" xlink:href="#basket"></use>
													</svg>
												</span>
											</a>

										</div>

									</div>


								</div>


							</div>
						</div>

						<div class="swiper-slide section-products__slide">
							<div class="Card-product">

								<div class="Card-product__wrapper">
									<div class="Card-product__heading">
										<div class="Card-product__title">
											<h3 class="Card-product__title-text">Волна</h3>
										</div>
										<div class="Card-product__subtitle">
											<span class="Card-product__subtitle-text">Итальянский орех</span>
											<span class="Card-product__subtitle-text">Ламинированные двери</span>
										</div>
										<div class="Card-product__btn-specifications">
											<a class="Button Button--lime Button--theme-s Button--theme-s-n " href="#">
												<span class="Button__icon">
													<svg class="Button__icon-svg">
														<use class="Button__icon-svg-use" xlink:href="#specifications"></use>
													</svg>
												</span>
											</a>
										</div>
									</div>

									<div class="Card-product__block-img">
										<img class="Card-product__img" src="/img/card-product-1.png" alt="product-1" />
										<div class="Card-product__badges-left">


											<span class="Card-product__badges-discount">-25%</span>
											<a class="Icon Icon--lime Icon--theme-m" href="#">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#new"></use>
													</svg>
												</div>
											</a>
											<a class="Icon Icon--gray  Icon--theme-m" href="#">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#bestseller"></use>
													</svg>
												</div>
											</a>
											<a class="Icon Icon--gray  Icon--theme-m" href="#">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#flame"></use>
													</svg>
												</div>
											</a>

											<div class="Card-product__color-selection">
												<ul class="Card-product__list-color-selection">
													<li class="Card-product__item-color-selection Card-product__item-color-selection--gray">
														<a class="Card-product__btn-color-selection" href="#">
														</a>
													</li>
													<li class="Card-product__item-color-selection Card-product__item-color-selection--brown">
														<a class="Card-product__btn-color-selection" href="#">
														</a>
													</li>
													<li class="Card-product__item-color-selection Card-product__item-color-selection--moccasin">
														<a class="Card-product__btn-color-selection" href="#">
														</a>
													</li>
													<li class="Card-product__item-color-selection Card-product__item-color-selection--black">
														<a class="Card-product__btn-color-selection" href="#">
														</a>
													</li>
													<li class="Card-product__item-color-selection Card-product__item-color-selection--gold">
														<a class="Card-product__btn-color-selection" href="#">
														</a>
													</li>
												</ul>
											</div>

											<div class="Card-product__btn-video">
												<a class="Icon  Icon--gray Icon--theme-m" href="#">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#video-card"></use>
														</svg>
													</div>
												</a>
											</div>

										</div>
										<div class="Card-product__badges-right">

											<a class="Icon Icon--gray Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#like"></use>
													</svg>
												</div>
											</a>
											<a class="Icon Icon--gray Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#scales"></use>
													</svg>
												</div>
											</a>

											<div class="Card-product__btn-feature">
												<a class="Button Button--lime-light Button--theme-s Button--theme-s-n " href="#">
													<span class="Button__icon">
														<svg class="Button__icon-svg">
															<use class="Button__icon-svg-use" xlink:href="#feature"></use>
														</svg>
													</span>
												</a>
											</div>

										</div>
									</div>

								</div>

								<div class="Card-product__block-info">
									<div class="Card-product__have">
										<span class="Card-product__have-text">В наличии: &gt10 </span>
									</div>

									<div class="Card-product__retail-price">
										<div class="Card-product__retail-price-title">
											<h4 class="Card-product__retail-price-title-text">
												Розничная цена
											</h4>
										</div>
										<div class="Card-product__block-retail-price-value">
											<span class="Card-product__retail-price-value"> 1 145 ₽ </span>
											<span class="Card-product__retail-price-value-old"> 18 818₽ </span>
										</div>


									</div>
									<div class="Card-product__btn-basket">
										<a class="Button Button--lime Button--theme-l" href="#">
											<span class="Button__icon">
												<svg class="Button__icon-svg">
													<use class="Button__icon-svg-use" xlink:href="#basket"></use>
												</svg>
											</span>
											<span class="Button__text">В корзину</span>
										</a>
									</div>

									<div class="Card-product__block-instruments-mobile instruments-mobile-Card-product">

										<div class="instruments-mobile-Card-product__block-left">
											<a class="Icon Icon--gray Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#like"></use>
													</svg>
												</div>
											</a>
											<a class="Icon Icon--gray Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#scales"></use>
													</svg>
												</div>
											</a>
										</div>

										<div class="instruments-mobile-Card-product__block-right">

											<a class="Button Button--lime-light Button--theme-s  " href="#">
												<span class="Button__icon">
													<svg class="Button__icon-svg">
														<use class="Button__icon-svg-use" xlink:href="#feature"></use>
													</svg>
												</span>
											</a>

											<a class="Button Button--lime-light Button--theme-s  " href="#">
												<span class="Button__icon">
													<svg class="Button__icon-svg">
														<use class="Button__icon-svg-use" xlink:href="#basket"></use>
													</svg>
												</span>
											</a>

										</div>

									</div>


								</div>


							</div>
						</div>


					</div>

					<div class="Swiper-button-next-video-reviews Swiper-button-default">

						<svg class="Swiper-button-default__svg">
							<use class="Swiper-button-default__use" xlink:href="#right-icon-button-slider-1"></use>
						</svg>

					</div>

					<div class="Swiper-button-prev-video-reviews Swiper-button-default">

						<svg class="Swiper-button-default__svg">
							<use class="Swiper-button-default__use" xlink:href="#left-icon-button-slider-1"></use>
						</svg>

					</div>


				</div>
			</div>

			<div class="Tabs__block Tabs__block--not-active" data-identification-tab="1" data-index-tab="3">
				<div class="swiper-container section-products__swiper-container">
					<div class="swiper-wrapper section-products__wrapper">


						<div class="swiper-slide section-products__slide">
							<div class="Card-product">

								<div class="Card-product__wrapper">
									<div class="Card-product__heading">
										<div class="Card-product__title">
											<h3 class="Card-product__title-text">Волна3</h3>
										</div>
										<div class="Card-product__subtitle">
											<span class="Card-product__subtitle-text">Итальянский орех</span>
											<span class="Card-product__subtitle-text">Ламинированные двери</span>
										</div>
										<div class="Card-product__btn-specifications">
											<a class="Button Button--lime Button--theme-s Button--theme-s-n " href="#">
												<span class="Button__icon">
													<svg class="Button__icon-svg">
														<use class="Button__icon-svg-use" xlink:href="#specifications"></use>
													</svg>
												</span>
											</a>
										</div>
									</div>

									<div class="Card-product__block-img">
										<img class="Card-product__img" src="/img/card-product-1.png" alt="product-1" />
										<div class="Card-product__badges-left">


											<span class="Card-product__badges-discount">-25%</span>
											<a class="Icon Icon--lime Icon--theme-m" href="#">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#new"></use>
													</svg>
												</div>
											</a>
											<a class="Icon Icon--gray  Icon--theme-m" href="#">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#bestseller"></use>
													</svg>
												</div>
											</a>
											<a class="Icon Icon--gray  Icon--theme-m" href="#">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#flame"></use>
													</svg>
												</div>
											</a>

											<div class="Card-product__color-selection">
												<ul class="Card-product__list-color-selection">
													<li class="Card-product__item-color-selection Card-product__item-color-selection--gray">
														<a class="Card-product__btn-color-selection" href="#">
														</a>
													</li>
													<li class="Card-product__item-color-selection Card-product__item-color-selection--brown">
														<a class="Card-product__btn-color-selection" href="#">
														</a>
													</li>
													<li class="Card-product__item-color-selection Card-product__item-color-selection--moccasin">
														<a class="Card-product__btn-color-selection" href="#">
														</a>
													</li>
													<li class="Card-product__item-color-selection Card-product__item-color-selection--black">
														<a class="Card-product__btn-color-selection" href="#">
														</a>
													</li>
													<li class="Card-product__item-color-selection Card-product__item-color-selection--gold">
														<a class="Card-product__btn-color-selection" href="#">
														</a>
													</li>
												</ul>
											</div>

											<div class="Card-product__btn-video">
												<a class="Icon  Icon--gray Icon--theme-m" href="#">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#video-card"></use>
														</svg>
													</div>
												</a>
											</div>

										</div>
										<div class="Card-product__badges-right">

											<a class="Icon Icon--gray Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#like"></use>
													</svg>
												</div>
											</a>
											<a class="Icon Icon--gray Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#scales"></use>
													</svg>
												</div>
											</a>

											<div class="Card-product__btn-feature">
												<a class="Button Button--lime-light Button--theme-s Button--theme-s-n " href="#">
													<span class="Button__icon">
														<svg class="Button__icon-svg">
															<use class="Button__icon-svg-use" xlink:href="#feature"></use>
														</svg>
													</span>
												</a>
											</div>

										</div>
									</div>

								</div>

								<div class="Card-product__block-info">
									<div class="Card-product__have">
										<span class="Card-product__have-text">В наличии: &gt10 </span>
									</div>

									<div class="Card-product__retail-price">
										<div class="Card-product__retail-price-title">
											<h4 class="Card-product__retail-price-title-text">
												Розничная цена
											</h4>
										</div>
										<div class="Card-product__block-retail-price-value">
											<span class="Card-product__retail-price-value"> 1 145 ₽ </span>
											<span class="Card-product__retail-price-value-old"> 18 818₽ </span>
										</div>


									</div>
									<div class="Card-product__btn-basket">
										<a class="Button Button--lime Button--theme-l" href="#">
											<span class="Button__icon">
												<svg class="Button__icon-svg">
													<use class="Button__icon-svg-use" xlink:href="#basket"></use>
												</svg>
											</span>
											<span class="Button__text">В корзину</span>
										</a>
									</div>

									<div class="Card-product__block-instruments-mobile instruments-mobile-Card-product">

										<div class="instruments-mobile-Card-product__block-left">
											<a class="Icon Icon--gray Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#like"></use>
													</svg>
												</div>
											</a>
											<a class="Icon Icon--gray Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#scales"></use>
													</svg>
												</div>
											</a>
										</div>

										<div class="instruments-mobile-Card-product__block-right">

											<a class="Button Button--lime-light Button--theme-s  " href="#">
												<span class="Button__icon">
													<svg class="Button__icon-svg">
														<use class="Button__icon-svg-use" xlink:href="#feature"></use>
													</svg>
												</span>
											</a>

											<a class="Button Button--lime-light Button--theme-s  " href="#">
												<span class="Button__icon">
													<svg class="Button__icon-svg">
														<use class="Button__icon-svg-use" xlink:href="#basket"></use>
													</svg>
												</span>
											</a>

										</div>

									</div>


								</div>


							</div>
						</div>

						<div class="swiper-slide section-products__slide">
							<div class="Card-product">

								<div class="Card-product__wrapper">
									<div class="Card-product__heading">
										<div class="Card-product__title">
											<h3 class="Card-product__title-text">Волна</h3>
										</div>
										<div class="Card-product__subtitle">
											<span class="Card-product__subtitle-text">Итальянский орех</span>
											<span class="Card-product__subtitle-text">Ламинированные двери</span>
										</div>
										<div class="Card-product__btn-specifications">
											<a class="Button Button--lime Button--theme-s Button--theme-s-n " href="#">
												<span class="Button__icon">
													<svg class="Button__icon-svg">
														<use class="Button__icon-svg-use" xlink:href="#specifications"></use>
													</svg>
												</span>
											</a>
										</div>
									</div>

									<div class="Card-product__block-img">
										<img class="Card-product__img" src="/img/card-product-2.png" alt="product-1" />
										<div class="Card-product__badges-left">


											<span class="Card-product__badges-discount">-25%</span>
											<a class="Icon Icon--lime Icon--theme-m" href="#">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#new"></use>
													</svg>
												</div>
											</a>
											<a class="Icon Icon--gray  Icon--theme-m" href="#">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#bestseller"></use>
													</svg>
												</div>
											</a>
											<a class="Icon Icon--gray  Icon--theme-m" href="#">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#flame"></use>
													</svg>
												</div>
											</a>

											<div class="Card-product__color-selection">
												<ul class="Card-product__list-color-selection">
													<li class="Card-product__item-color-selection Card-product__item-color-selection--gray">
														<a class="Card-product__btn-color-selection" href="#">
														</a>
													</li>
													<li class="Card-product__item-color-selection Card-product__item-color-selection--brown">
														<a class="Card-product__btn-color-selection" href="#">
														</a>
													</li>
													<li class="Card-product__item-color-selection Card-product__item-color-selection--moccasin">
														<a class="Card-product__btn-color-selection" href="#">
														</a>
													</li>
													<li class="Card-product__item-color-selection Card-product__item-color-selection--black">
														<a class="Card-product__btn-color-selection" href="#">
														</a>
													</li>
													<li class="Card-product__item-color-selection Card-product__item-color-selection--gold">
														<a class="Card-product__btn-color-selection" href="#">
														</a>
													</li>
												</ul>
											</div>

											<div class="Card-product__btn-video">
												<a class="Icon  Icon--gray Icon--theme-m" href="#">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#video-card"></use>
														</svg>
													</div>
												</a>
											</div>

										</div>
										<div class="Card-product__badges-right">

											<a class="Icon Icon--gray Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#like"></use>
													</svg>
												</div>
											</a>
											<a class="Icon Icon--gray Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#scales"></use>
													</svg>
												</div>
											</a>

											<div class="Card-product__btn-feature">
												<a class="Button Button--lime-light Button--theme-s Button--theme-s-n " href="#">
													<span class="Button__icon">
														<svg class="Button__icon-svg">
															<use class="Button__icon-svg-use" xlink:href="#feature"></use>
														</svg>
													</span>
												</a>
											</div>

										</div>
									</div>

								</div>

								<div class="Card-product__block-info">
									<div class="Card-product__have">
										<span class="Card-product__have-text">В наличии: &gt10 </span>
									</div>

									<div class="Card-product__retail-price">
										<div class="Card-product__retail-price-title">
											<h4 class="Card-product__retail-price-title-text">
												Розничная цена
											</h4>
										</div>
										<div class="Card-product__block-retail-price-value">
											<span class="Card-product__retail-price-value"> 1 145 ₽ </span>
											<span class="Card-product__retail-price-value-old"> 18 818₽ </span>
										</div>


									</div>
									<div class="Card-product__btn-basket">
										<a class="Button Button--lime Button--theme-l" href="#">
											<span class="Button__icon">
												<svg class="Button__icon-svg">
													<use class="Button__icon-svg-use" xlink:href="#basket"></use>
												</svg>
											</span>
											<span class="Button__text">В корзину</span>
										</a>
									</div>

									<div class="Card-product__block-instruments-mobile instruments-mobile-Card-product">

										<div class="instruments-mobile-Card-product__block-left">
											<a class="Icon Icon--gray Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#like"></use>
													</svg>
												</div>
											</a>
											<a class="Icon Icon--gray Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#scales"></use>
													</svg>
												</div>
											</a>
										</div>

										<div class="instruments-mobile-Card-product__block-right">

											<a class="Button Button--lime-light Button--theme-s  " href="#">
												<span class="Button__icon">
													<svg class="Button__icon-svg">
														<use class="Button__icon-svg-use" xlink:href="#feature"></use>
													</svg>
												</span>
											</a>

											<a class="Button Button--lime-light Button--theme-s  " href="#">
												<span class="Button__icon">
													<svg class="Button__icon-svg">
														<use class="Button__icon-svg-use" xlink:href="#basket"></use>
													</svg>
												</span>
											</a>

										</div>

									</div>


								</div>


							</div>
						</div>

						<div class="swiper-slide section-products__slide">
							<div class="Card-product">

								<div class="Card-product__wrapper">
									<div class="Card-product__heading">
										<div class="Card-product__title">
											<h3 class="Card-product__title-text">Волна</h3>
										</div>
										<div class="Card-product__subtitle">
											<span class="Card-product__subtitle-text">Итальянский орех</span>
											<span class="Card-product__subtitle-text">Ламинированные двери</span>
										</div>
										<div class="Card-product__btn-specifications">
											<a class="Button Button--lime Button--theme-s Button--theme-s-n " href="#">
												<span class="Button__icon">
													<svg class="Button__icon-svg">
														<use class="Button__icon-svg-use" xlink:href="#specifications"></use>
													</svg>
												</span>
											</a>
										</div>
									</div>

									<div class="Card-product__block-img">
										<img class="Card-product__img" src="/img/card-product-1.png" alt="product-1" />
										<div class="Card-product__badges-left">


											<span class="Card-product__badges-discount">-25%</span>
											<a class="Icon Icon--lime Icon--theme-m" href="#">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#new"></use>
													</svg>
												</div>
											</a>
											<a class="Icon Icon--gray  Icon--theme-m" href="#">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#bestseller"></use>
													</svg>
												</div>
											</a>
											<a class="Icon Icon--gray  Icon--theme-m" href="#">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#flame"></use>
													</svg>
												</div>
											</a>

											<div class="Card-product__color-selection">
												<ul class="Card-product__list-color-selection">
													<li class="Card-product__item-color-selection Card-product__item-color-selection--gray">
														<a class="Card-product__btn-color-selection" href="#">
														</a>
													</li>
													<li class="Card-product__item-color-selection Card-product__item-color-selection--brown">
														<a class="Card-product__btn-color-selection" href="#">
														</a>
													</li>
													<li class="Card-product__item-color-selection Card-product__item-color-selection--moccasin">
														<a class="Card-product__btn-color-selection" href="#">
														</a>
													</li>
													<li class="Card-product__item-color-selection Card-product__item-color-selection--black">
														<a class="Card-product__btn-color-selection" href="#">
														</a>
													</li>
													<li class="Card-product__item-color-selection Card-product__item-color-selection--gold">
														<a class="Card-product__btn-color-selection" href="#">
														</a>
													</li>
												</ul>
											</div>

											<div class="Card-product__btn-video">
												<a class="Icon  Icon--gray Icon--theme-m" href="#">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#video-card"></use>
														</svg>
													</div>
												</a>
											</div>

										</div>
										<div class="Card-product__badges-right">

											<a class="Icon Icon--gray Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#like"></use>
													</svg>
												</div>
											</a>
											<a class="Icon Icon--gray Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#scales"></use>
													</svg>
												</div>
											</a>

											<div class="Card-product__btn-feature">
												<a class="Button Button--lime-light Button--theme-s Button--theme-s-n " href="#">
													<span class="Button__icon">
														<svg class="Button__icon-svg">
															<use class="Button__icon-svg-use" xlink:href="#feature"></use>
														</svg>
													</span>
												</a>
											</div>

										</div>
									</div>

								</div>

								<div class="Card-product__block-info">
									<div class="Card-product__have">
										<span class="Card-product__have-text">В наличии: &gt10 </span>
									</div>

									<div class="Card-product__retail-price">
										<div class="Card-product__retail-price-title">
											<h4 class="Card-product__retail-price-title-text">
												Розничная цена
											</h4>
										</div>
										<div class="Card-product__block-retail-price-value">
											<span class="Card-product__retail-price-value"> 1 145 ₽ </span>
											<span class="Card-product__retail-price-value-old"> 18 818₽ </span>
										</div>


									</div>
									<div class="Card-product__btn-basket">
										<a class="Button Button--lime Button--theme-l" href="#">
											<span class="Button__icon">
												<svg class="Button__icon-svg">
													<use class="Button__icon-svg-use" xlink:href="#basket"></use>
												</svg>
											</span>
											<span class="Button__text">В корзину</span>
										</a>
									</div>

									<div class="Card-product__block-instruments-mobile instruments-mobile-Card-product">

										<div class="instruments-mobile-Card-product__block-left">
											<a class="Icon Icon--gray Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#like"></use>
													</svg>
												</div>
											</a>
											<a class="Icon Icon--gray Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#scales"></use>
													</svg>
												</div>
											</a>
										</div>

										<div class="instruments-mobile-Card-product__block-right">

											<a class="Button Button--lime-light Button--theme-s  " href="#">
												<span class="Button__icon">
													<svg class="Button__icon-svg">
														<use class="Button__icon-svg-use" xlink:href="#feature"></use>
													</svg>
												</span>
											</a>

											<a class="Button Button--lime-light Button--theme-s  " href="#">
												<span class="Button__icon">
													<svg class="Button__icon-svg">
														<use class="Button__icon-svg-use" xlink:href="#basket"></use>
													</svg>
												</span>
											</a>

										</div>

									</div>


								</div>


							</div>
						</div>


					</div>

					<div class="Swiper-button-next-video-reviews Swiper-button-default">

						<svg class="Swiper-button-default__svg">
							<use class="Swiper-button-default__use" xlink:href="#right-icon-button-slider-1"></use>
						</svg>

					</div>

					<div class="Swiper-button-prev-video-reviews Swiper-button-default">

						<svg class="Swiper-button-default__svg">
							<use class="Swiper-button-default__use" xlink:href="#left-icon-button-slider-1"></use>
						</svg>

					</div>


				</div>
			</div>

			<div class="section-products__button">
				<a class="Button Button--gray-light Button--theme-s Button--theme-s-w" href="#">
					<span class="Button__text">Посмотреть все</span>
					<span class="Button__icon">
						<svg class="Button__icon-svg">
							<use class="Button__icon-svg-use" xlink:href="#arrow-right"></use>
						</svg>
					</span>
				</a>
			</div>


		</div>
	</div>
</div>