.section-products {
  @include adaptiv-value("margin-top", 100, 58, 1);
  &__button {
    @include adaptiv-value("margin-top", 40, 20, 1);

    display: flex;
    justify-content: center;
  }

  &__card-product {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  &__cards {
    @include adaptiv-value("margin-top", 40, 20, 1);
  }

  &__tabs {
    display: grid;
    justify-content: center;
    grid-auto-flow: column;
    gap: 10px;

    .Button {
      &__text {
        @include adaptiv-value("font-size", 18, 12, 1);

        margin: 0;
      }

      &--theme-m-w {
        @include adaptiv-value("width", 280, 100, 1);
      }
    }
  }

  &__swiper-container {
    @include adaptiv-value("margin-top", 40, 0, 1);

    padding: 20px 0;
  }

  &__wrapper {

  }

  .swiper-container-autoheight,
  .swiper-container-autoheight .swiper-slide,
  .Card-product {
    height: 100%;
  }
}
