<div class="popup-selection-master" id="popup-selection-master" style="display: none">
	<div class="popup-selection-master__wrapper">
		<div class="popup-selection-master__header">
			<div class="popup-selection-master__header-title Title">
				<div class="Title__wrapper--theme-m Title__wrapper--quartz">
					<h2>Выберите тип ручки</h2>
				</div>
			</div>
		</div>
		<div class="popup-selection-master__body">
			<div class="popup-selection-master__left">
				<div class="popup-selection-master__heading">
					<div class="popup-selection-master__left-title">
						<h3 class="popup-selection-master__left-title-text">
							Добро пожаловать в мастер подбора!
						</h3>
					</div>
					<div class="popup-selection-master__subtitle">
						<span class="popup-selection-master__subtitle-text">
							Выберите тип ручки для выбранной Вами двери
						</span>
					</div>
				</div>
				<form action="" class="popup-selection-master__form-specification">
					<div class="popup-selection-master__type-specification">
						<div class="Radio-btn-default">
							<label class="Radio-btn-default__label">
								<input class="Radio-btn-default__input" type="radio" name="type" value="" disabled>
								<span class="Radio-btn-default__inner-text">
									<span class="Radio-btn-default__text">Ручки купе</span>
								</span>
							</label>
						</div>
						<div class="Radio-btn-default">
							<label class="Radio-btn-default__label">
								<input class="Radio-btn-default__input" type="radio" name="type" value="" checked>
								<span class="Radio-btn-default__inner-text">
									<span class="Radio-btn-default__text">Ручки стандарт</span>
								</span>
							</label>
						</div>
						<div class="Radio-btn-default">
							<label class="Radio-btn-default__label">
								<input class="Radio-btn-default__input" type="radio" name="type" value="">
								<span class="Radio-btn-default__inner-text">
									<span class="Radio-btn-default__text">Ручки на планке</span>
								</span>
							</label>
						</div>
						<div class="Radio-btn-default">
							<label class="Radio-btn-default__label">
								<input class="Radio-btn-default__input" type="radio" name="type" value="">
								<span class="Radio-btn-default__inner-text">
									<span class="Radio-btn-default__text">Ручки со встроенным
										механизмом</span>
								</span>
							</label>
						</div>
					</div>
				</form>
			</div>
			<div class="popup-selection-master__middle">
				<div class="popup-selection-master__block-img">
					<img src="img/not-img.jpg" alt="" class="popup-selection-master__img Bgi">
				</div>
				<div class="popup-selection-master__middle-heading">
					<div class="popup-selection-master__middle-title">
						<h3 class="popup-selection-master__middle-title-text">Ручки на планке</h3>
					</div>
					<div class="popup-selection-master__middle-subtitle">
						<span class="popup-selection-master__middle-subtitle-text">
							Дверные ручки идут со встроенным замком. Подходят для межкомнатных дверей. Часто используются в офисе или дома
						</span>
					</div>
				</div>
			</div>
			<div class="popup-selection-master__right">
				<div class="popup-selection-master__right-heading popup-selection-master__right-heading--active">
					<div class="popup-selection-master__right-heading-title">
						<h3 class="popup-selection-master__right-heading-title-text">
							Тип ручки: 
						</h3>
					</div>
					<div class="popup-selection-master__right-heading-subtitle">
						<span class="popup-selection-master__right-heading-subtitle-text">
							Ручки на планке
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="popup-selection-master__footer">
			<div class="popup-selection-master__btn">
				<button class="Button Button--lime Button--theme-xs Button--theme-xs-w">
					<span class="Button__text">Ручки</span>
					<span class="Button__icon">
						<svg class="Button__icon-svg">
							<use class="Button__icon-svg-use" xlink:href="#arrow"></use>
						</svg>
					</span>
				</button>
			</div>
		</div>
	</div>
</div>