.popup-selection-master {
  padding: 22px 40px 40px 40px;
  max-width: 1000px;
  width: 100%;
  min-height: 600px;
  &__block-img {
    position: relative;
    padding-top: 100%;
    border: 1px dashed #bdc0cf;
    border-radius: 6px;
  }
  &__body {
    display: flex;
    margin-top: 38px;
    width: 100%;
  }
  &__btn {
  }
  &__footer {
    .Button {
      margin-top: 33px;
      &__icon {
        margin-left: 11px;
      }
    }
  }
  &__form-specification {
    margin-top: 37px;
  }
  &__header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
  &__header-title {
    font-weight: 600;
    @include adaptiv-value("font-size", 28, 18, 1);
    line-height: 118%;
  }
  &__heading {
  }
  &__img {
    border-radius: 6px;
  }
  &__left {
    display: flex;
    flex-direction: column;
    flex: 1 1 33.333%;
    padding-right: 20px;
  }
  &__left-title {
    text-align: left;
    color: $lime;
    font-weight: 600;
    @include adaptiv-value("font-size", 22, 16, 1);
    line-height: 118%;
  }
  &__middle {
    display: flex;
    flex-direction: column;
    flex: 1 1 33.333%;
    padding: 0 20px;
    border-left: 1px solid $gray-border;
    border-right: 1px solid $gray-border;
  }
  &__middle-title {
    margin-top: 10px;
    font-weight: 600;
    color: $black;
    line-height: 118%;
  }
  &__middle-subtitle {
    margin-top: 6px;
  }
  &__right {
    display: flex;
    flex-direction: column;
    flex: 1 1 33.333%;
    padding-left: 20px;
  }
  &__right-heading {
		display: flex;
		&--active {
			background: #F9FAFF;
			border-radius: 8px;
			padding: 10px 6px 8px 11px;
		}
  }
  &__right-heading-subtitle {
		margin-left: 5px;
		color: $black;
  }
  &__right-heading-subtitle-text {
  }
  &__right-heading-title {
  }
  &__right-heading-title-text {
  }
  &__subtitle {
    margin-top: 10px;
  }
  &__subtitle-text {
  }
  &__type-specification > .Radio-btn-default:not(:first-child) {
    margin-top: 10px;
  }
  &__type-specification-text {
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

