<div class="Bread-crumbs">
	<ul class="Bread-crumbs__list">
		<li class="Bread-crumbs__list-item"><a href="#" class="Bread-crumbs__link"><span class="Bread-crumbs__link-text">Главная</span></a></li>
		<li class="Bread-crumbs__list-item"><a href="#" class="Bread-crumbs__link"><span class="Bread-crumbs__link-text">Каталог товаров</span></a></li>
		<li class="Bread-crumbs__list-item"><a href="#" class="Bread-crumbs__link"><span class="Bread-crumbs__link-text">Межкомнатные двери</span></a></li>
		<li class="Bread-crumbs__list-item Bread-crumbs__list-item--black"><a href="#" class="Bread-crumbs__link"><span class="Bread-crumbs__link-text Bread-crumbs__link-text--black">Ламинированные двери</span></a></li>
	</ul>
</div>