<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/libs-styles.min.css">
<link rel="stylesheet" href="css/main.min.css">

<title>@title</title>