// .popup-success {

// }
// .popup-success-form {
// 	border-radius: 25px;
// 		&__inner {

// 		}

// 		&__body {
// 			display: flex;
// 			justify-content: center;
// 			align-items: center;
// 			flex-direction: column;
// 			@include adaptiv-value("padding-top", 41, 2, 1);
// 			@include adaptiv-value("padding-bottom", 41, 2, 1);
// 			@include adaptiv-value("padding-right", 174, 10, 1);
// 			@include adaptiv-value("padding-left", 174, 10, 1);
// 		}

// 		&__block-title {
// 		}

// 		&__title {
// 			@include adaptiv-value("font-size", 31, 20, 1);
// 			font-weight: 500;
// 			color: $purple;
// 			text-align: center;
// 			line-height: 29px;
// 		}

// 		&__subtitle {
// 			display: block;
// 			margin-top: 1px;
// 			@include adaptiv-value("font-size", 31, 20, 1);
// 			font-weight: 400;
// 			text-align: center;
// 			line-height: 29px;
// 			max-width: 673px;
// 		}
// 		&__btn {
// 			@include adaptiv-value("margin-top", 60, 30, 1);
// 		}
// }
// .popup-form {

// 		&__svg {
// 		}

// 		&__use {
// 		}
// }
// .popup-order-service {

// 		&__subtitle {
// 		}

// 		&__button {
// 		}
// }
// .Button {

// 		&__text {
// 		}
// }
// .Button--color-hardPurple {
// }
// .Button--theme-md {
// }
