.section-benefits {
  margin-top: 40px;

  &__wrapper {
    @include adaptiv-value("padding-top", 65, 0, 1);
    @include adaptiv-value("padding-bottom", 65, 51, 1);
    @include adaptiv-value("padding-left", 65, -40, 1);
    @include adaptiv-value("padding-right", 65, -40, 1);
    @include adaptiv-value("min-height", 630, 320, 1);

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background: url("/img/benefits-bg-full.jpg") 0 0 no-repeat;
    background-position: center;
    background-size: contain;
  }

  &__content {
    @include adaptiv-value("margin-top", 72, 38, 1);
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__block-map {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
    margin-bottom: 70px;
  }

  &__items {
    @include adaptiv-value("width", 435, 145, 1);

    display: flex;
    flex-direction: column;

    :first-child {
      margin-top: 0;
    }

    li:nth-child(2) {
      @include adaptiv-value("margin-right", 58, 1, 1);
    }

    &--left {
      li:nth-child(2) {
        @include adaptiv-value("margin-left", 58, 10, 1);

        margin-right: 0;
      }

      .section-benefits__item-text {
        order: 1;
      }
    }
  }

  &__item {
    @include adaptiv-value("margin-top", 83, 0, 1);

    display: flex;
    align-items: center;
    justify-content: flex-end;

    &--start {
      justify-content: flex-start;
    }
  }

  &__icon-svg {
    @include adaptiv-value("width", 80, 50, 1);
    @include adaptiv-value("height", 80, 50, 1);
    @include adaptiv-value("margin-left", 11, 1, 1);

    flex-shrink: 0;
    margin-right: 0;

    &--right {
      @include adaptiv-value("margin-right", 11, -5, 1);

      margin-left: 0;
    }
  }

  &__item-text {
    @include adaptiv-value("font-size", 22, 14, 1);
    @include adaptiv-value("line-height", 26, 17, 1);

    text-align: center;
    color: $lime;
  }

  &__button {
    @include adaptiv-value("font-size", 16, 10, 1);
  }
}
