.best-quality-guarantee {
  .Bread-crumbs {
    margin-top: 20px;
  }

  .Banner {
    margin-top: 20px;

    &__block-img {
      @include adaptiv-value("height", 390, 83, 1);
    }
  }

  &__description {
    @include adaptiv-value("padding-top", 55, 20, 1);
    @include adaptiv-value("padding-bottom", 70, 50, 1);

    :first-child {
      margin: 0;
    }

    ul {
      @include adaptiv-value("margin-top", 30, 10, 1);

      list-style: inside;
      margin-left: 30px;
    }

    li {
      @include adaptiv-value("line-height", 32, 17, 1);
      @include adaptiv-value("font-size", 18, 14, 1);

      margin-top: 5px;
      color: $black;
    }

    p {
      @include adaptiv-value("margin-top", 30, 10, 1);
      @include adaptiv-value("font-size", 18, 14, 1);
      @include adaptiv-value("line-height", 25, 15, 1);

      color: $black;
    }

    b {
      @include adaptiv-value("font-size", 18, 14, 1);
      @include adaptiv-value("line-height", 32, 17, 1);

      font-weight: 600;
      color: $black;
    }
  }

  &__clarification {
    @include adaptiv-value("font-size", 18, 14, 1);
    @include adaptiv-value("line-height", 25, 14, 1);
    @include adaptiv-value("margin-top", 30, 10, 1);

    display: block;
  }

  &__subtitle {
    @include adaptiv-value("margin-top", 60, 25, 1);
    @include adaptiv-value("font-size", 18, 14, 1);
    @include adaptiv-value("line-height", 33, 19, 1);

    display: block;
    font-weight: 600;
    text-align: left;
    color: $black;
  }

  &__wrapper {
  }
}
