<section class="best-quality-guarantee">
	<div class="Container Max-width">
		@include('../../components/block/bread-crumbs/bread-crumbs.html')
		<div class="best-quality-guarantee__wrapper">
			<div class="Banner">
				<div class="Banner__block-img">
					<img class="Banner__img" src="img/best-quality-guarantee-page-banner.jpg" alt="" />
				</div>
			</div>

			<div class="best-quality-guarantee__content">
				<div class="best-quality-guarantee__text-content">
					<article class="best-quality-guarantee__description">
						<p>Уважаемые клиенты! В магазинах Tandoor действует программа «Гарантия лучшей цены». Мы предлагаем Вам лучшие цены и гарантируем самые выгодные условия приобретения входных и межкомнатных дверей. Если найдете товар дешевле в другом магазине, мы снизим нашу цену прямо на кассе!</p>
						<span class="best-quality-guarantee__subtitle">Как воспользоваться программой «Гарантия лучшей цены»</span><b> </b>
						<ul>
							<li>Предоставить подтверждение цены ниже нашей в другом магазине (фото с ценой и описанием, название и точный адрес магазина)</li>
							<li>Мы вместе его проверим</li>
							<li>Снизим нашу цену прямо на кассе</li>
							</ul>
							<span class="best-quality-guarantee__clarification">* Цена по программе не суммируется с другими скидками.</span><b> </b>
							<p>Товар ниже цены конкурента продаётся при соблюдении нижеперечисленных условий во всех магазинах Tandoor, а также в интернет-магазине:</p>
							<p>Предложения магазинов Tandoor и конкурента идентичны: наименование товара, модель, комплектация и цвет полностью совпадают.</p>
							<p>Подтверждением цены конкурента являются: официальный сайт конкурента (с учётом города расположения магазинов), оригинальный рекламный материал, действующий на момент обращения в магазин Tandoor.</p>
							<span class="best-quality-guarantee__subtitle">При сравнении учитываются только цены:</span><b> </b>
							<ul>
								<li>Относящиеся к месту нахождения магазинов Tandoor</li>
								<li>Без учёта применения индивидуальных скидок, специальных скидочных средств (купоны, подарочные карты, и т.п.), скидок на комплекты, скидок по акционным кредитным программам (рассрочка 0-0-…), дополнительных скидок, полученных на сайте конкурента через предложение более низкой цены;</li>
								<li>Не являющиеся очевидной ценовой или типографской ошибкой.</li>
								</ul>
								<span class="best-quality-guarantee__subtitle">Действие программы «ГАРАНТИЯ ЛУЧШЕЙ ЦЕНЫ! Найдете дешевле – сделаем скидку!» не распространяется:</span><b> </b>
								<ul>
									<li>На услуги, предоставляемые компанией;</li>
									<li>На иные скидочные программы.</li>
									</ul>
									<p>Цена по программе является конечной и не сочетается с другими скидками и акциями, проводимыми в магазинах Tandoor.</p>
									<p>Менеджер по продажам компании вправе отказать в обращении по программе «ГАРАНТИЯ ЛУЧШЕЙ ЦЕНЫ! Найдете дешевле – сделаем скидку», если не имеется возможности достоверно убедиться в идентичности предложения конкурента или актуальности его цены.</p>
									
									<span class="best-quality-guarantee__subtitle">Программа «Гарантия лучшей цены» действует в городах: Краснодар, Анапа, Армавир, Сочи, Славянск-на-Кубани, Батайск, Кореновск, Белореченск, Ставрополь, Тимашевск.</span><b> </b>
						<br />
					</article>
				</div>
			</div>


			<div class="Title">
				<div class="Title__wrapper--theme-m Title__wrapper--quartz">
					<h2>Интересные акции</h2>
				</div>
			</div>

			<div class="Card-medium">
        <div class="Card-medium__list text-overflow-js" data-text-sum="59">

          <div class="Card-medium__list-item">
            <div class="Card-medium__item-content">
              <div class="Card-medium__item-title">
                <h3 class="Card-medium__item-title-text">Керчь, Майкоп, Грозный</h3>
              </div>
              <div class="Card-medium__item-description">
                <h4 class="Card-medium__item-description-text text-overflow-ellipsis-js">Узнайте на какие модели действуют скидочные предложения и в…</h4>
              </div>
              <div class="Card-medium__item-link">
                <a class="Link Link--lime-decor" href="#">Читать дальше...</a>
              </div>
            </div>
            <div class="Card-medium__block-img">
              <img class="Card-medium__img" src="img/promo-item-4.jpg" alt="">
            </div>
          </div>
          <div class="Card-medium__list-item">
            <div class="Card-medium__item-content">
              <div class="Card-medium__item-title">
                <h3 class="Card-medium__item-title-text">Новые петли Code Deco</h3>
              </div>
              <div class="Card-medium__item-description">
                <h4 class="Card-medium__item-description-text text-overflow-ellipsis-js">*Подробности уточняйте у менеджеров в магазинах "Tandoor”</h4>
              </div>
              <div class="Card-medium__item-link">
                <a class="Link Link--lime-decor" href="#">Читать дальше...</a>
              </div>
            </div>
            <div class="Card-medium__block-img">
              <img class="Card-medium__img" src="img/promo-item-5.jpg" alt="">
            </div>
          </div>
          <div class="Card-medium__list-item">
            <div class="Card-medium__item-content">
              <div class="Card-medium__item-title">
                <h3 class="Card-medium__item-title-text">Итальянская панель ArtWood</h3>
              </div>
              <div class="Card-medium__item-description">
                <h4 class="Card-medium__item-description-text text-overflow-ellipsis-js">История создания многослойных панелей ArtWood из массива ду…</h4>
              </div>
              <div class="Card-medium__item-link">
                <a class="Link Link--lime-decor" href="#">Читать дальше...</a>
              </div>
            </div>
            <div class="Card-medium__block-img">
              <img class="Card-medium__img" src="img/promo-item-6.jpg" alt="">
            </div>
          </div>
  
        </div>
      </div>

			@include('../../components/block/bread-crumbs/bread-crumbs.html')
			@include('../../components/block/navigation/navigation.html')
		</div>
	</div>
</section>