<section class="about-us-page">
	<div class="Container Max-width">
		@include('../../components/block/bread-crumbs/bread-crumbs.html')
		<div class="about-us-page__wrapper">
			<div class="Banner">
				<div class="Banner__block-img">
					<img class="Banner__img" src="img/about-us-banner.jpg" alt="" />
				</div>
			</div>

			<div class="about-us-page__content">
				<div class="about-us-page__text-content">
					<article class="about-us-page__description">
						<span class="about-us-page__subtitle">История компании:</span><b> </b>
						<p>
							Компания Тандор была основана 17 ноября 2009 года. За 11 лет
							стремительного роста мы достигли высоких показателей в дверной
							индустрии. На сегодняшний день компания «Тандор» является лидером
							рынка производителей входных и межкомнатных дверей на Юге
							России.&nbsp; Основным направлением является производство входных
							и межкомнатных дверей. Мы осуществляем оптовые поставки наших
							товаров клиентам на территории не только <b>ЮФО</b> и республики
							<b>Крым</b>, а также в <b>республики Северного Кавказа</b>.
						</p>
						<span class="about-us-page__subtitle">Наши преимущества:</span><b> </b>
						<ul>
							<li>40 производственных площадок</li>
							<li>
								Сотрудничаем с 10 партнерами мирового уровня по фурнитуре и
								напольным покрытиям
							</li>
							<li>
								2 дистрибьюторских центра на территории Краснодарского края и
								республики Крым
							</li>
							<li>
								Собственные логистические центры общей площадью 10 000 кв.м.
								вмещают более 20 000 полотен дверей
							</li>
							<li>
								Более 1000 сотрудников трудятся каждый день над созданием
								высококачественных товаров под маркой «Tandoor»
							</li>
							<li>Полноценный тренинговый центр</li>
							<li>
								Собственный iTi-парк, который осуществляет полное программное
								сопровождение
							</li>
							<li>
								ОТК компании осуществляет независимый контроль соответствия
								продукции согласно установленным требованиям и гарантирует
								соблюдение качества
							</li>
							<li>
								Собственный автопарк с 30 автомобилями различной
								грузоподъемности осуществляют бесперебойную поставку товара по
								всей территории покрытия
							</li>
							<li>
								Наша активная клиентская база насчитывает 800 оптовых партнеров
							</li>
						</ul>
						<b> </b><span class="about-us-page__subtitle">Сравнивая, выбирают нас!</span>
						<p>
							<b>У нас Вы найдете именно то, что искали:</b>
						</p>
						<p>
							<b><span><a class="Link Link--lime-decor"
										href="https://tandoor.ru/catalog/mezhkomnatnye-dveri/">Межкомнатные двери</a>.&nbsp;</span></b>Более
							1000 моделей от доступных ламинированных дверей до дверей,
							выполненных из ценных пород дерева.&nbsp;
						</p>
						<p>
							<b><span><a class="Link Link--lime-decor"
										href="https://tandoor.ru/catalog/furnitura/">Фурнитура</a>.&nbsp;</span></b>Большой выбор фурнитуры
							от популярных и доступных комплектаций,
							до премиальных международных брендов. У нас вы найдете фурнитуру
							для любой двери и на любой вкус!&nbsp;
						</p>
						<p>
							<b><span><a class="Link Link--lime-decor" href="https://tandoor.ru/catalog/vkhodnye-dveri/">Входные
										двери</a>.&nbsp;</span></b>Мы предлагаем более 100 моделей входных дверей от бюджетных до
							премиальных моделей, выполненных по вашим индивидуальным
							заказам.&nbsp;
						</p>
						<p>
							<b><span><a class="Link Link--lime-decor"
										href="https://tandoor.ru/catalog/aksessuary_2/">Аксессуары</a>.&nbsp;</span></b>Видеоглазки, звонки,
							средства по уходу и специализированная химия
							— вот только малая часть из того, что вы найдете у нас. Все
							аксессуары прекрасно дополнят выбранную вами дверь!&nbsp;
						</p>
						<p>
							Вам точно понравится наш ассортимент. Он настолько широк и
							разнообразен, что никто не останется равнодушным, вне зависимости
							от своих вкусов и предпочтений! Ознакомьтесь с нашим ассортиментом
							и ценами, и мы откроем для вас мир дверей и напольных покрытий!
						</p>
						<p>
							<b>Марка Tandoor – это высокое качество изделий по приемлемым
								ценам.</b>
						</p>
						<p>
							<b>Самое главное – у нас индивидуальный подход к каждому клиенту!!
								Мы знаем, какие двери вам нужны! В нашем каталоге вы найдете
								двери своей мечты!</b>
						</p>
						<p>
							<b> Приглашаем к сотрудничеству!</b>
						</p>
						<div class="about-us-page__phone">
							<a href="tel:89884736360" class="Link Link--lime-decor">8(988)473-63-60</a>
						</div>
						<br />
					</article>
				</div>
			</div>

			<div class="Card-simple">
				<div class="Card-simple__list">

					<a class="Card-simple__item" href="#">
						<div class="Card-simple__block-img">
							<img class="Card-simple__img" src="img/about-us-page-item-1.jpg" alt="" />
						</div>

						<div class="Card-simple__content">
							<div class="Card-simple__item-title">
								<h3 class="Card-simple__item-title-text">
									Розыгрыш квартиры в Краснодаре
								</h3>
							</div>
						</div>
					</a>

					<a class="Card-simple__item" href="#">
						<div class="Card-simple__block-img">
							<img class="Card-simple__img" src="img/about-us-page-item-2.jpg" alt="" />
						</div>

						<div class="Card-simple__content">
							<div class="Card-simple__item-title">
								<h3 class="Card-simple__item-title-text">
									Розыгрыш квартиры в Краснодаре
								</h3>
							</div>
						</div>
					</a>

					<a class="Card-simple__item" href="#">
						<div class="Card-simple__block-img">
							<img class="Card-simple__img" src="img/about-us-page-item-3.jpg" alt="" />
						</div>

						<div class="Card-simple__content">
							<div class="Card-simple__item-title">
								<h3 class="Card-simple__item-title-text">
									Розыгрыш квартиры в Краснодаре
								</h3>
							</div>
						</div>
					</a>

					<a class="Card-simple__item" href="#">
						<div class="Card-simple__block-img">
							<img class="Card-simple__img" src="img/about-us-page-item-4.jpg" alt="" />
						</div>

						<div class="Card-simple__content">
							<div class="Card-simple__item-title">
								<h3 class="Card-simple__item-title-text">
									Розыгрыш квартиры в Краснодаре
								</h3>
							</div>
						</div>
					</a>

					<a class="Card-simple__item" href="#">
						<div class="Card-simple__block-img">
							<img class="Card-simple__img" src="img/about-us-page-item-5.jpg" alt="" />
						</div>

						<div class="Card-simple__content">
							<div class="Card-simple__item-title">
								<h3 class="Card-simple__item-title-text">
									Розыгрыш квартиры в Краснодаре
								</h3>
							</div>
						</div>
					</a>

					<a class="Card-simple__item" href="#">
						<div class="Card-simple__block-img">
							<img class="Card-simple__img" src="img/about-us-page-item-6.jpg" alt="" />
						</div>

						<div class="Card-simple__content">
							<div class="Card-simple__item-title">
								<h3 class="Card-simple__item-title-text">
									Розыгрыш квартиры в Краснодаре
								</h3>
							</div>
						</div>
					</a>





				</div>
			</div>

			@include('../../components/block/bread-crumbs/bread-crumbs.html')
			@include('../../components/block/navigation/navigation.html')
		</div>
	</div>
</section>