.about-us-page {
  .Bread-crumbs {
    margin-top: 20px;
  }

  .Banner {
    margin-top: 20px;

    &__block-img {
      @include adaptiv-value("height", 200, 100, 1);
    }
  }

  &__description {
    padding: 55px 0 30px;

    ul {
      @include adaptiv-value("margin-top", 30, 10, 1);

      list-style: disc;
      margin-left: 30px;
    }

    li {
      @include adaptiv-value("line-height", 32, 17, 1);
      @include adaptiv-value("font-size", 18, 14, 1);

      margin-top: 5px;
      color: $black;
    }

    p {
      @include adaptiv-value("margin-top", 30, 10, 1);
      @include adaptiv-value("font-size", 18, 14, 1);
      @include adaptiv-value("line-height", 25, 15, 1);

      color: $black;
    }

    b {
      @include adaptiv-value("font-size", 18, 14, 1);
      @include adaptiv-value("line-height", 32, 17, 1);

      font-weight: 600;
      color: $black;
    }
  }

  &__phone {
    @include adaptiv-value("font-size", 18, 16, 1);
    @include adaptiv-value("line-height", 25, 16, 1);
  }

  &__subtitle {
    @include adaptiv-value("margin-top", 60, 25, 1);
    @include adaptiv-value("font-size", 28, 16, 1);
    @include adaptiv-value("line-height", 33, 19, 1);

    display: block;
    font-weight: 600;
    font-size: 28px;
    text-align: left;
    color: $black;
  }

  &__wrapper {
  }
}
