.gui-page {
  padding: 50px 100px;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #fff;

  .Map-site-gui {
    &__list {
      display: grid;
      justify-items: center;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
    }

    &__item {
      font-weight: 600;
      text-transform: uppercase;

      a {
        transition: $transition;
      }

      &:hover > a {
        color: blue;
      }
    }
  }

  &__title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
  }

  &__container-elements {
    margin: 0 -15px 30px;
  }

  &__section-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
  }

  &__block-theme {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
  }

  &__block-element {
    padding: 0 15px 20px;
  }

  &__block-element-map {
    display: grid;
    padding: 0 15px 20px;
    width: 100%;
  }
}
