.section-products__slide {
  .Card-product {
    &__block-img {
      padding: 50%;
			.Badges {
				.Pos--centerXY {
					left: 20%;
					top: 60%;
				}
			}
    }
		&__img {
			transform: translateX(22%);
			width: 70%;
		}

  }
}
