.interior-door-card {
  .Bread-crumbs {
		margin-top: 20px;
		margin-bottom: 10px;
	}
	&__header {
		display: flex;
  }
	.header-interior-door-card {
	
		&__content-Product-description-Description {
			display: flex;
			flex-direction: column;
			flex: 1 1 57.69%;
		}
		&__content-Thumbnail-slide-Video {
			max-width: 40.77%;
			display: flex;
			flex-direction: column;
			flex: 1 1 40.77%;
			margin-right: 20px;

			.Video {
				margin-top: 20px;
			}
			
		}
	}
	.body-interior-door-card {
		margin-top: 45px;
	}
	&__fotter {
		margin-bottom: 40px;
	}
  &__wrapper {
  }
}
