.address-content {
  display: flex;
  align-items: flex-start;
  margin: 0 0 6px;
  width: 227px;
  min-height: 30px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;

  &__list-title {
    font-weight: 300;
  }
}

.address__block-icon {
  margin: 0 12px 0 0;
}

.address__svg {
  width: 11px;
  height: 15px;
}
