.Card-begginer {
  &__block-img {
    transition: $transition;
  }

  &__content {
    margin-left: 45px;
  }

  &__list-item {
    @include adaptiv-value("padding-top", 40, 5, 1);
    @include adaptiv-value("padding-bottom", 40, 5, 1);
    @include adaptiv-value("padding-left", 35, 5, 1);
    @include adaptiv-value("padding-right", 35, 5, 1);
  }

  &__block-information {
    display: flex;
    margin-top: 37px;

    .Button {
      margin-left: 20px;

      &__icon-svg {
        margin: 0;
        width: 24px;
        height: 24px;
      }

      &__icon {
        margin-right: 10px;
      }
    }

    .Feedback {
      &__block-number {
      }

      &__call {
      }

      &__icon-svg {
      }

      &__icon-svg-use {
      }

      &__number {
      }

      &__number-icon {
      }

      &__wrapper {
        max-width: 100%;
      }
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__item-description {
    margin-top: 20px;
  }

  &__item-description-text {
    @include adaptiv-value("font-size", 18, 16, 1);
    @include adaptiv-value("line-height", 21, 16, 1);
  }

  &__item-title-text {
    @include adaptiv-value("font-size", 28, 22, 1);
    @include adaptiv-value("line-height", 33, 26, 1);

    font-weight: 600;
    color: $black;
  }

  &__list {
    @include adaptiv-value("margin-top", 70, 18, 1);

    display: grid;
    justify-content: center;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(58%, 727px));
  }

  &__list-item {
    display: grid;
    align-items: center;
    grid-template-columns: 30% 70%;
    box-shadow: 0 5px 15px rgba(143, 150, 176, 0.3);
    transition: $transition;

    &:hover {
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      transform: scale(1.02) translate(0, -4px);
    }

    &:hover > .Card-begginer__block-img {
      filter: brightness(1.1);
    }
  }
}

.Card-simple {
  &__block-img {
    position: relative;
    overflow: hidden;
    padding-bottom: 53%;
    transition: $transition;
  }

  &__content {
  }

  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__item {
    display: grid;
    grid-template-columns: repeat(auto-fit, 100%);
    grid-template-rows: 2.4fr 100%;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(143, 150, 176, 0.3);
    text-overflow: ellipsis;
    transition: $transition;
    cursor: pointer;

    &:hover {
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      transform: scale(1.02) translate(0, -4px);
    }

    &:hover > .Card-simple__block-img {
      filter: brightness(1.1);
    }
  }

  &__item-title {
    padding: 33px 20px;
  }

  &__item-title-text {
    @include adaptiv-value("font-size", 22, 18, 1);
    @include adaptiv-value("line-height", 26, 21, 1);

    font-weight: 600;
    text-align: left;
    color: $black;
  }

  &__list {
    @include adaptiv-value("margin-top", 70, 0, 1);

    display: grid;
    justify-content: center;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.Card-medium {
  &__item-content {
    @include adaptiv-value("padding-top", 20, 20, 1);
    @include adaptiv-value("padding-right", 20, 20, 1);
    @include adaptiv-value("padding-bottom", 20, 20, 1);
    @include adaptiv-value("padding-left", 20, 20, 1);

    cursor: pointer;
  }

  &__block-img {
    position: relative;
    order: -1;
    overflow: hidden;
    padding-bottom: 33%;
    transition: $transition;
    transition: 0.3s all;
    pointer-events: none;
  }

  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  &__item-description {
    margin-top: 5px;
  }

  &__item-description-text {
    @include adaptiv-value("font-size", 16, 14, 1);

    line-height: 19px;
  }

  &__item-title {
  }

  &__item-title-text {
    @include adaptiv-value("font-size", 16, 14, 1);

    font-weight: 600;
    color: $black;
  }

  &__list {
    @include adaptiv-value("margin-top", 70, 18, 1);

    display: grid;
    justify-content: center;
    grid-gap: 20px 10px;
    grid-template-columns: repeat(3, 1fr);
  }

  &__list-item {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, 100%);
    box-shadow: 0 5px 15px rgba(143, 150, 176, 0.3);
    transition: $transition;

    &:hover {
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      transform: scale(1.02) translate(0, -4px);
    }

    &:hover > .promo-page__block-img {
      filter: brightness(1.1);
    }
  }

  &__item-link {
    margin-top: 5px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }
}

.Card-elementary {
  &__list {
    @include adaptiv-value("margin-top", 70, 18, 1);

    display: grid;
    justify-content: center;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(58%, 727px));
  }

  &__list-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0 5px 15px rgba(143, 150, 176, 0.3);
    transition: $transition;

    &:hover {
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      transform: scale(1.02) translate(0, -4px);
    }

    &:hover > .item-Card-elementary__block-img {
      filter: brightness(1.1);
    }
  }

  .Contacts {
    &__block-info {
      @include adaptiv-value("margin-top", 38, 0, 1);

      .Contacts {
        &__item-content {
          @include adaptiv-value("margin-top", 20, 10, 1);
        }
      }
    }

    &__item-content {
    }

    &__item-icon {
    }

    &__item-icon-svg {
      @include adaptiv-value("height", 24, 18, 1);
      @include adaptiv-value("width", 24, 18, 1);
    }

    &__item-icon-svg-use {
    }

    &__item-information {
      p {
        @include adaptiv-value("font-size", 22, 14, 1);
        @include adaptiv-value("line-height", 26, 16, 1);

        color: $black;
      }
    }

    &__item-information-link {
      @include adaptiv-value("font-size", 22, 14, 1);
      @include adaptiv-value("line-height", 26, 16, 1);
    }

    &__item-title {
      @include adaptiv-value("margin-top", 10, 5, 1);

      margin-left: 35px;
    }

    &__item-city {
    }

    &__item-title-text {
      @include adaptiv-value("font-size", 28, 16, 1);
      @include adaptiv-value("line-height", 33, 19, 1);
    }

    &__list {
      grid-template-columns: auto;
    }

    &__list-item {
    }
  }

  .item-Card-elementary {
    &__block-img {
      width: 100%;
      height: 100%;
      transition: $transition;
    }

    &__block-img-size {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__content {
      @include adaptiv-value("padding-top", 10, 10, 1);
      @include adaptiv-value("padding-bottom", 10, 10, 1);
      @include adaptiv-value("padding-left", 50, 19, 1);
      @include adaptiv-value("padding-right", 20, 19, 1);

      display: flex;
      align-items: center;
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__slide {
      max-height: 380px;
    }

    &__swiper-container {
      width: 100%;
      height: 100%;
    }

    &__wrapper {
      display: flex;
      align-items: center;
    }

    .Swiper-button-default__svg {
      fill: $lime;
    }
  }
}

.Card-buy {
  &__block-img {
    height: 140px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__item-products {
    display: grid;
    grid-template-columns: 1fr 4fr;
    box-shadow: 0 5px 15px rgba(143, 150, 176, 0.3);
  }

  &__list-products {
    .hidden {
      display: none !important;
      opacity: 0;
      visibility: hidden;
    }

    .item-Card-buy {
      &__amount {
        @include adaptiv-value("padding-top", 24, 16, 1);
        @include adaptiv-value("padding-bottom", 24, 16, 1);
        @include adaptiv-value("padding-left", 13, 0, 1);
        @include adaptiv-value("padding-right", 17, 4, 1);

        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid $gray-border;

        .Button {
          &__icon-svg {
            margin-left: 15px;
            transform: rotate(270deg);
          }

          &:hover > .Button__icon > .Button__icon-svg {
            transform: rotate(90deg);
          }

          &--theme-s {
            @include adaptiv-value("width", 140, 130, 1);

            min-height: 32px;
          }
        }
      }

      &__amount-btn {
        padding-left: 20px;
      }

      &__amount-desc {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      &__amount-desc-text {
        @include adaptiv-value("font-size", 16, 12, 1);
        @include adaptiv-value("line-height", 19, 14, 1);

        margin: 0 10px;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }

        &:nth-child(2) {
          margin-right: 0;
        }
      }

      &__amount-desc-text-decoration {
        @include adaptiv-value("font-size", 16, 12, 1);
        @include adaptiv-value("line-height", 19, 14, 1);

        margin-left: 5px;
        font-weight: 600;
        color: $black;
      }

      &__badges {
        position: absolute;
        left: 9px;
        top: 15px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        :not(:first-child) {
          margin-top: 10px;
        }

        .Icon {
          &__svg {
            fill: $gray;
          }
        }
      }

      &__badges-discount {
        border-radius: 2px;
        padding: 5px;
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: $white;
        background: $red;
      }

      &__block-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-left: 1px solid $gray-border;
      }

      &__content {
        position: relative;
        padding: 15px 9px;
      }

      &__detailed {
        // visibility: hidden;
        // opacity: 0;
        // display: none;
        // &--active {
        //   display: block;
        // }
      }

      &__desc {
        margin-top: 5px;
      }

      &__desc-text {
        @include adaptiv-value("font-size", 16, 12, 1);
        @include adaptiv-value("line-height", 19, 14, 1);
      }

      &__item-detailed {
        @include adaptiv-value("padding-top", 13, 15, 1);
        @include adaptiv-value("padding-bottom", 13, 15, 1);
        @include adaptiv-value("padding-left", 25, 10, 1);
        @include adaptiv-value("padding-right", 25, 10, 1);

        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $gray-border;
      }

      &__item-detailed-icon {
        margin-left: 10px;

        .Icon__svg {
          fill: $gray;
        }
      }

      &__item-detailed-title-text {
        color: $black;
      }

      &__info-detailed {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-between;
        padding-left: 20px;

        .Counter {
          margin-left: 20px;
        }
      }

      &__info {
        @include adaptiv-value("padding-top", 16, 20, 1);
        @include adaptiv-value("padding-bottom", 9, 20, 1);
        @include adaptiv-value("padding-left", 13, 0, 1);
        @include adaptiv-value("padding-right", 17, 20, 1);

        position: relative;
      }

      &__info-icon {
        position: absolute;
        right: 17px;
        top: 17px;

        .Icon__svg {
          fill: $gray;
        }
      }

      &__title {
      }

      &__title-text {
        @include adaptiv-value("font-size", 22, 14, 1);
        @include adaptiv-value("line-height", 26, 16, 1);

        font-weight: 600;
        color: $black;
      }

      &__price-text {
        font-weight: 600;
        color: $black;
      }

      &__list-detailed {
        display: none;
      }
    }
  }

  &__wrapper-item-products {
    margin-top: 20px;

    &:first-child {
      margin: 0;
    }
  }
}

.Card-product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-shadow: 0 5px 15px rgba(143, 150, 176, 0.3);
  background: $bg;
  transition: $transition;
  width: 100%;
  &:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    // transform: scale(1.02) translate(0, -4px);
  }
  .Badges {
    &__offer {
      &__offer-last {
        .Palette {
          display: absolute;
          left: 20%;
          top: 60%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
  &__block-instruments-mobile {
    display: flex;
    display: none;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid $gray-border;
    padding: 16px 10px;
    opacity: 0;
    visibility: hidden;
  }

  &__block-have-info {
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid $gray;
    border-radius: 6px;
    padding: 5px 10px;
    width: 235px;
    background: $gray-bg;
    transform: translate(-50%, -50%);
    transition: $transition;
    z-index: 10;

    &--active {
      opacity: 1;
      visibility: visible;
    }
  }

  &__block-specification {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -30px;
    border-top: 1px solid $gray-border;
    border-bottom: 1px solid $gray-border;
    padding: 8px 0;
  }

  &__badges-left {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    :not(:first-child) {
      margin-top: 10px;
    }
  }

  &__badges-right {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;

    :not(:first-child) {
      margin-top: 10px;
    }
  }

  &__badges-discount {
    border-radius: 2px;
    padding: 5px;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #fff;
    background: #d84040;
  }

  &__block-img {
    position: relative;
    padding-bottom: 100%;
    margin-top: 20px;
  }

  &__block-info {
  }
  &__block-retail-price-value,
  &__block-trade-price-value,
  &__block-your-price-value {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__btn-specifications {
    position: absolute;
    right: 0;
    top: 0;

    .Button {
      &__icon-svg {
        margin: 0;
      }

      &--theme-s {
        width: 42px;
      }
    }
  }

  &__btn-feature {
    position: absolute;
    right: 0;
    bottom: 0;

    .Button {
      &__icon-svg {
        margin: 0;
      }

      &--theme-s {
        width: 42px;
      }
    }
  }

  &__btn-basket {
    .Button--theme-l {
      width: 100%;
    }
  }

  &__btn-video {
    position: absolute;
    top: 375px;
  }

  &__container-img {
    @include adaptiv-value("margin-top", 20, 12, 1);

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    object-position: center;
  }

  &__form-specification {
    display: flex;
    align-items: center;
    justify-content: space-between;
		flex-wrap: wrap;
    padding: 0 30px;
    width: 100%;
		.Radio-btn {
			align-items: center;
		}
  }

  &__have {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 -30px;
    padding: 5px 0;
    background: #f9faff;
    font-weight: 600;
  }

  &__have-text {
  }

  &__have-icon {
    display: none;
    margin-left: 12px;
  }

  &__have-info-heading {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__have-info-heading-decor {
    font-weight: 600;
  }

  &__have-info-heading-text {
    text-align: center;
  }

  &__have-info-title {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    border-top: 1px solid $gray;
    padding-top: 5px;
    width: 100%;
  }

  &__have-info-title-text {
  }

  &__heading {
    position: relative;
  }

  &__inner {
    margin-top: 5px;
  }

  &__palette {
    .Palette {
      &__color-selection {
        position: absolute;
        top: 50%;
        transform: translateY(50%);
      }
    }
  }

  &__retail-price-title {
  }

  &__size-specification {

		margin-top: 5px;
    & label span {
      padding: 4px;
    }
  }
	&__type-specification {
		margin-right: 20px;
		margin-top: 5px;
	}
  &__subtitle {
    @include adaptiv-value("margin-top", 5, 0, 1);

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 43px;
  }

  &__subtitle-text {
    @include adaptiv-value("font-size", 16, 12, 1);
    @include adaptiv-value("line-height", 19, 14, 1);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    text-align: center;
  }

  &__title {
    padding: 0 43px;
		display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title-text {
    @include adaptiv-value("font-size", 22, 14, 1);
    @include adaptiv-value("line-height", 26, 17, 1);
		

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    font-weight: 600;
    text-align: center;
    color: $black;
  }

  &__wrapper {
    position: relative;
    padding: 16px 30px 0;
  }

  .instruments-mobile-Card-product {
    &__block-left {
      &:not(last-child) > a {
        margin-right: 12px;
      }
    }

    &__block-right {
      .Button {
        &__icon {
        }

        &__icon-svg {
          margin: 0;
          width: 24px;
          height: 24px;
        }

        &__icon-svg-use {
        }

        &--lime-light {
        }

        &--theme-s {
          border: none;
          width: 40px;
          height: 40px;
        }

        &--theme-s-n {
        }
      }
    }
  }

  &__retail-price,
  &__trade-price,
  &__your-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
  }

  &__retail-price-title-text,
  &__trade-price-title-text,
  &__your-price-title-text {
    color: $lime;
  }

  &__retail-price-value,
  &__trade-price-value,
  &__your-price-value {
    @include adaptiv-value("font-size", 22, 16, 1);
    @include adaptiv-value("line-height", 26, 19, 1);

    flex-shrink: 0;
    padding-left: 10px;
    font-weight: 600;
    color: $lime;
  }

  &__retail-price-value-old,
  &__trade-price-value-old,
  &__your-price-value-old {
    margin-left: 5px;
    text-decoration: line-through;
  }

  &__retail-price-title,
  &__trade-price-title,
  &__your-price-title {
    flex: 1 1 50%;
  }
  &__retail-price-value,
  &__trade-price-value,
  &__your-price-value {
    flex: 1 1 50%;
  }
}

.Card-intermediate {
  &__block-img {
    position: relative;
    padding-bottom: 30%;
    transition: $transition;
  }

  &__content {
    @include adaptiv-value("padding-top", 40, 20, 1);
    @include adaptiv-value("padding-right", 30, 20, 1);
    @include adaptiv-value("padding-bottom", 40, 20, 1);
    @include adaptiv-value("padding-left", 40, 20, 1);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .Button {
      @include adaptiv-value("margin-top", 40, 20, 1);

      &__icon {
        margin-left: auto;
      }

      &__icon-svg {
        width: 22px;
        height: 12px;
      }

      &--theme-s {
        padding: 10px 20px;
        width: 153px;
        min-height: 42px;
      }
    }
  }

  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
  }

  &__item-description {
    margin-top: 20px;
  }

  &__item-description-text {
    @include adaptiv-value("font-size", 18, 16, 1);
  }

  &__item-title {
  }

  &__item-title-text {
    @include adaptiv-value("font-size", 22, 18, 1);
    @include adaptiv-value("line-height", 26, 21, 1);

    font-weight: 600;
    color: $black;
  }

  &__list {
    @include adaptiv-value("margin-top", 70, 18, 1);

    display: grid;
    align-items: stretch;
    justify-content: center;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 0.41fr);
  }

  &__list-item {
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    grid-template-rows: auto;
    box-shadow: 0 5px 15px rgba(143, 150, 176, 0.3);
    transition: $transition;

    &:hover {
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      transform: scale(1.02) translate(0, -4px);
    }

    &:hover > .partners-page__block-img {
      filter: brightness(1.1);
    }
  }

  &__wrapper {
    @include adaptiv-value("padding-right", 80, -20, 1);
    @include adaptiv-value("padding-left", 80, -20, 1);

    display: flex;
    flex-direction: column;
  }
}

.Card-advanced {
  &__block-img {
    position: relative;
    padding-bottom: 100%;
    margin-top: 20px;
  }
  .Badges {
    &__btn-video {
    }
    &__offer {
    }
    &__offer-discount {
    }
    &__interaction {
    }
  }
  &__heading {
  }
  &__heading-desc {
    @include adaptiv-value("font-size", 16, 12, 1);
    line-height: 118%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__heading-title {
    text-align: center;
    color: $black;
    font-weight: 600;
    @include adaptiv-value("font-size", 22, 14, 1);
    line-height: 118%;
  }
  &__heading-title-text,
  &__heading-desc-tex {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__img {
  }
  .Icon {
    &__content {
    }
    &__svg {
    }
    &__svg-use {
    }
    &--gray {
    }
    &--lime {
    }
    &--theme-m {
    }
  }
  &__wrapper {
    box-shadow: 0 5px 15px rgba(143, 150, 176, 0.3);
    background: $bg;
    padding: 16px 30px 11px 30px;
    transition: $transition;
    width: 100%;
    &:hover {
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      transform: scale(1.02) translate(0, -4px);
      filter: brightness(1.05);
    }
  }
}
.Card-product-aflat {
  min-height: 208px;
  &__block-img {
    position: relative;
  }
  &__box-Badges-img {
    display: flex;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__box-price-btns {
    flex: 1 1 26.27%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
  }
  &__block-img {
    height: 208px;
  }
  &__info {
    flex: 1 1 44%;
    padding: 16px 30px 24px 30px;
		border-left: 1px solid $gray-border;
		border-right: 1px solid $gray-border;
    .Palette {
      display: flex;
      margin-top: 16px;
      align-items: center;
      &__title {
        flex: auto;
      }
      &__color-selection {
        margin-left: 5px;
        width: 100%;
      }
      &__list-color-selection {
        display: grid;
        grid-template-columns: repeat(auto-fill, 22px);
        grid-auto-rows: 22px;
        gap: 10px;
        width: 100%;
      }

      &__item-color-selection {
        width: 100%;
        height: 100%;
      }
    }
  }
  &__inner-Badges-img {
    flex: 1 1 33.7%;
		@include adaptiv-value("padding-top", 15, -10, 1);
		@include adaptiv-value("padding-bottom", 15, -10, 1);
		@include adaptiv-value("padding-left", 30, -10, 1);
		@include adaptiv-value("padding-right", 30, -10, 1);
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
		align-items: center;
		height: 100%;
  }

  box-shadow: 0 5px 15px rgba(143, 150, 176, 0.3);
  background: $bg;
  transition: $transition;

  &:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  &__block-instruments-mobile {
    display: flex;
    display: none;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid $gray-border;
    padding: 16px 10px;
    opacity: 0;
    visibility: hidden;
  }

  &__block-specification {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
  }

  &__badges-discount {
    border-radius: 2px;
    padding: 5px;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #fff;
    background: #d84040;
  }

  &__block-retail-price-value,
  &__block-trade-price-value,
  &__block-your-price-value {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
		flex-shrink: 0;
  }
  &__retail-price,
  &__trade-price,
  &__your-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $lime;
  }
  &__btn-specifications {
    position: absolute;
    right: 0;
    top: 0;

    .Button {
      &__icon-svg {
        margin: 0;
      }

      &--theme-s {
        width: 42px;
      }
    }
  }

  &__btn-feature {
    position: absolute;
    right: 0;
    bottom: 0;

    .Button {
      &__icon-svg {
        margin: 0;
      }

      &--theme-s {
        width: 42px;
      }
    }
  }

  &__btn-basket,
  &__btn-by-click,
  &__btn-whatsapp {
    &:not(:first-child) > .Button {
      border-top: none;
    }

    .Button--theme-l {
      width: 100%;
      padding: 10px;
      min-height: 52px;
    }
    .Button__icon {
      margin-right: 8px;
    }

    .Button--lime-light .Button__text {
      color: $black;
    }
  }

  &__container-img {
    @include adaptiv-value("margin-top", 20, 12, 1);

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    object-position: center;
  }

  &__form-specification {
    display: flex;
		flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
		.Radio-btn {
      align-items: center;
    }
  }

  &__have {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 0;
    background: #f9faff;
    margin: 0 -30px;
    padding: 0 30px;
    font-weight: 600;
  }

  &__have-icon {
    display: none;
    margin-left: 12px;
  }

  &__have-info-heading {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__have-info-heading-decor {
    font-weight: 600;
  }

  &__have-info-heading-text {
    text-align: center;
  }

  &__have-info-title {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    border-top: 1px solid $gray;
    padding-top: 5px;
    width: 100%;
  }

  &__heading {
    position: relative;
  }

  &__inner {
    margin-top: 15px;
  }

  &__size-specification {

		margin-top: 5px;

    & label span {
      padding: 4px;
    }
  }
	&__type-specification {
		margin-right: 20px;
		margin-top: 5px;
	}
  &__subtitle {
    @include adaptiv-value("margin-top", 5, 0, 1);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__subtitle-text {
    @include adaptiv-value("font-size", 16, 12, 1);
    @include adaptiv-value("line-height", 19, 14, 1);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    @include adaptiv-value("width", 450, 10, 1);
    text-align: left;
  }

  &__title {
  }

  &__title-text {

    @include adaptiv-value("font-size", 22, 14, 1);
    @include adaptiv-value("line-height", 26, 17, 1);

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
		@include adaptiv-value("width", 450, 10, 1);

    font-weight: 600;
    text-align: left;
    color: $black;
  }

  &__price {
		@include adaptiv-value("padding-top", 19, 10, 1);
		@include adaptiv-value("padding-bottom", 19, 10, 1);
		@include adaptiv-value("padding-left", 30, -10, 1);
		@include adaptiv-value("padding-right", 30, -10, 1);
    :not(:first-child) {
      margin-top: 8px;
    }
  }
  &__block-have-info {
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid $gray;
    border-radius: 6px;
    padding: 5px 10px;
    width: 235px;
    background: $gray-bg;
    transform: translate(-50%, -50%);
    transition: $transition;
    z-index: 10;

    &--active {
      opacity: 1;
      visibility: visible;
    }
  }
	  &__retail-price-value-old,
  &__trade-price-value-old,
  &__your-price-value-old {
    margin-left: 5px;
    text-decoration: line-through;
  }
}
