.Contacts {
  &__item-block {
    @include adaptiv-value("margin-top", 20, 15, 1);
  }

  &__item-content {
    display: flex;

    &:not(:first-child) {
      margin-top: 10px;
    }
  }

  &__item-icon {
  }

  &__item-icon-svg {
    margin-right: 10px;
    width: 18px;
    height: 18px;
    fill: $lime;
    stroke: $lime;
  }

  &__item-icon-svg-use {
  }

  &__item-information {
  }

  &__item-information-link {
    @include adaptiv-value("font-size", 18, 16, 1);
    @include adaptiv-value("line-height", 21, 19, 1);

    color: $black;
  }

  &__item-title {
  }

  &__item-title-text {
    @include adaptiv-value("font-size", 22, 18, 1);
    @include adaptiv-value("line-height", 26, 21, 1);

    font-weight: 600;
    color: $black;
  }

  &__item-icon {
  }

  &__item-information-description {
    @include adaptiv-value("font-size", 18, 16, 1);
    @include adaptiv-value("line-height", 21, 19, 1);

    color: $black;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1.3fr 2fr 1fr;
    gap: 20px 70px;
  }

  &__list-item {
    display: flex;
    flex-direction: column;
  }
}