.Counter {
  display: flex;
  align-items: flex-start;

  &__button {
    flex-shrink: 0;
    outline: none;
    border: transparent;
    width: 18px;
    height: 18px;
    background-color: transparent;
    transition: 0.3s all;

    &:hover {
      opacity: 0.6;
      cursor: pointer;
    }

    &:disabled {
      opacity: 0.5;
      cursor: auto;
    }
  }
  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    gap: 10px;
    width: 100%;
  }
  &__content {
    display: flex;
    align-items: center;
  }

  &__block-input {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    width: 100%;
  }

  &__dimension {
    margin-left: 10px;
  }
  &__title {
    flex: 1 1 20%;
  }

  &__input {
    outline: none;
    border: 1px solid $gray-border;
    border-radius: 2px;
    width: 58px;
    height: 24px;
    text-align: center;
    background-color: transparent;
    &[value="0"] {
      color: $gray;
    }
    &[type="number"] {
      appearance: textfield;
      appearance: textfield;
      appearance: textfield;
    }

    &[type="number"]::-webkit-outer-spin-button,
    &[type="number"]::-webkit-inner-spin-button {
      display: none;
    }
  }

  &__input {
    color: $black;
  }

  &__svg,
  &__use {
    width: 100%;
    height: 100%;
    fill: $gray;
  }
}
