.Icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0;
  padding: 0;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-align: center;
  text-decoration-line: none;
  fill: currentColor;
  background-color: transparent;
  transition: $transition;
  cursor: pointer;
  user-select: none;

  &__content {
    position: relative;
  }

  &__counter {
    position: absolute;
    right: -4px;
    top: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    color: #fff;
    transition: $transition;
  }

  &__icon {
    display: flex;
  }

  &__text {
    text-overflow: ellipsis;
    transition: $transition;
  }

  &:hover,
  &:focus {
    text-decoration-line: none;
    color: inherit;
  }
}

// Color
.Icon--black {
  $colorAccent: $black;
  $colorAccentHover: $white;

  .Icon__counter {
    background-color: #9aca3c;
  }

  .Icon__svg {
    fill: $colorAccent;
    transition: $transition;
  }

  .Icon__counter {
    color: $white;
    transition: $transition;
  }

  &:hover .Icon__counter,
  &:focus .Icon__counter {
    color: $colorAccentHover;
    transition: $transition;
  }

  &:hover > .Icon__content > .Icon__counter {
    background-color: $red;
  }

  &:hover > .Icon__content > .Icon__svg {
    fill: $lime;
  }
}

.Icon--lime {
  $colorAccent: $lime;
  $colorAccentHover: $white;

  .Icon__counter {
    background-color: #9aca3c;
  }

  .Icon__svg {
    fill: $colorAccent;
    transition: $transition;
  }

  .Icon__counter {
    color: $white;
    transition: $transition;
  }

  &:hover .Icon__counter,
  &:focus .Icon__counter {
    opacity: 0.2;
    transition: $transition;
  }

  &:hover > .Icon__content > .Icon__counter {
    background-color: $red;
  }

  &:hover > .Icon__content > .Icon__svg {
    filter: brightness(1.1);
  }
}

.Icon--gray {
  $colorAccent: $gray;
  $colorAccentHover: $white;

  .Icon__counter {
    background-color: #9aca3c;
  }

  .Icon__svg {
    fill: $colorAccent;
    transition: $transition;
  }

  .Icon__counter {
    color: $white;
    transition: $transition;
  }

  &:hover .Icon__counter,
  &:focus .Icon__counter {
    opacity: 0.2;
    transition: $transition;
  }

  &:hover > .Icon__content > .Icon__counter {
    background-color: $red;
  }

  &:hover > .Icon__content > .Icon__svg {
    filter: brightness(1.2);
  }
}

// Themes

.Icon--theme-m {
  .Icon__counter {
    width: 17px;
    height: 19px;
    font-weight: 600;
    font-size: 12px;
  }

  .Icon__svg {
    width: 24px;
    height: 24px;
  }

  &-n {
  }

  &-w {
  }
}

.Icon--theme-l {
  .Icon__svg {
    width: 32px;
    height: 32px;
  }
}