.input-validation {
  @include adaptiv-value("font-size", 12, 10, 1);

  &__message {
    @include adaptiv-font(12, 12);

    font-weight: 600;
  }

  &__message-mod {
    position: absolute;
    right: 0;
    top: calc(100% + 3px);
  }

  &__message-mod--privacy-policy {
    left: 0;
  }

  &--invalid {
    border-color: rgb(255, 0, 0) !important;
    color: rgb(255, 0, 0) !important;

    &::placeholder {
      color: rgb(255, 0, 0) !important;
    }

    & + .checkbox__label::before,
    & + .radio__label::before {
      border-color: rgb(255, 0, 0) !important;
    }

    & + .Privacy-policy__label::before,
    & + .radio__label::before {
      border-color: rgb(255, 0, 0) !important;
    }
  }
}
