.Palette {
  &__color-selection {
  }

  &__btn-color-selection {
    width: 100%;
    height: 100%;
  }
  &__btn-color-selection-img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    object-fit: cover;
  }
  &__title {
    flex: 1 1 20%;
  }
  &__item-color-selection {
    display: inline-flex;
    border: 0.05em solid #eeeff7;
    border-radius: 6px;
    width: 100%;
    height: 22px;
    transition: $transition;


    &--color {
      background: transparent;
    }
    &--gray {
      background: #e7e7e7;
    }

    &--brown {
      background: #915638;
    }

    &--moccasin {
      background: #ebdab0;
    }

    &--black {
      background: $black;
    }

    &--gold {
      background: #edbe4b;
    }
  }

  &__list-color-selection {
    flex-wrap: wrap;
    width: 22px;
		& > li {
			cursor: pointer;
			&:hover,
			&:focus,
			&:active {
				box-shadow:
					0 0 5px rgba(78, 95, 112, 0.6),
					0 0 10px rgba(143, 150, 176, 0.6);
			}
		}
  }
}
