.privacy-policy-page {
	&__container {
		margin: 0 auto;
	}

	&__block-text {
		padding-top: 46px;


	}

	&__title {
		margin-bottom: 33px;
		font-size: 34px;
		font-weight: 500;
		line-height: 40/34 *100%;
    color: $black;
	}
	&__content {
		p {
    color: $black;
		font-size: 16px;
		font-weight: 300;
		line-height: 19/16 *100%;
		margin-bottom: 28px;
	}
		}
	&__content {
		ul {
      color: $black;
			font-size: 16px;
			font-weight: 300;
			line-height: 20px;
			list-style: none;
			padding-left: 90px;
			margin: 30px 0;
		}
		li {
			&::before {
				content: "—";
				margin-right: 6px;
			}
		}
		 a {
			 color: $lime;
			 font-weight: 500;
       &:hover {
         opacity: 0.8;
       }
		}
		& .font-weight-bold {
			font-weight: 400;
		} 
	}
	
	
}
