.Tabs {
  position: relative;
  width: 100%;

  &__item,
	&__item-grid {
    transition: 0.3s all;
    cursor: auto;

    &:not(.Tabs__item--active):hover {
      cursor: pointer;
    }
  }

  &__item--active,
	&__item-grid--active {
    border: $lime;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background: $lime;
    transition: $transition;

    .Button {
      outline: none;


      &__icon {
        fill: $white;
      }

      &__text {
        color: $white;
      }
    }
  }

  &__block,
	&__block-grid {
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
  }

  &__block--active,
	&__block-grid--active {
    display: block;
    animation-name: tabActive;
  }

  &__block--not-active,
	&__block-grid--not-active {
    animation-name: tabNotActive;
  }

  @keyframes tabActive {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes tabNotActive {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }
}