.Title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  & h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: inherit;
  }
}

//Color
.Title--lime {
  $colorAccent: $lime;

  color: $colorAccent;
}

.Title__wrapper--quartz {
  $colorAccent: $quartz;

  color: $colorAccent;
}
.Title__wrapper--black {
  $colorAccent: $black;

  color: $colorAccent;
}

// Themes
.Title__wrapper--theme-m {
  @include adaptiv-value("font-size", 28, 18, 1);
  @include adaptiv-value("line-height", 33, 21, 1);
  @include adaptiv-value("max-width", 800, 270, 1);
}
.Title__wrapper--theme-l {
  @include adaptiv-value("font-size", 36, 22, 1);
  @include adaptiv-value("max-width", 800, 270, 1);
	line-height: 118%;
	font-weight: 600;
}

.Title__text {
  color: inherit;
}

.Subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  & h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: inherit;
  }
}

.Subtitle__wrapper--theme-m {
  @include adaptiv-value("font-size", 22, 16, 1);
  @include adaptiv-value("line-height", 26, 19, 1);
  @include adaptiv-value("max-width", 800, 270, 1);
  @include adaptiv-value("margin-top", 0, 8, 1);
}

// xs/s/m/l/xl/xxl/xxxl/bxl/bxxl/bxxxl
