<section class="video-reviews-page">
	<div class="Container Max-width">
		<div class="video-reviews-page__wrapper">

			@include('../../components/block/bread-crumbs/bread-crumbs.html')

			<div class="Title">
				<div class="Title__wrapper--theme-m Title__wrapper--quartz">
					<h2>Видеообзоры</h2>
				</div>
			</div>

			<div class="video-reviews-page__content text-overflow-js"  data-text-sum="28">
				<div class="video-reviews-page__item">
					<div class="Video-reviews__block-video">
						<img class="Video-reviews__block-video-size" src="/img/video-preview.jpg" alt="" />
						<a href="#popup-video-reviews" data-fancybox-window="">
							<div class="Video-reviews__icon">
								<svg class="Video-reviews__icon-svg">
									<use class="Video-reviews__icon-svg-use" xlink:href="#play"></use>
								</svg>
							</div>
						</a>
					</div>
					<div class="Video-reviews__block-info">
						<div class="Video-reviews__title">
							<h4 class="Video-reviews__title-text text-overflow-ellipsis-js">
								Монтаж межкомнатной двери	Монтаж межкомнатной двери	Монтаж межкомнатной двери	Монтаж межкомнатной двери	Монтаж межкомнатной двери
							</h4>
						</div>
						<div class="Video-reviews__block-publication-time">
							<span class="Video-reviews__block-publication-time-value">12.09.2021 12:56</span>
						</div>
					</div>
				</div>

				<div class="video-reviews-page__item">
					<div class="Video-reviews__block-video">
						<img class="Video-reviews__block-video-size" src="/img/video-preview.jpg" alt="" />
						<a href="#popup-video-reviews" data-fancybox-window="">
							<div class="Video-reviews__icon">
								<svg class="Video-reviews__icon-svg">
									<use class="Video-reviews__icon-svg-use" xlink:href="#play"></use>
								</svg>
							</div>
						</a>
					</div>
					<div class="Video-reviews__block-info">
						<div class="Video-reviews__title">
							<h4 class="Video-reviews__title-text text-overflow-ellipsis-js">
								Монтаж межкомнатной двери
							</h4>
						</div>
						<div class="Video-reviews__block-publication-time">
							<span class="Video-reviews__block-publication-time-value">12.09.2021 12:56</span>
						</div>
					</div>
				</div>

				<div class="video-reviews-page__item">
					<div class="Video-reviews__block-video">
						<img class="Video-reviews__block-video-size" src="/img/video-preview.jpg" alt="" />
						<a href="#popup-video-reviews" data-fancybox-window="">
							<div class="Video-reviews__icon">
								<svg class="Video-reviews__icon-svg">
									<use class="Video-reviews__icon-svg-use" xlink:href="#play"></use>
								</svg>
							</div>
						</a>
					</div>
					<div class="Video-reviews__block-info">
						<div class="Video-reviews__title">
							<h4 class="Video-reviews__title-text text-overflow-ellipsis-js">
								Монтаж межкомнатной двери
							</h4>
						</div>
						<div class="Video-reviews__block-publication-time">
							<span class="Video-reviews__block-publication-time-value">12.09.2021 12:56</span>
						</div>
					</div>
				</div>

				<div class="video-reviews-page__item">
					<div class="Video-reviews__block-video">
						<img class="Video-reviews__block-video-size" src="/img/video-preview.jpg" alt="" />
						<a href="#popup-video-reviews" data-fancybox-window="">
							<div class="Video-reviews__icon">
								<svg class="Video-reviews__icon-svg">
									<use class="Video-reviews__icon-svg-use" xlink:href="#play"></use>
								</svg>
							</div>
						</a>
					</div>
					<div class="Video-reviews__block-info">
						<div class="Video-reviews__title">
							<h4 class="Video-reviews__title-text text-overflow-ellipsis-js">
								Монтаж межкомнатной двери
							</h4>
						</div>
						<div class="Video-reviews__block-publication-time">
							<span class="Video-reviews__block-publication-time-value">12.09.2021 12:56</span>
						</div>
					</div>
				</div>
				<div class="video-reviews-page__item">
					<div class="Video-reviews__block-video">
						<img class="Video-reviews__block-video-size" src="/img/video-preview.jpg" alt="" />
						<a href="#popup-video-reviews" data-fancybox-window="">
							<div class="Video-reviews__icon">
								<svg class="Video-reviews__icon-svg">
									<use class="Video-reviews__icon-svg-use" xlink:href="#play"></use>
								</svg>
							</div>
						</a>
					</div>
					<div class="Video-reviews__block-info">
						<div class="Video-reviews__title">
							<h4 class="Video-reviews__title-text text-overflow-ellipsis-js">
								Монтаж межкомнатной двери
							</h4>
						</div>
						<div class="Video-reviews__block-publication-time">
							<span class="Video-reviews__block-publication-time-value">12.09.2021 12:56</span>
						</div>
					</div>
				</div>

				<div class="video-reviews-page__item">
					<div class="Video-reviews__block-video">
						<img class="Video-reviews__block-video-size" src="/img/video-preview.jpg" alt="" />
						<a href="#popup-video-reviews" data-fancybox-window="">
							<div class="Video-reviews__icon">
								<svg class="Video-reviews__icon-svg">
									<use class="Video-reviews__icon-svg-use" xlink:href="#play"></use>
								</svg>
							</div>
						</a>
					</div>
					<div class="Video-reviews__block-info">
						<div class="Video-reviews__title">
							<h4 class="Video-reviews__title-text text-overflow-ellipsis-js">
								Монтаж межкомнатной двери
							</h4>
						</div>
						<div class="Video-reviews__block-publication-time">
							<span class="Video-reviews__block-publication-time-value">12.09.2021 12:56</span>
						</div>
					</div>
				</div>
				<div class="video-reviews-page__item">
					<div class="Video-reviews__block-video">
						<img class="Video-reviews__block-video-size" src="/img/video-preview.jpg" alt="" />
						<a href="#popup-video-reviews" data-fancybox-window="">
							<div class="Video-reviews__icon">
								<svg class="Video-reviews__icon-svg">
									<use class="Video-reviews__icon-svg-use" xlink:href="#play"></use>
								</svg>
							</div>
						</a>
					</div>
					<div class="Video-reviews__block-info">
						<div class="Video-reviews__title">
							<h4 class="Video-reviews__title-text text-overflow-ellipsis-js">
								Монтаж межкомнатной двери
							</h4>
						</div>
						<div class="Video-reviews__block-publication-time">
							<span class="Video-reviews__block-publication-time-value">12.09.2021 12:56</span>
						</div>
					</div>
				</div>

				<div class="video-reviews-page__item">
					<div class="Video-reviews__block-video">
						<img class="Video-reviews__block-video-size" src="/img/video-preview.jpg" alt="" />
						<a href="#popup-video-reviews" data-fancybox-window="">
							<div class="Video-reviews__icon">
								<svg class="Video-reviews__icon-svg">
									<use class="Video-reviews__icon-svg-use" xlink:href="#play"></use>
								</svg>
							</div>
						</a>
					</div>
					<div class="Video-reviews__block-info">
						<div class="Video-reviews__title">
							<h4 class="Video-reviews__title-text text-overflow-ellipsis-js">
								Монтаж межкомнатной двери
							</h4>
						</div>
						<div class="Video-reviews__block-publication-time">
							<span class="Video-reviews__block-publication-time-value">12.09.2021 12:56</span>
						</div>
					</div>
				</div>
				<div class="video-reviews-page__item">
					<div class="Video-reviews__block-video">
						<img class="Video-reviews__block-video-size" src="/img/video-preview.jpg" alt="" />
						<a href="#popup-video-reviews" data-fancybox-window="">
							<div class="Video-reviews__icon">
								<svg class="Video-reviews__icon-svg">
									<use class="Video-reviews__icon-svg-use" xlink:href="#play"></use>
								</svg>
							</div>
						</a>
					</div>
					<div class="Video-reviews__block-info">
						<div class="Video-reviews__title">
							<h4 class="Video-reviews__title-text text-overflow-ellipsis-js">
								Монтаж межкомнатной двери
							</h4>
						</div>
						<div class="Video-reviews__block-publication-time">
							<span class="Video-reviews__block-publication-time-value">12.09.2021 12:56</span>
						</div>
					</div>
				</div>

				<div class="video-reviews-page__item">
					<div class="Video-reviews__block-video">
						<img class="Video-reviews__block-video-size" src="/img/video-preview.jpg" alt="" />
						<a href="#popup-video-reviews" data-fancybox-window="">
							<div class="Video-reviews__icon">
								<svg class="Video-reviews__icon-svg">
									<use class="Video-reviews__icon-svg-use" xlink:href="#play"></use>
								</svg>
							</div>
						</a>
					</div>
					<div class="Video-reviews__block-info">
						<div class="Video-reviews__title">
							<h4 class="Video-reviews__title-text text-overflow-ellipsis-js">
								Монтаж межкомнатной двери
							</h4>
						</div>
						<div class="Video-reviews__block-publication-time">
							<span class="Video-reviews__block-publication-time-value">12.09.2021 12:56</span>
						</div>
					</div>
				</div>
				<div class="video-reviews-page__item">
					<div class="Video-reviews__block-video">
						<img class="Video-reviews__block-video-size" src="/img/video-preview.jpg" alt="" />
						<a href="#popup-video-reviews" data-fancybox-window="">
							<div class="Video-reviews__icon">
								<svg class="Video-reviews__icon-svg">
									<use class="Video-reviews__icon-svg-use" xlink:href="#play"></use>
								</svg>
							</div>
						</a>
					</div>
					<div class="Video-reviews__block-info">
						<div class="Video-reviews__title">
							<h4 class="Video-reviews__title-text text-overflow-ellipsis-js">
								Монтаж межкомнатной двери
							</h4>
						</div>
						<div class="Video-reviews__block-publication-time">
							<span class="Video-reviews__block-publication-time-value">12.09.2021 12:56</span>
						</div>
					</div>
				</div>

				<div class="video-reviews-page__item">
					<div class="Video-reviews__block-video">
						<img class="Video-reviews__block-video-size" src="/img/video-preview.jpg" alt="" />
						<a href="#popup-video-reviews" data-fancybox-window="">
							<div class="Video-reviews__icon">
								<svg class="Video-reviews__icon-svg">
									<use class="Video-reviews__icon-svg-use" xlink:href="#play"></use>
								</svg>
							</div>
						</a>
					</div>
					<div class="Video-reviews__block-info">
						<div class="Video-reviews__title">
							<h4 class="Video-reviews__title-text text-overflow-ellipsis-js">
								Монтаж межкомнатной двери
							</h4>
						</div>
						<div class="Video-reviews__block-publication-time">
							<span class="Video-reviews__block-publication-time-value">12.09.2021 12:56</span>
						</div>
					</div>
				</div>
				<div class="video-reviews-page__item">
					<div class="Video-reviews__block-video">
						<img class="Video-reviews__block-video-size" src="/img/video-preview.jpg" alt="" />
						<a href="#popup-video-reviews" data-fancybox-window="">
							<div class="Video-reviews__icon">
								<svg class="Video-reviews__icon-svg">
									<use class="Video-reviews__icon-svg-use" xlink:href="#play"></use>
								</svg>
							</div>
						</a>
					</div>
					<div class="Video-reviews__block-info">
						<div class="Video-reviews__title">
							<h4 class="Video-reviews__title-text text-overflow-ellipsis-js">
								Монтаж межкомнатной двери
							</h4>
						</div>
						<div class="Video-reviews__block-publication-time">
							<span class="Video-reviews__block-publication-time-value">12.09.2021 12:56</span>
						</div>
					</div>
				</div>

				<div class="video-reviews-page__item">
					<div class="Video-reviews__block-video">
						<img class="Video-reviews__block-video-size" src="/img/video-preview.jpg" alt="" />
						<a href="#popup-video-reviews" data-fancybox-window="">
							<div class="Video-reviews__icon">
								<svg class="Video-reviews__icon-svg">
									<use class="Video-reviews__icon-svg-use" xlink:href="#play"></use>
								</svg>
							</div>
						</a>
					</div>
					<div class="Video-reviews__block-info">
						<div class="Video-reviews__title">
							<h4 class="Video-reviews__title-text text-overflow-ellipsis-js">
								Монтаж межкомнатной двери
							</h4>
						</div>
						<div class="Video-reviews__block-publication-time">
							<span class="Video-reviews__block-publication-time-value">12.09.2021 12:56</span>
						</div>
					</div>
				</div>
				<div class="video-reviews-page__item">
					<div class="Video-reviews__block-video">
						<img class="Video-reviews__block-video-size" src="/img/video-preview.jpg" alt="" />
						<a href="#popup-video-reviews" data-fancybox-window="">
							<div class="Video-reviews__icon">
								<svg class="Video-reviews__icon-svg">
									<use class="Video-reviews__icon-svg-use" xlink:href="#play"></use>
								</svg>
							</div>
						</a>
					</div>
					<div class="Video-reviews__block-info">
						<div class="Video-reviews__title">
							<h4 class="Video-reviews__title-text text-overflow-ellipsis-js">
								Монтаж межкомнатной двери
							</h4>
						</div>
						<div class="Video-reviews__block-publication-time">
							<span class="Video-reviews__block-publication-time-value">12.09.2021 12:56</span>
						</div>
					</div>
				</div>

				<div class="video-reviews-page__item">
					<div class="Video-reviews__block-video">
						<img class="Video-reviews__block-video-size" src="/img/video-preview.jpg" alt="" />
						<a href="#popup-video-reviews" data-fancybox-window="">
							<div class="Video-reviews__icon">
								<svg class="Video-reviews__icon-svg">
									<use class="Video-reviews__icon-svg-use" xlink:href="#play"></use>
								</svg>
							</div>
						</a>
					</div>
					<div class="Video-reviews__block-info">
						<div class="Video-reviews__title">
							<h4 class="Video-reviews__title-text text-overflow-ellipsis-js">
								Монтаж межкомнатной двери
							</h4>
						</div>
						<div class="Video-reviews__block-publication-time">
							<span class="Video-reviews__block-publication-time-value">12.09.2021 12:56</span>
						</div>
					</div>
				</div>
			</div>
			@include('../../components/block/navigation/navigation.html')
		</div>
	</div>
</section>