<section class="ordering-page">
	<div class="Container Max-width">
		@include('../../components/block/bread-crumbs/bread-crumbs.html')
		<div class="ordering-page__wrapper">

			<div class="ordering-page__block-order-list">
				
				<div class="ordering-page__order-list-title">
					<span class="ordering-page__order-list-title-icon">
						<svg class="Icon__svg ordering-page__order-list-title-icon-svg">
							<use class="Icon__svg-use" xlink:href="#success"></use>
						</svg>
					</span>
					<h3 class="ordering-page__order-list-title-text">Состав заказа</h3>
				</div>

				<div class="Card-buy">

				<div class="Card-buy__list-products">


					<div class="Card-buy__wrapper-item-products">
					<div class="Card-buy__item-products item-Card-buy">

						<div class="item-Card-buy__content">
							<div class="item-Card-buy__badges">
								<span class="item-Card-buy__badges-discount">-25%</span>
								<span class="Icon Icon--black Icon--theme-m">
									<div class="Icon__content">
										<svg class="Icon__svg">
											<use class="Icon__svg-use" xlink:href="#bestseller"></use>
										</svg>
									</div>
								</span>
							</div>
							<div class="Card-buy__block-img">
								<img class="Card-buy__img" src="/img/Card-buy-door-1.png" alt="page-door">
							</div>
						</div>

						<div class="item-Card-buy__block-info">

							<div class="item-Card-buy__info">
								<div class="item-Card-buy__title">
									<h3 class="item-Card-buy__title-text">Гладкая</h3>
								</div>
								<div class="item-Card-buy__desc">
									<p class="item-Card-buy__desc-text">Беленый дуб</p>
									<p class="item-Card-buy__desc-text">Ламинированные двери</p>
								</div>

								<div class="item-Card-buy__info-icon item-Card-buy__remove-product-js">
									<span class="Icon Icon--black Icon--theme-m">
										<div class="Icon__content">
											<svg class="Icon__svg">
												<use class="Icon__svg-use" xlink:href="#trash"></use>
											</svg>
										</div>
									</span>
								</div>
							</div>

							<div class="item-Card-buy__amount">

								<div class="item-Card-buy__amount-desc">
									<p class="item-Card-buy__amount-desc-text">Полотно (10 шт): <span
											class="item-Card-buy__amount-desc-text-decoration">5 890 ₽</span></p>
									<p class="item-Card-buy__amount-desc-text">Погонаж (1 шт): <span
											class="item-Card-buy__amount-desc-text-decoration">4 935 ₽</span></p>
								</div>

								<div class="item-Card-buy__amount-btn">
									<a class="Button Button--gray-light Button--theme-s Button--theme-s-w" href="#">
										<span class="Button__text">Подробнее</span>
										<span class="Button__icon">
											<svg class="Button__icon-svg">
												<use class="Button__icon-svg-use" xlink:href="#arrow-right"></use>
											</svg>
										</span>
									</a>
								</div>
							</div>

						</div>

					</div>
					<div class="item-Card-buy__detailed">

						<ul class="item-Card-buy__list-detailed">

							<li class="item-Card-buy__item-detailed">

								<div class="item-Card-buy__item-detailed-title">
									<h3 class="item-Card-buy__item-detailed-title-text">Беленый дуб 2000х800 Глухая</h3>
								</div>

								<div class="item-Card-buy__info-detailed">

									<div class="item-Card-buy__price">
										<span class="item-Card-buy__price-text">75 535 ₽</span>
									</div>

									<div class="Counter">
										<button class="Counter__button Counter__button--js-reduction" data-decrement="">
											<svg class="Counter__svg">
												<use xlink:href="#arrow-left" class="Counter__use"></use>
											</svg>
										</button>
										<div class="Counter__block-input">
											<input class="Counter__input Counter__input--js" type="text" value="1" min="1" max="99" step="1">
											<span class="Counter__dimension"> / 10 в наличии</span>
										</div>
										<button class="Counter__button Counter__button--js-increase" data-increment="">
											<svg class="Counter__svg">
												<use xlink:href="#arrow-right" class="Counter__use"></use>
											</svg>
										</button>
									</div>

									<div class="item-Card-buy__item-detailed-icon item-Card-buy__remove-item-js">
										<span class="Icon Icon--black Icon--theme-m">
											<div class="Icon__content">
												<svg class="Icon__svg">
													<use class="Icon__svg-use" xlink:href="#close"></use>
												</svg>
											</div>
										</span>
									</div>

								</div>

							</li>

							<li class="item-Card-buy__item-detailed">

								<div class="item-Card-buy__item-detailed-title">
									<h3 class="item-Card-buy__item-detailed-title-text">Беленый дуб 2000х600 Глухая</h3>
								</div>

								<div class="item-Card-buy__info-detailed">

									<div class="item-Card-buy__price">
										<span class="item-Card-buy__price-text">0 ₽</span>
									</div>

									<div class="Counter">
										<button class="Counter__button Counter__button--js-reduction" data-decrement="">
											<svg class="Counter__svg">
												<use xlink:href="#arrow-left" class="Counter__use"></use>
											</svg>
										</button>
										<div class="Counter__block-input">
											<input class="Counter__input Counter__input--js" type="text" value="1" min="0" max="99" step="1">
											<span class="Counter__dimension"> / 0 в наличии</span>
										</div>
										<button class="Counter__button Counter__button--js-increase" data-increment="">
											<svg class="Counter__svg">
												<use xlink:href="#arrow-right" class="Counter__use"></use>
											</svg>
										</button>
									</div>

									<div class="item-Card-buy__item-detailed-icon item-Card-buy__remove-item-js">
										<span class="Icon Icon--black Icon--theme-m">
											<div class="Icon__content">
												<svg class="Icon__svg">
													<use class="Icon__svg-use" xlink:href="#close"></use>
												</svg>
											</div>
										</span>
									</div>

								</div>

							</li>

							<li class="item-Card-buy__item-detailed">

								<div class="item-Card-buy__item-detailed-title">
									<h3 class="item-Card-buy__item-detailed-title-text">Добор 150х8х2070</h3>
								</div>

								<div class="item-Card-buy__info-detailed">

									<div class="item-Card-buy__price">
										<span class="item-Card-buy__price-text">1 567 ₽</span>
									</div>

									<div class="Counter">
										<button class="Counter__button Counter__button--js-reduction" data-decrement="">
											<svg class="Counter__svg">
												<use xlink:href="#arrow-left" class="Counter__use"></use>
											</svg>
										</button>
										<div class="Counter__block-input">
											<input class="Counter__input Counter__input--js" type="text" value="1" min="0" max="99" step="1">
											<span class="Counter__dimension"> / 5 в наличии</span>
										</div>
										<button class="Counter__button Counter__button--js-increase" data-increment="">
											<svg class="Counter__svg">
												<use xlink:href="#arrow-right" class="Counter__use"></use>
											</svg>
										</button>
									</div>

									<div class="item-Card-buy__item-detailed-icon item-Card-buy__remove-item-js">
										<span class="Icon Icon--black Icon--theme-m">
											<div class="Icon__content">
												<svg class="Icon__svg">
													<use class="Icon__svg-use" xlink:href="#close"></use>
												</svg>
											</div>
										</span>
									</div>

								</div>

							</li>

						</ul>

					</div>
				</div>

				<div class="Card-buy__wrapper-item-products">
					<div class="Card-buy__item-products item-Card-buy">

						<div class="item-Card-buy__content">
							<div class="item-Card-buy__badges">
								<span class="item-Card-buy__badges-discount">-25%</span>
								<span class="Icon Icon--black Icon--theme-m">
									<div class="Icon__content">
										<svg class="Icon__svg">
											<use class="Icon__svg-use" xlink:href="#bestseller"></use>
										</svg>
									</div>
								</span>
							</div>
							<div class="Card-buy__block-img">
								<img class="Card-buy__img" src="/img/Card-buy-door-3.png" alt="page-door">
							</div>
						</div>

						<div class="item-Card-buy__block-info">

							<div class="item-Card-buy__info">
								<div class="item-Card-buy__title">
									<h3 class="item-Card-buy__title-text">Гладкая</h3>
								</div>
								<div class="item-Card-buy__desc">
									<p class="item-Card-buy__desc-text">Беленый дуб</p>
									<p class="item-Card-buy__desc-text">Ламинированные двери</p>
								</div>

								<div class="item-Card-buy__info-icon item-Card-buy__remove-product-js">
									<span class="Icon Icon--black Icon--theme-m">
										<div class="Icon__content">
											<svg class="Icon__svg">
												<use class="Icon__svg-use" xlink:href="#trash"></use>
											</svg>
										</div>
									</span>
								</div>
							</div>

							<div class="item-Card-buy__amount">

								<div class="item-Card-buy__amount-desc">
									<p class="item-Card-buy__amount-desc-text">Полотно (10 шт): <span
											class="item-Card-buy__amount-desc-text-decoration">5 890 ₽</span></p>
									<p class="item-Card-buy__amount-desc-text">Погонаж (1 шт): <span
											class="item-Card-buy__amount-desc-text-decoration">4 935 ₽</span></p>
								</div>

								<div class="item-Card-buy__amount-btn">
									<a class="Button Button--gray-light Button--theme-s Button--theme-s-w" href="#">
										<span class="Button__text">Подробнее</span>
										<span class="Button__icon">
											<svg class="Button__icon-svg">
												<use class="Button__icon-svg-use" xlink:href="#arrow-right"></use>
											</svg>
										</span>
									</a>
								</div>
							</div>

						</div>

					</div>
					<div class="item-Card-buy__detailed">

						<ul class="item-Card-buy__list-detailed">

							<li class="item-Card-buy__item-detailed">

								<div class="item-Card-buy__item-detailed-title">
									<h3 class="item-Card-buy__item-detailed-title-text">Беленый дуб 2000х800 Глухая</h3>
								</div>

								<div class="item-Card-buy__info-detailed">

									<div class="item-Card-buy__price">
										<span class="item-Card-buy__price-text">75 535 ₽</span>
									</div>

									<div class="Counter">
										<button class="Counter__button Counter__button--js-reduction" data-decrement="">
											<svg class="Counter__svg">
												<use xlink:href="#arrow-left" class="Counter__use"></use>
											</svg>
										</button>
										<div class="Counter__block-input">
											<input class="Counter__input Counter__input--js" type="text" value="1" min="1" max="99" step="1">
											<span class="Counter__dimension"> / 10 в наличии</span>
										</div>
										<button class="Counter__button Counter__button--js-increase" data-increment="">
											<svg class="Counter__svg">
												<use xlink:href="#arrow-right" class="Counter__use"></use>
											</svg>
										</button>
									</div>

									<div class="item-Card-buy__item-detailed-icon item-Card-buy__remove-item-js">
										<span class="Icon Icon--black Icon--theme-m">
											<div class="Icon__content">
												<svg class="Icon__svg">
													<use class="Icon__svg-use" xlink:href="#close"></use>
												</svg>
											</div>
										</span>
									</div>

								</div>

							</li>

							<li class="item-Card-buy__item-detailed">

								<div class="item-Card-buy__item-detailed-title">
									<h3 class="item-Card-buy__item-detailed-title-text">Беленый дуб 2000х600 Глухая</h3>
								</div>

								<div class="item-Card-buy__info-detailed">

									<div class="item-Card-buy__price">
										<span class="item-Card-buy__price-text">0 ₽</span>
									</div>

									<div class="Counter">
										<button class="Counter__button Counter__button--js-reduction" data-decrement="">
											<svg class="Counter__svg">
												<use xlink:href="#arrow-left" class="Counter__use"></use>
											</svg>
										</button>
										<div class="Counter__block-input">
											<input class="Counter__input Counter__input--js" type="text" value="1" min="0" max="99" step="1">
											<span class="Counter__dimension"> / 0 в наличии</span>
										</div>
										<button class="Counter__button Counter__button--js-increase" data-increment="">
											<svg class="Counter__svg">
												<use xlink:href="#arrow-right" class="Counter__use"></use>
											</svg>
										</button>
									</div>

									<div class="item-Card-buy__item-detailed-icon item-Card-buy__remove-item-js">
										<span class="Icon Icon--black Icon--theme-m">
											<div class="Icon__content">
												<svg class="Icon__svg">
													<use class="Icon__svg-use" xlink:href="#close"></use>
												</svg>
											</div>
										</span>
									</div>

								</div>

							</li>

							<li class="item-Card-buy__item-detailed">

								<div class="item-Card-buy__item-detailed-title">
									<h3 class="item-Card-buy__item-detailed-title-text">Добор 150х8х2070</h3>
								</div>

								<div class="item-Card-buy__info-detailed">

									<div class="item-Card-buy__price">
										<span class="item-Card-buy__price-text">1 567 ₽</span>
									</div>

									<div class="Counter">
										<button class="Counter__button Counter__button--js-reduction" data-decrement="">
											<svg class="Counter__svg">
												<use xlink:href="#arrow-left" class="Counter__use"></use>
											</svg>
										</button>
										<div class="Counter__block-input">
											<input class="Counter__input Counter__input--js" type="text" value="1" min="0" max="99" step="1">
											<span class="Counter__dimension"> / 5 в наличии</span>
										</div>
										<button class="Counter__button Counter__button--js-increase" data-increment="">
											<svg class="Counter__svg">
												<use xlink:href="#arrow-right" class="Counter__use"></use>
											</svg>
										</button>
									</div>

									<div class="item-Card-buy__item-detailed-icon item-Card-buy__remove-item-js">
										<span class="Icon Icon--black Icon--theme-m">
											<div class="Icon__content">
												<svg class="Icon__svg">
													<use class="Icon__svg-use" xlink:href="#close"></use>
												</svg>
											</div>
										</span>
									</div>

								</div>

							</li>

						</ul>

					</div>
				</div>


				</div>
			</div>

		</div>



		<div class="Checkout Checkout__mobile">
			<div class="Checkout__wrapper">

				<div class="Checkout__content">

					<div class="Checkout__title">
						<h3 class="Checkout__title-text">
							Ваша корзина
						</h3>
					</div>

					<div class="Checkout__desc">

						<div class="Checkout__desc-item">
							<span class="Checkout__desc-text">Товаров в корзине</span>
							<span class="Checkout__desc-num">3 шт.</span>
						</div>

						<div class="Checkout__desc-item">
							<span class="Checkout__desc-text">Розничная цена</span>
							<span class="Checkout__desc-num">24 567 ₽</span>
						</div>

						<div class="Checkout__desc-item">
							<span class="Checkout__desc-text-total">Ваша выгода</span>
							<span class="Checkout__desc-num-total">567 ₽</span>
						</div>

					</div>

				</div>

				<div class="Checkout__result">

					<span class="Checkout__result-text">Итого к оплате</span>
					<span class="Checkout__result-total-text">18 567 ₽</span>

				</div>
			</div>
		</div>

			<div class="Checkout">
				<div class="Checkout__wrapper">
					<div class="Checkout__btn">
						<a class="Button Button--lime Button--theme-xl" href="#">
							<span class="Button__icon">
								<svg class="Button__icon-svg">
									<use class="Button__icon-svg-use" xlink:href="#confirmed"></use>
								</svg>
							</span>
							<span class="Button__text">Завершить оформление заказа</span>
						</a>
					</div>

					<div class="Checkout__content">

						<div class="Checkout__title">
							<h3 class="Checkout__title-text">
								Ваша корзина
							</h3>
						</div>

						<div class="Checkout__desc">

							<div class="Checkout__desc-item">
								<span class="Checkout__desc-text">Товаров в корзине</span>
								<span class="Checkout__desc-num">3 шт.</span>
							</div>

							<div class="Checkout__desc-item">
								<span class="Checkout__desc-text">Розничная цена</span>
								<span class="Checkout__desc-num">24 567 ₽</span>
							</div>

							<div class="Checkout__desc-item">
								<span class="Checkout__desc-text-total">Ваша выгода</span>
								<span class="Checkout__desc-num-total">567 ₽</span>
							</div>

						</div>

					</div>

					<div class="Checkout__result">

						<span class="Checkout__result-text">Итого к оплате</span>
						<span class="Checkout__result-total-text">18 567 ₽</span>

					</div>
				</div>
			</div>

			<div class="ordering-page__block-personal-data">

				<div class="ordering-page__order-list-title">
					<span class="ordering-page__order-list-title-icon">
						<svg class="Icon__svg ordering-page__order-list-title-icon-svg">
							<use class="Icon__svg-use" xlink:href="#success"></use>
						</svg>
					</span>
					<h3 class="ordering-page__order-list-title-text">Личные данные</h3>
				</div>

				<div class="ordering-page__wrapper-form">

			
					<div class="ordering-page__block-input-form">
						<form class="ordering-page__form js-form-validation" action="" novalidate="novalidate">
							<div class="ordering-page__block-inputs">
								<div class="Input  input">
									<label class="Input__label"> <span class="Input__label-text">ФИО ответственного</span> <input class="Input__inp" type="text" name="name" placeholder="Введите ФИО..." data-index-input="1" required=""></label>
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
								<div class="Input input">
									<label class="Input__label"> <span class="Input__label-text">Номер телефона</span><input class="Input__inp mask-phone-js" type="tel" name="tel" data-index-input="2" required=""></label>
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
								<div class="Input input">
									<label class="Input__label">E-mail<input class="Input__inp" type="email" name="mail" placeholder="Введите ваш e-mail... " data-index-input="3" required=""></label>
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
								<div class="Privacy-policy">
									<label class="Privacy-policy__checkbox checkbox">
										<input class="Privacy-policy__input" type="checkbox" name="checkbox" required="">
										<span class="Privacy-policy__label">
											<span class="Privacy-policy__text Privacy-policy__text--policy">
												Я принимаю условия Публичной оферты <a href="##" target="_blank">(https://optovikk.ru/offer/)</a>
											</span>
										</span>
										<span class="input-validation__message input-validation__message-mod"></span>
									</label>
								</div>
								<div class="Input input">
									<label class="Input__label"> <span class="Input__label-text">Город</span><input class="Input__inp" type="city" name="mail" placeholder="Введите Ваш город... " data-index-input="4" required=""></label>
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
							</div>

						</form>
					</div>
			
				</div>


			</div>

		</div>

	</div>
	</div>
</section>