
.ordering-page {
  &__block-personal-data {
    @include adaptiv-value("padding-bottom", 57, 0, 1);
  }

  &__block-input-form {
  }

  &__block-inputs {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-end;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
  }

  &__order-list-title {
    @include adaptiv-value("padding-left", 25, 0, 1);
    @include adaptiv-value("padding-right", 25, 0, 1);

    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
  }

  &__order-list-title-icon {
  }

  &__order-list-title-icon-svg {
    @include adaptiv-value("width", 48, 32, 1);
    @include adaptiv-value("height", 48, 32, 1);
  }

  &__order-list-title-text {
    @include adaptiv-value("font-size", 22, 16, 1);
    @include adaptiv-value("line-height", 26, 19, 1);
    @include adaptiv-value("margin-left", 20, 10, 1);

    font-weight: 600;
    color: $black;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 40px;
    margin-bottom: 40px;
    gap: 20px;
  }

  &__wrapper-form {

  }

  .Button {
    &__icon {
    }

    &__icon-svg {
    }

    &__icon-svg-use {
    }

    &__text {
    }

    &--gray-light {
    }

    &--lime {
    }

    &--theme-s {
    }

    &--theme-s-w {
    }

    &--theme-xl {
    }
  }

  .Card-buy {
    &__block-img {
    }

    &__img {
    }

    &__item-products {
    }

    &__list-products {
      @include adaptiv-value("margin-top", 36, 20, 1);
    }

    &__wrapper-item-products {
    }
  }

  .Checkout {
    &__btn {
    }

    &__content {
      @include adaptiv-value("padding-top", 27, 20, 1);
    }

    &__desc {
    }

    &__desc-item {
    }

    &__desc-num {
    }

    &__desc-num-total {
    }

    &__desc-text {
    }

    &__desc-text-total {
    }

    &__mobile {
      display: none;
      opacity: 0;
      visibility: hidden;
    }

    &__result {
    }

    &__result-text {
    }

    &__result-total-text {
    }

    &__title {
    }

    &__title-text {
    }

    &__wrapper {
    }
  }

  .Container {
  }

  .Counter {
    &__block-input {
    }

    &__button {
      &--js-increase {
      }

      &--js-reduction {
      }
    }

    &__dimension {
    }

    &__input {
      &--js {
      }
    }

    &__svg {
    }

    &__use {
    }
  }

  .Icon {
    &__content {
    }

    &__svg {
    }

    &__svg-use {
    }

    &--black {
    }

    &--theme-m {
    }
  }

  .Input {
    &__inp {
      @include adaptiv-value("width", 310, 290, 1);

      margin-top: 5px;
      margin-left: 20px;
      height: 42px;
    }

    &__label {
    }

    &__label-text {
      color: $black;
    }
  }

  .Privacy-policy {
    @include adaptiv-value("margin-right", -39, 100, 1);
    @include adaptiv-value("margin-top", 30, 15, 1);
    @include adaptiv-value("margin-bottom", 15, 0, 1);

    &__checkbox {
    }

    &__input {
    }

    &__label {
    }

    &__text {
      &--policy {
        font-size: 16px;
        line-height: 19px;
        white-space: nowrap;
      }
    }
  }

  .checkbox {
  }

  .input {
  }

  .input-validation {
    &__message {
    }

    &__message-mod {
    }
  }

  .item-Card-buy {
    &__amount {
    }

    &__amount-btn {
    }

    &__amount-desc {
    }

    &__amount-desc-text {
    }

    &__amount-desc-text-decoration {
    }

    &__badges {
    }

    &__badges-discount {
    }

    &__block-info {
    }

    &__content {
    }

    &__desc {
    }

    &__desc-text {
    }

    &__detailed {
    }

    &__info {
    }

    &__info-detailed {
    }

    &__info-icon {
    }

    &__item-detailed {
    }

    &__item-detailed-icon {
    }

    &__item-detailed-title {
    }

    &__item-detailed-title-text {
    }

    &__list-detailed {
    }

    &__price {
    }

    &__price-text {
    }

    &__remove-item-js {
    }

    &__remove-product-js {
    }

    &__title {
    }

    &__title-text {
    }
  }

  .js-form-validation {
  }

  .mask-phone-js {
  }

  .popup-beginner {

  }

  &__block-order-list,
  &__block-personal-data {
    @include adaptiv-value("padding-top", 23, 0, 1);
    @include adaptiv-value("padding-bottom", 23, 0, 1);
    @include adaptiv-value("padding-left", 23, 0, 1);
    @include adaptiv-value("padding-right", 23, 0, 1);

    box-shadow: 0 5px 15px rgba(143, 150, 176, 0.3);
    background: $white;
  }
}
