<section class="Page-not-found">
	<div class="Container Max-width">
		<div class="Page-not-found__wrapper">
			<div class="Page-not-found__heading">
				<div class="Page-not-found__title">
					<h2 class="Page-not-found__title-text">404</h2>
				</div>
				<div class="Page-not-found__subtitle">
					<span class="Page-not-found__subtitle-text">
						Страница не найдена
					</span>
				</div>
			</div>
			<div class="Page-not-found__content-desc-btn">
				<div class="Page-not-found__desc">
					<span class="Page-not-found__desc-text Border">
						К сожалению запрашиваемая Вами страница не найдена
					</span>
				</div>
				<div class="Page-not-found__btn">
					<a class="Button Button--lime Button--theme-s" href="#">
						<span class="Button__text">На главную</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>