<div class="Thumbnail-slide">
	<div class="Thumbnail-slide__wrapper">


		<div class="Thumbnail-slide__wrap-product-swiper">
			<div class="Thumbnail-slide__wrapper-product-swiper">

				<div class="swiper-container Thumbnail-slide__swiper Thumbnail-slide-swiper-2">


					<div class="swiper-wrapper Thumbnail-slide__swiper-wrapper">
						<div class="swiper-slide Thumbnail-slide__swiper-slide">
							<a href="#" class="Thumbnail-slide__swiper-link" data-fancybox="gallery"
								data-src="img/products/product-1.png">
								<div class="Thumbnail-slide__swiper-block-image">
									<div class="Badges">
										<div class="Badges__offer">

											<span class="Badges__offer-discount">-1%</span>
											<span class="Icon Icon--lime Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#new"></use>
													</svg>
												</div>
											</span>
											<span class="Icon Icon--gray  Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#bestseller"></use>
													</svg>
												</div>
											</span>
											<span class="Icon Icon--gray  Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#flame"></use>
													</svg>
												</div>
											</span>

											<div class="Badges__offer-last">
												<span class="Icon  Icon--gray Icon--theme-m">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#video-card"></use>
														</svg>
													</div>
												</span>
											</div>

										</div>
										<div class="Badges__interaction">

											<span class="Icon Icon--gray Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#like"></use>
													</svg>
												</div>
											</span>
											<span class="Icon Icon--gray Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#scales"></use>
													</svg>
												</div>
											</span>

											<div class="Badges__interaction-last">
												<span class="Button Button--lime-light Button--theme-s Button--theme-s-n ">
													<span class="Button__icon">
														<svg class="Button__icon-svg">
															<use class="Button__icon-svg-use" xlink:href="#feature"></use>
														</svg>
													</span>
												</span>
											</div>


										</div>
									</div>
									<div class="Thumbnail-slide__inner-image ">
										<img src="img/products/product-1.png" class="Thumbnail-slide__swiper-image" />
									</div>
								</div>
							</a>
						</div>
						<div class="swiper-slide Thumbnail-slide__swiper-slide">
							<a href="#" class="Thumbnail-slide__swiper-link" data-fancybox="gallery"
								data-src="img/products/product-2.png">
								<div class="Thumbnail-slide__swiper-block-image">
									<div class="Badges">
										<div class="Badges__offer">

											<span class="Badges__offer-discount">2%</span>
											<span class="Icon Icon--lime Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#new"></use>
													</svg>
												</div>
											</span>
											<span class="Icon Icon--gray  Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#bestseller"></use>
													</svg>
												</div>
											</span>
											<span class="Icon Icon--gray  Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#flame"></use>
													</svg>
												</div>
											</span>

											<div class="Badges__offer-last">
												<span class="Icon  Icon--gray Icon--theme-m">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#video-card"></use>
														</svg>
													</div>
												</span>
											</div>

										</div>
										<div class="Badges__interaction">

											<span class="Icon Icon--gray Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#like"></use>
													</svg>
												</div>
											</span>
											<span class="Icon Icon--gray Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#scales"></use>
													</svg>
												</div>
											</span>

											<div class="Badges__interaction-last">
												<span class="Button Button--lime-light Button--theme-s Button--theme-s-n ">
													<span class="Button__icon">
														<svg class="Button__icon-svg">
															<use class="Button__icon-svg-use" xlink:href="#feature"></use>
														</svg>
													</span>
												</span>
											</div>


										</div>
									</div>
									<div class="Thumbnail-slide__inner-image ">
										<img src="img/products/product-2.png" class="Thumbnail-slide__swiper-image" />
									</div>
								</div>
							</a>
						</div>
						<div class="swiper-slide Thumbnail-slide__swiper-slide">
							<a href="#" class="Thumbnail-slide__swiper-link" data-fancybox="gallery"
								data-src="img/products/product-1.png">
								<div class="Thumbnail-slide__swiper-block-image">
									<div class="Badges">
										<div class="Badges__offer">

											<span class="Badges__offer-discount">-3%</span>
											<span class="Icon Icon--lime Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#new"></use>
													</svg>
												</div>
											</span>
											<span class="Icon Icon--gray  Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#bestseller"></use>
													</svg>
												</div>
											</span>
											<span class="Icon Icon--gray  Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#flame"></use>
													</svg>
												</div>
											</span>

											<div class="Badges__offer-last">
												<span class="Icon  Icon--gray Icon--theme-m">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#video-card"></use>
														</svg>
													</div>
												</span>
											</div>

										</div>
										<div class="Badges__interaction">

											<span class="Icon Icon--gray Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#like"></use>
													</svg>
												</div>
											</span>
											<span class="Icon Icon--gray Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#scales"></use>
													</svg>
												</div>
											</span>

											<div class="Badges__interaction-last">
												<span class="Button Button--lime-light Button--theme-s Button--theme-s-n ">
													<span class="Button__icon">
														<svg class="Button__icon-svg">
															<use class="Button__icon-svg-use" xlink:href="#feature"></use>
														</svg>
													</span>
												</span>
											</div>


										</div>
									</div>
									<div class="Thumbnail-slide__inner-image ">
										<img src="img/products/product-1.png" class="Thumbnail-slide__swiper-image" />
									</div>
								</div>
							</a>
						</div>
						<div class="swiper-slide Thumbnail-slide__swiper-slide">
							<a href="#" class="Thumbnail-slide__swiper-link" data-fancybox="gallery"
								data-src="img/products/product-2.png">
								<div class="Thumbnail-slide__swiper-block-image">
									<div class="Badges">
										<div class="Badges__offer">

											<span class="Badges__offer-discount">-4%</span>
											<span class="Icon Icon--lime Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#new"></use>
													</svg>
												</div>
											</span>
											<span class="Icon Icon--gray  Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#bestseller"></use>
													</svg>
												</div>
											</span>
											<span class="Icon Icon--gray  Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#flame"></use>
													</svg>
												</div>
											</span>

											<div class="Badges__offer-last">
												<span class="Icon  Icon--gray Icon--theme-m">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#video-card"></use>
														</svg>
													</div>
												</span>
											</div>

										</div>
										<div class="Badges__interaction">

											<span class="Icon Icon--gray Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#like"></use>
													</svg>
												</div>
											</span>
											<span class="Icon Icon--gray Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#scales"></use>
													</svg>
												</div>
											</span>

											<div class="Badges__interaction-last">
												<span class="Button Button--lime-light Button--theme-s Button--theme-s-n ">
													<span class="Button__icon">
														<svg class="Button__icon-svg">
															<use class="Button__icon-svg-use" xlink:href="#feature"></use>
														</svg>
													</span>
												</span>
											</div>


										</div>
									</div>
									<div class="Thumbnail-slide__inner-image ">
										<img src="img/products/product-2.png" class="Thumbnail-slide__swiper-image" />
									</div>
								</div>
							</a>
						</div>
						<div class="swiper-slide Thumbnail-slide__swiper-slide">
							<a href="#" class="Thumbnail-slide__swiper-link" data-fancybox="gallery"
								data-src="img/products/product-1.png">
								<div class="Thumbnail-slide__swiper-block-image">
									<div class="Badges">
										<div class="Badges__offer">

											<span class="Badges__offer-discount">-5%</span>
											<span class="Icon Icon--lime Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#new"></use>
													</svg>
												</div>
											</span>
											<span class="Icon Icon--gray  Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#bestseller"></use>
													</svg>
												</div>
											</span>
											<span class="Icon Icon--gray  Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#flame"></use>
													</svg>
												</div>
											</span>

											<div class="Badges__offer-last">
												<span class="Icon  Icon--gray Icon--theme-m">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#video-card"></use>
														</svg>
													</div>
												</span>
											</div>

										</div>
										<div class="Badges__interaction">

											<span class="Icon Icon--gray Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#like"></use>
													</svg>
												</div>
											</span>
											<span class="Icon Icon--gray Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#scales"></use>
													</svg>
												</div>
											</span>

											<div class="Badges__interaction-last">
												<span class="Button Button--lime-light Button--theme-s Button--theme-s-n ">
													<span class="Button__icon">
														<svg class="Button__icon-svg">
															<use class="Button__icon-svg-use" xlink:href="#feature"></use>
														</svg>
													</span>
												</span>
											</div>


										</div>
									</div>
									<div class="Thumbnail-slide__inner-image ">
										<img src="img/products/product-1.png" class="Thumbnail-slide__swiper-image" />
									</div>
								</div>
							</a>
						</div>
						<div class="swiper-slide Thumbnail-slide__swiper-slide">
							<a href="#" class="Thumbnail-slide__swiper-link" data-fancybox="gallery"
								data-src="img/products/product-2.png">
								<div class="Thumbnail-slide__swiper-block-image">
									<div class="Badges">
										<div class="Badges__offer">

											<span class="Badges__offer-discount">6%</span>
											<span class="Icon Icon--lime Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#new"></use>
													</svg>
												</div>
											</span>
											<span class="Icon Icon--gray  Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#bestseller"></use>
													</svg>
												</div>
											</span>
											<span class="Icon Icon--gray  Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#flame"></use>
													</svg>
												</div>
											</span>

											<div class="Badges__offer-last">
												<span class="Icon  Icon--gray Icon--theme-m">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#video-card"></use>
														</svg>
													</div>
												</span>
											</div>

										</div>
										<div class="Badges__interaction">

											<span class="Icon Icon--gray Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#like"></use>
													</svg>
												</div>
											</span>
											<span class="Icon Icon--gray Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#scales"></use>
													</svg>
												</div>
											</span>

											<div class="Badges__interaction-last">
												<span class="Button Button--lime-light Button--theme-s Button--theme-s-n ">
													<span class="Button__icon">
														<svg class="Button__icon-svg">
															<use class="Button__icon-svg-use" xlink:href="#feature"></use>
														</svg>
													</span>
												</span>
											</div>


										</div>
									</div>
									<div class="Thumbnail-slide__inner-image ">
										<img src="img/products/product-2.png" class="Thumbnail-slide__swiper-image" />
									</div>
								</div>
							</a>
						</div>
					</div>

				</div>


				<div thumbsSlider=""
					class="swiper-container Thumbnail-slide__swiper Thumbnail-slide-swiper Thumbnail-slide__swiper-conteiner"
					data-preview-slides="5">

					<div class="swiper-wrapper Thumbnail-slide__swiper-wrapper">

						<div class="swiper-slide Thumbnail-slide__swiper-slide" data-min-image>
							<img src="img/products/product-min-1.png" class="Thumbnail-slide__swiper-image" />
						</div>
						<div class="swiper-slide Thumbnail-slide__swiper-slide" data-min-image>
							<img src="img/products/product-min-2.png" class="Thumbnail-slide__swiper-image" />
						</div>
						<div class="swiper-slide Thumbnail-slide__swiper-slide" data-min-image>
							<img src="img/products/product-min-1.png" class="Thumbnail-slide__swiper-image" />
						</div>
						<div class="swiper-slide Thumbnail-slide__swiper-slide" data-min-image>
							<img src="img/products/product-min-2.png" class="Thumbnail-slide__swiper-image" />
						</div>
						<div class="swiper-slide Thumbnail-slide__swiper-slide" data-min-image>
							<img src="img/products/product-min-1.png" class="Thumbnail-slide__swiper-image" />
						</div>
						<div class="swiper-slide Thumbnail-slide__swiper-slide" data-min-image>
							<img src="img/products/product-min-2.png" class="Thumbnail-slide__swiper-image" />
						</div>
					</div>

					<div
						class="Swiper-button-next-video-reviews Swiper-button-default Thumbnail-slide__swiper-button Thumbnail-slide__swiper-button-next">

						<svg class="Swiper-button-default__svg">
							<use class="Swiper-button-default__use" xlink:href="#right-icon-button-slider-1"></use>
						</svg>



					</div>

					<div
						class="Swiper-button-prev-video-reviews Swiper-button-default Thumbnail-slide__swiper-button Thumbnail-slide__swiper-button-prev">

						<svg class="Swiper-button-default__svg">
							<use class="Swiper-button-default__use" xlink:href="#left-icon-button-slider-1"></use>
						</svg>

					</div>

				</div>

			</div>
		</div>



	</div>
</div>