.Thumbnail-slide {
  &__inner-image {
  }
  &__swiper {
    height: 686px;
  }
  &__swiper-block-image {
    margin-top: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    object-position: center;
    width: 100%;
  }
  &__swiper-button {
  }
  &__swiper-button-next {
    padding: 0;
  }
  &__swiper-button-prev {
    padding: 0;
  }
  &__swiper-conteiner {
  }
  &__swiper-image {
    height: 100%;
    max-width: 374px;
    object-fit: cover;
    object-position: center;
  }
  &__swiper-link {
    outline: none;
  }
  &__swiper-slide {
  }
  &__swiper-wrapper {
  }
  &__wrap-product-swiper {
  }
  &__wrapper {
  }
  &__wrapper-product-swiper {
  }

  .Thumbnail-slide-swiper {
  }
  .Thumbnail-slide-swiper-2 {
  }
  .swiper-container {
  }
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .swiper-wrapper {
  }
  .Swiper-button-default {
    &__svg {
    }
    &__use {
    }
  }
  .Swiper-button-next-video-reviews {
  }
  .Swiper-button-prev-video-reviews {
  }
  .swiper-container-thumbs {
    height: 130px;
    // margin: 25px 75px;
    cursor: pointer;

    // &:hover {

    //   .Thumbnail-slide__swiper-image {
    //     border: 2px solid red;
    //   }
    // }
  }

  .swiper-container-thumbs {
    padding: 0 5px;
  }

  .swiper-slide-thumb-active {
    border: 1px solid $lime;
		padding: 10px;
		
  }
}
