<section class="contacts-page">
	<div class="Container Max-width">
		@include('../../components/block/bread-crumbs/bread-crumbs.html')
		<div class="contacts-page__wrapper">

			<div class="contacts-page__heading">
				<div class="Title">
					<div class="Title__wrapper--theme-m Title__wrapper--quartz">
						<h2>Наши фирменные магазины</h2>
					</div>
				</div>

				<div class="Subtitle">
					<div class="Subtitle__wrapper--theme-m">
						<h4>и магазины партнеры есть во всех городах ЮФО и СКФО</h4>
					</div>
				</div>
			</div>

			<form class="contacts-page__form js-form-validation" method="post" action="" novalidate="novalidate">
				<div class="contacts-page__block-inputs">
					<div class="Input input">
						<input class="Input__inp" type="text" name="name" placeholder="Ваш Город..." data-index-input="1"
							required="" />
						<span class="input-validation__message input-validation__message-mod"></span>
					</div>
				</div>

				<a class="Button Button--lime Button--theme-s" href="#">
					<span class="Button__icon">
						<svg class="Button__icon-svg">
							<use class="Button__icon-svg-use" xlink:href="#search"></use>
						</svg>
					</span>
					<span class="Button__text">Найти магазин</span>
				</a>
			</form>








				<div class="Card-elementary">
			<div class="Card-elementary__list">

				<div class="Card-elementary__list-item item-Card-elementary">
				
	

						<div class="swiper-container item-Card-elementary__swiper-container">
							<div class="swiper-wrapper item-Card-elementary__wrapper">
			
								<div class="swiper-slide item-Card-elementary__slide">
									<div class="item-Card-elementary__block-img">
										<img class="item-Card-elementary__block-img-size" src="https://s3.nat-geo.ru/images/2019/9/30/c69de83881d0431db934775326204a86.max-1200x800.jpg" alt="" />
									</div>
								</div>
								<div class="swiper-slide item-Card-elementary__slide">
									<div class="item-Card-elementary__block-img">
										<img class="item-Card-elementary__block-img-size" src="/img/contacts-page-img-2.jpg" alt="" />
									</div>
								</div>
			
							</div>
			
			
							<div class="Swiper-button-next-video-reviews Swiper-button-default">
				
								<svg class="Swiper-button-default__svg">
									<use class="Swiper-button-default__use" xlink:href="#right-icon-button-slider-1"></use>
								</svg>
			
						</div>
			
			
						</div>


					<div class="item-Card-elementary__content">

						<div class="Contacts">
							<div class="Contacts__list">
			
								<div class="Contacts__list-item">

										<div class="Contacts__item-city">
									<div class="Contacts__item-content">
										<div class="Contacts__item-icon">
											<svg class="Contacts__item-icon-svg">
												<use class="Contacts__item-icon-svg-use" xlink:href="#location"></use>
											</svg>
			
										</div>
										<div class="Contacts__item-information">
											<a class="Contacts__item-information-link" href="#">
												г. Анапа
											</a>
			
										</div>
									</div>
								</div>

									<div class="Contacts__item-title">
										<h3 class="Contacts__item-title-text">
											ул. Владимирская 	101 А, корпус 3
										</h3>
			
									</div>
			
										<div class="Contacts__block-info">
									<div class="Contacts__item-content">
										<div class="Contacts__item-icon">
											<svg class="Contacts__item-icon-svg">
												<use class="Contacts__item-icon-svg-use" xlink:href="#phone"></use>
											</svg>
			
										</div>
										<div class="Contacts__item-information">
											<a class="Contacts__item-information-link" href="tel:8(918)438-66-55">
												8 (918) 438-66-55
											</a>
			
										</div>
									</div>
			
									<div class="Contacts__item-content">
										<div class="Contacts__item-icon">
											<svg class="Contacts__item-icon-svg">
												<use class="Contacts__item-icon-svg-use" xlink:href="#clock"></use>
											</svg>
			
										</div>
										<div class="Contacts__item-information">

											<p>пн-пт: 09.00 - 19.00</p>	
											
											<p>сб-вс: 10.00 - 18.00</p>	
			
										</div>
									</div>

								</div>

									
								</div>
			
			
							</div>
			
						</div>

					</div>
				</div>
			</div>
		</div>







			<div class="Card-begginer__list">
				<div class="Card-begginer__list-item">
					<div class="Card-begginer__block-img">
						<img class="Card-begginer__img" src="img/contacts-page-img-1.png" alt="" />
					</div>

					<div class="Card-begginer__content">
						<div class="Card-begginer__item-title">
							<h3 class="Card-begginer__item-title-text">
								В вашем городе несколько магазинов партнёров
							</h3>
						</div>
						<div class="Card-begginer__item-description">
							<h4 class="Card-begginer__item-description-text">
								Узнайте адрес магазина, в котором можно приобрести двери в вашем
								городе
							</h4>
						</div>

						<div class="Card-begginer__block-information">
							<div class="Feedback">
								<div class="Feedback__wrapper">
									<div class="Feedback__block-number">
										<div class="Feedback__number">
											<a class="Link Link--black Link--theme-m" href="tel:8(909)678-00-56">
												8 (988) 473-63-60
											</a>
										</div>
									</div>
									<div class="Feedback__call">
										<a class="Link Link--lime-decor" href="#">Заказать звонок</a>
									</div>
								</div>
							</div>
							<a class="Button Button--lime Button--theme-s" href="#popup-find-address" data-fancybox-window>
								<span class="Button__icon">
									<svg class="Button__icon-svg">
										<use class="Button__icon-svg-use" xlink:href="#location"></use>
									</svg>
								</span>
								<span class="Button__text">Узнать адрес</span>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="contacts-page__heading contacts-page__heading--border">
				<div class="Title">
					<div class="Title__wrapper--theme-m Title__wrapper--quartz">
						<h2>Для корпоративных клиентов</h2>
					</div>
				</div>

				<div class="Subtitle">
					<div class="Subtitle__wrapper--theme-m">
						<h4>осуществляем оптовые поставки по всему Югу России</h4>
					</div>
				</div>
			</div>

			<div class="Contacts">
				<div class="Contacts__list">

					<div class="Contacts__list-item">
						<div class="Contacts__item-title">
							<h3 class="Contacts__item-title-text">
								Краснодар
							</h3>

						</div>

						<div class="Contacts__item-block">

						<div class="Contacts__item-content">
							<div class="Contacts__item-icon">
								<svg class="Contacts__item-icon-svg">
									<use class="Contacts__item-icon-svg-use" xlink:href="#phone"></use>
								</svg>

							</div>
							<div class="Contacts__item-information">
								<a class="Contacts__item-information-link" href="tel:8(988) 473-63-60">
									8 (988) 473-63-60
								</a>

							</div>
						</div>

						<div class="Contacts__item-content">
							<div class="Contacts__item-icon">
								<svg class="Contacts__item-icon-svg">
									<use class="Contacts__item-icon-svg-use" xlink:href="#mail"></use>
								</svg>

							</div>
							<div class="Contacts__item-information">
								<a class="Contacts__item-information-link" href="mailto:info@tandoor.ru">
									info@tandoor.ru
								</a>

							</div>
						</div>
						</div>
					</div>

					<div class="Contacts__list-item">
						<div class="Contacts__item-title">
							<h3 class="Contacts__item-title-text">
								Руководитель компании
							</h3>

						</div>

						<div class="Contacts__item-block">
						<div class="Contacts__item-content">
							<div class="Contacts__item-icon">
								<svg class="Contacts__item-icon-svg">
									<use class="Contacts__item-icon-svg-use" xlink:href="#phone"></use>
								</svg>

							</div>
							<div class="Contacts__item-information">
								<a class="Contacts__item-information-link" href="tel:8(918)438-66-55">
									8 (918) 438-66-55
								</a>

							</div>
						</div>

						<div class="Contacts__item-content">
							<div class="Contacts__item-icon">
								<svg class="Contacts__item-icon-svg">
									<use class="Contacts__item-icon-svg-use" xlink:href="#mail"></use>
								</svg>

							</div>
							<div class="Contacts__item-information">
								<a class="Contacts__item-information-link" href="mailto:direktor@tandoors.ru">
									direktor@tandoors.ru
								</a>

							</div>
						</div>
						</div>
					</div>

					<div class="Contacts__list-item">
						<div class="Contacts__item-title">
							<h3 class="Contacts__item-title-text">
								Юридический адрес
							</h3>

						</div>

						<div class="Contacts__item-block">
						<div class="Contacts__item-content">
							<div class="Contacts__item-icon">
								<svg class="Contacts__item-icon-svg">
									<use class="Contacts__item-icon-svg-use" xlink:href="#location"></use>
								</svg>

							</div>
							<div class="Contacts__item-information">
								<a class="Contacts__item-information-link" href="tel:8(918)438-66-55">
									350087, Краснодарский край,
									г.Краснодар,
									ул.Северная, дом 353, офис 511
								</a>

							</div>
						</div>

						<div class="Contacts__item-content">
							<div class="Contacts__item-icon">
								<svg class="Contacts__item-icon-svg">
									<use class="Contacts__item-icon-svg-use" xlink:href="#phone"></use>
								</svg>

							</div>
							<div class="Contacts__item-information">
								<a class="Contacts__item-information-link" href="tel:8(988)473-63-60">
									8 (988) 473-63-60
								</a>

							</div>
						</div>

						<div class="Contacts__item-content">
							<div class="Contacts__item-icon">
								<svg class="Contacts__item-icon-svg">
									<use class="Contacts__item-icon-svg-use" xlink:href="#mail"></use>
								</svg>

							</div>
							<div class="Contacts__item-information">
								<a class="Contacts__item-information-link" href="mailto:info@tandoor.ru">
									info@tandoor.ru
								</a>

							</div>
						</div>
						</div>
					</div>

					<div class="Contacts__list-item">
						<div class="Contacts__item-title">
							<h3 class="Contacts__item-title-text">
								График работы
							</h3>

						</div>
						<div class="Contacts__item-block">
						<div class="Contacts__item-content">
							<div class="Contacts__item-icon">
								<svg class="Contacts__item-icon-svg">
									<use class="Contacts__item-icon-svg-use" xlink:href="#clock"></use>
								</svg>

							</div>
							<div class="Contacts__item-information">
								<h4 class="Contacts__item-information-description">пн-пт 09:00 - 18:00</h4>
								<h4 class="Contacts__item-information-description">сб-вс 10:00 - 15:00</h4>
							</div>
						</div>

						</div>
					</div>

				</div>

			</div>

			<div class="contacts-page__button-consultation">
				<a class="Button Button--lime Button--theme-m" href="#popup-consultation-manager" data-fancybox-window>
					<span class="Button__icon">
						<svg class="Button__icon-svg">
							<use class="Button__icon-svg-use" xlink:href="#headphones"></use>
						</svg>
					</span>
					<span class="Button__text">Консультация менеджера</span>
				</a>
			</div>

			<div class="contacts-page__heading contacts-page__heading--border-n">
				<div class="Title">
				</div>
			</div>

		</div>
	</div>
</section>