.section-map-contacts-page {
  @include adaptiv-value("margin-top", 40, 30, 1);
}

.contacts-page {
  .Button {
    &__icon {
      margin-right: 10px;
    }

    &__icon-svg {
      margin: 0;
      width: 24px;
      height: 24px;
    }
  }

  .Title {
    @include adaptiv-value("margin-top", 30, 26, 1);

    &__wrapper {
      &--quartz {
      }

      &--theme-m {
      }
    }
  }

  .Subtitle {
    &__wrapper {
      &--theme-m {
      }
    }
  }

  .Input {
    width: 100%;

    &__inp {
      padding: 10px;
      width: 100%;
      min-height: 40px;
    }
  }

  &__button-consultation {
    @include adaptiv-value("margin-top", 70, 30, 1);

    display: flex;
    justify-content: center;

    .Button {
      &--theme-m {
        width: 270px;
      }
    }
  }

  &__heading {
    &--border {
      @include adaptiv-value("padding-top", 37, 30, 1);
      @include adaptiv-value("padding-bottom", 80, 30, 1);

      position: relative;
      margin-top: 30px;

      ::before {
        content: "";
        position: absolute;
        right: 50%;
        top: 0;
        display: block;
        width: 45%;
        height: 1px;
        background: #e3e6f3;
        transform: translateX(50%);
        transform: translateX(50%);
        transform: translateX(50%);
      }
    }

    &--border-n {
      @include adaptiv-value("margin-top", 72, 30, 1);

      position: relative;

      ::before {
        content: "";
        position: absolute;
        right: 50%;
        top: 0;
        display: block;
        width: 45%;
        height: 1px;
        background: #e3e6f3;
        transform: translateX(50%);
        transform: translateX(50%);
        transform: translateX(50%);
      }
    }
  }

  &__wrapper {
  }

  &__form {
    @include adaptiv-value("margin-top", 50, 40, 1);

    display: flex;
    align-items: center;
    justify-content: center;

    .Button {
      margin-left: 10px;

      &__icon {
        margin-right: 10px;
      }

      &__icon-svg {
        margin: 0;
        width: 24px;
        height: 24px;
      }
    }
  }

  &__block-inputs {
    width: 352px;
  }
}
