.section-directory {
	&__btns {
		display: flex;
		align-items: center;
		margin-left: 30px;

	}
  &__tabs {
		&:not(:last-child) > .Button {
			margin-right: 10px;
		}
		.Button {
			border: 1px solid $gray-bg;
			transition: $transition;
			&:hover,
			&:focus,
			&:active {
				border: 1px solid transparent;
			}
		}
  }
  &__wrapper {
    margin-top: 20px;
    .Button {
      &--theme-s-n {
        width: auto;
      }
      &__icon-svg {
        margin: 0;
      }
    }
    .Tabs {
      &__block-grid {
        margin-top: 100px;
        display: grid;
        gap: 20px;
        .Card-product {
          &__img {
            transform: translateX(22%);
            width: 70%;
          }
          &__title-text,
          &__subtitle-text {
            @include adaptiv-value("width", 270, -145, 1);
          }
					&__btn-basket {
						.Button__icon {
							margin-right: 8px;
						}
					}
          .Pos--centerXY {
            left: 20%;
            top: 60%;
          }
        }
      }
			&__block-grid-three {
				grid-template-columns: repeat(3, 33%);
			}
			&__block-grid-one,
			&__block-grid-one-aflat {
				grid-template-columns: repeat(1, 1fr);
			}
			&__block-grid-two {
				grid-template-columns: repeat(2, 1fr);
			}
    }
  }
	&__header-content {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__header-box-tabs-btns {
		display: flex;
		align-items: center;
	}
	&__header-box-checkbox-selector-btn {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__Checkbox {
		display: flex;
		align-items: center;
		& > .Checkbox:not(:last-child) {
			margin-right: 20px;
		}
	}
	&__Select {

		margin-left: 40px;
		@include adaptiv-value("width", 240, 150, 1);
		.Select {
			display: flex;
			align-items: center;
			.Button__icon-svg {
				height: 24px;
				width: 24px;
				fill: $gray;
			}
			.dropdown {
				margin-left: 8px;
				width: 100%;
			}
		}
	}
	&__btn {
		margin-left: 10px;
	}
	&__swiper-container {
		margin-top: 20px;
		padding: 0 20px;
	}
	.swiper-wrapper {
		padding: 17px 0;
	}
	.Swiper-button-default__use {
		fill: $gray;

	}
	.Swiper-button-default__svg {
		height: 12px;
		width: 12px;
	}
	.Swiper-button-prev-video-reviews,
	.Swiper-button-next-video-reviews {
		padding: 0;
	}
	.section-catalog__slide {
		text-align: center;
	}
	.swiper-slide {
		width: max-content;
	}
}
