<div class="section-map__wrapper">
	<div class="Title ">
		<div class="Title__wrapper--theme-m Title__wrapper--quartz">
			<h2>Города, в которых мы работаем</h2>
		</div>
	</div>
	<div class="section-map__map">
		<div class="Map">
			<div class="Map__wrapper">
			<script type="text/javascript" charset="utf-8" async
				src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aa73620532c89caae38bddcb1132949e59d8c24177e865f8beafbc98ef3f730f6&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=false"></script>
			</div>
		</div>
	</div>
</div>