<section class="catalog-page">
	<div class="Container">
		<div class="catalog-page__wrapper">

			@include('../../components/block/bread-crumbs/bread-crumbs.html')

			<ul class="catalog-page__list">
				<li class="catalog-page__list-item">
					<div class="catalog-page__item-content">
						<div class="catalog-page__item-image">
							<a href="#"> <img class="catalog-page__image" src="/img/catalog-page-door-1.jpg" alt="door-1" ></a>
						</div>
					</div>
					<div class="catalog-page__item-overlay">
						<div class="catalog-page__item-heading">
							<h3 class="catalog-page__item-title">
								<a class="catalog-page__item-title-text" href="#">двери межкомнатные</a>
							</h3>
							<a class="Link Link--theme-s Link--lime-decor catalog-page__item-link" href="#">подробнее</a>
						</div>
					</div>
				</li>
				<li class="catalog-page__list-item">
					<div class="catalog-page__item-content">
						<div class="catalog-page__item-image">
							<a href="#"><img class="catalog-page__image" src="/img/catalog-page-door-2.jpg" alt="door-2" ></a>
						</div>
					</div>
					<div class="catalog-page__item-overlay">
							<div class="catalog-page__item-heading">
								<h3 class="catalog-page__item-title">
									<a class="catalog-page__item-title-text" href="#">двери входные</a>
								</h3>
								<a class="Link Link--theme-s Link--lime-decor catalog-page__item-link" href="#">подробнее</a>
							</div>
					</div>
				</li>
				<li class="catalog-page__list-item">
					<div class="catalog-page__item-content">
						<div class="catalog-page__item-image">
					<a href="#"><img class="catalog-page__image" src="/img/catalog-page-door-3.jpg" alt="door-3" > </a>
						</div>
					</div>
					<div class="catalog-page__item-overlay">
						<div class="catalog-page__item-heading">
							<h3 class="catalog-page__item-title">
								<a class="catalog-page__item-title-text" href="#">фурнитура</a>
							</h3>
							<a class="Link Link--theme-s Link--lime-decor catalog-page__item-link" href="#">подробнее</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>