<div class="Container Max-width">
	<div class="section-related-products__wrapper">

				<div class="swiper-container 	section-related-products__swiper-container">
					<div class="swiper-wrapper 	section-related-products__wrapper">


						<div class="swiper-slide 	section-related-products__slide">
						
							<div class="Card-product">

								<div class="Card-product__wrapper">
									<a href="#test" class="Card-product__link">
										<div class="Card-product__heading">

											<div class="Card-product__title">
												<h3 class="Card-product__title-text">Волна1</h3>
											</div>

											<div class="Card-product__subtitle">
												<span class="Card-product__subtitle-text">Итальянский орех</span>
												<span class="Card-product__subtitle-text">Ламинированные двери</span>
											</div>
										</div>
									</a>



									<div class="Card-product__block-img">

										<div class="Badges">
											<div class="Badges__offer">

												<span class="Badges__offer-discount">-25%</span>
												<a class="Icon Icon--lime Icon--theme-m" href="#">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#new"></use>
														</svg>
													</div>
												</a>
												<a class="Icon Icon--gray  Icon--theme-m" href="#">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#bestseller"></use>
														</svg>
													</div>
												</a>
												<a class="Icon Icon--gray  Icon--theme-m" href="#">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#flame"></use>
														</svg>
													</div>
												</a>


												<div class="Badges__offer-last">
													<a class="Icon  Icon--gray Icon--theme-m" href="#">
														<div class="Icon__content">
															<svg class="Icon__svg">
																<use class="Icon__svg-use" xlink:href="#video-card"></use>
															</svg>
														</div>
													</a>
												</div>

											</div>
											<div class="Badges__interaction">

												<a class="Icon Icon--gray Icon--theme-m">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#like"></use>
														</svg>
													</div>
												</a>
												<a class="Icon Icon--gray Icon--theme-m">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#scales"></use>
														</svg>
													</div>
												</a>




											</div>
										</div>
										<a href="#test" class="Card-product__link">
											<img src="https://natalyland.ru/wp-content/uploads/3/0/3/303d6fe69816a269e97dc81d126ebc4f.jpg"
												alt="" class="Card-product__img Bgi">
										</a>
									</div>

									<div class="Card-product__inner">

										<div class="Card-product__have">
											<span class="Card-product__have-text">В наличии: &gt100 </span>

											<button class="Card-product__have-icon Icon Icon--gray  Icon--theme-m Card-product__have-icon-js">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#information-have"></use>
													</svg>
												</div>
											</button>

										</div>
									</div>

									<div class="Card-product__block-have-info Card-product__block-have-info-js">
										<div class="Card-product__have-info-heading">
											<h3 class="Card-product__have-info-heading-text">
												Ожидаемая дата прихода:
											</h3>
											<span class="Card-product__have-info-heading-decor">
												20.12.2020 - 10 шт
											</span>
										</div>
										<div class="Card-product__have-info-title">
											<h3 class="Card-product__have-info-title-text">
												2 дилера в очереди
											</h3>
										</div>
									</div>

								</div>

								<div class="Card-product__block-info">

									<div class="Card-product__price">

										<div class="Card-product__retail-price">
											<div class="Card-product__retail-price-title">
												<h4 class="Card-product__retail-price-title-text">
													Розничная цена
												</h4>
											</div>
											<div class="Card-product__block-retail-price-value">
												<span class="Card-product__retail-price-value"> 1 145 ₽ </span>
												<span class="Card-product__retail-price-value-old"> 18 818₽ </span>
											</div>
										</div>


										<div class="Card-product__trade-price">
											<div class="Card-product__trade-price-title">
												<h4 class="Card-product__trade-price-title-text">
													Оптовая цена
												</h4>
											</div>
											<div class="Card-product__block-trade-price-value">
												<span class="Card-product__trade-price-value"> 1 145 ₽ </span>
												<span class="Card-product__trade-price-value-old"> 18 818₽ </span>
											</div>
										</div>

										<div class="Card-product__your-price">
											<div class="Card-product__your-price-title">
												<h4 class="Card-product__your-price-title-text">
													Ваша цена
												</h4>
											</div>
											<div class="Card-product__block-your-price-value">
												<span class="Card-product__your-price-value"> 1 145 ₽ </span>
												<span class="Card-product__your-price-value-old"> 18 818₽ </span>
											</div>
										</div>

									</div>


									<div class="Card-product__block-instruments-mobile instruments-mobile-Card-product">

										<div class="instruments-mobile-Card-product__block-left">
											<a class="Icon Icon--gray Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#like"></use>
													</svg>
												</div>
											</a>
											<a class="Icon Icon--gray Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#scales"></use>
													</svg>
												</div>
											</a>
										</div>

										<div class="instruments-mobile-Card-product__block-right">

											<a class="Button Button--lime-light Button--theme-s  " href="#">
												<span class="Button__icon">
													<svg class="Button__icon-svg">
														<use class="Button__icon-svg-use" xlink:href="#feature"></use>
													</svg>
												</span>
											</a>

											<a class="Button Button--lime-light Button--theme-s  " href="#">
												<span class="Button__icon">
													<svg class="Button__icon-svg">
														<use class="Button__icon-svg-use" xlink:href="#basket"></use>
													</svg>
												</span>
											</a>

										</div>

									</div>


								</div>


							</div>

							
						</div>

						<div class="swiper-slide 	section-related-products__slide">
						
							<div class="Card-product">

								<div class="Card-product__wrapper">
									<a href="#test" class="Card-product__link">
										<div class="Card-product__heading">

											<div class="Card-product__title">
												<h3 class="Card-product__title-text">Волна1</h3>
											</div>

											<div class="Card-product__subtitle">
												<span class="Card-product__subtitle-text">Итальянский орех</span>
												<span class="Card-product__subtitle-text">Ламинированные двери</span>
											</div>
										</div>
									</a>



									<div class="Card-product__block-img">

										<div class="Badges">
											<div class="Badges__offer">

												<span class="Badges__offer-discount">-25%</span>
												<a class="Icon Icon--lime Icon--theme-m" href="#">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#new"></use>
														</svg>
													</div>
												</a>
												<a class="Icon Icon--gray  Icon--theme-m" href="#">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#bestseller"></use>
														</svg>
													</div>
												</a>
												<a class="Icon Icon--gray  Icon--theme-m" href="#">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#flame"></use>
														</svg>
													</div>
												</a>


												<div class="Badges__offer-last">
													<a class="Icon  Icon--gray Icon--theme-m" href="#">
														<div class="Icon__content">
															<svg class="Icon__svg">
																<use class="Icon__svg-use" xlink:href="#video-card"></use>
															</svg>
														</div>
													</a>
												</div>

											</div>
											<div class="Badges__interaction">

												<a class="Icon Icon--gray Icon--theme-m">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#like"></use>
														</svg>
													</div>
												</a>
												<a class="Icon Icon--gray Icon--theme-m">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#scales"></use>
														</svg>
													</div>
												</a>




											</div>
										</div>
										<a href="#test" class="Card-product__link">
											<img src="https://natalyland.ru/wp-content/uploads/3/0/3/303d6fe69816a269e97dc81d126ebc4f.jpg"
												alt="" class="Card-product__img Bgi">
										</a>
									</div>

									<div class="Card-product__inner">

										<div class="Card-product__have">
											<span class="Card-product__have-text">В наличии: &gt100 </span>

											<button class="Card-product__have-icon Icon Icon--gray  Icon--theme-m Card-product__have-icon-js">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#information-have"></use>
													</svg>
												</div>
											</button>

										</div>
									</div>

									<div class="Card-product__block-have-info Card-product__block-have-info-js">
										<div class="Card-product__have-info-heading">
											<h3 class="Card-product__have-info-heading-text">
												Ожидаемая дата прихода:
											</h3>
											<span class="Card-product__have-info-heading-decor">
												20.12.2020 - 10 шт
											</span>
										</div>
										<div class="Card-product__have-info-title">
											<h3 class="Card-product__have-info-title-text">
												2 дилера в очереди
											</h3>
										</div>
									</div>

								</div>

								<div class="Card-product__block-info">

									<div class="Card-product__price">

										<div class="Card-product__retail-price">
											<div class="Card-product__retail-price-title">
												<h4 class="Card-product__retail-price-title-text">
													Розничная цена
												</h4>
											</div>
											<div class="Card-product__block-retail-price-value">
												<span class="Card-product__retail-price-value"> 1 145 ₽ </span>
												<span class="Card-product__retail-price-value-old"> 18 818₽ </span>
											</div>
										</div>


										<div class="Card-product__trade-price">
											<div class="Card-product__trade-price-title">
												<h4 class="Card-product__trade-price-title-text">
													Оптовая цена
												</h4>
											</div>
											<div class="Card-product__block-trade-price-value">
												<span class="Card-product__trade-price-value"> 1 145 ₽ </span>
												<span class="Card-product__trade-price-value-old"> 18 818₽ </span>
											</div>
										</div>

										<div class="Card-product__your-price">
											<div class="Card-product__your-price-title">
												<h4 class="Card-product__your-price-title-text">
													Ваша цена
												</h4>
											</div>
											<div class="Card-product__block-your-price-value">
												<span class="Card-product__your-price-value"> 1 145 ₽ </span>
												<span class="Card-product__your-price-value-old"> 18 818₽ </span>
											</div>
										</div>

									</div>


									<div class="Card-product__block-instruments-mobile instruments-mobile-Card-product">

										<div class="instruments-mobile-Card-product__block-left">
											<a class="Icon Icon--gray Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#like"></use>
													</svg>
												</div>
											</a>
											<a class="Icon Icon--gray Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#scales"></use>
													</svg>
												</div>
											</a>
										</div>

										<div class="instruments-mobile-Card-product__block-right">

											<a class="Button Button--lime-light Button--theme-s  " href="#">
												<span class="Button__icon">
													<svg class="Button__icon-svg">
														<use class="Button__icon-svg-use" xlink:href="#feature"></use>
													</svg>
												</span>
											</a>

											<a class="Button Button--lime-light Button--theme-s  " href="#">
												<span class="Button__icon">
													<svg class="Button__icon-svg">
														<use class="Button__icon-svg-use" xlink:href="#basket"></use>
													</svg>
												</span>
											</a>

										</div>

									</div>


								</div>


							</div>

							
						</div>
						<div class="swiper-slide 	section-related-products__slide">
						
							<div class="Card-product">

								<div class="Card-product__wrapper">
									<a href="#test" class="Card-product__link">
										<div class="Card-product__heading">

											<div class="Card-product__title">
												<h3 class="Card-product__title-text">Волна1</h3>
											</div>

											<div class="Card-product__subtitle">
												<span class="Card-product__subtitle-text">Итальянский орех</span>
												<span class="Card-product__subtitle-text">Ламинированные двери</span>
											</div>
										</div>
									</a>



									<div class="Card-product__block-img">

										<div class="Badges">
											<div class="Badges__offer">

												<span class="Badges__offer-discount">-25%</span>
												<a class="Icon Icon--lime Icon--theme-m" href="#">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#new"></use>
														</svg>
													</div>
												</a>
												<a class="Icon Icon--gray  Icon--theme-m" href="#">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#bestseller"></use>
														</svg>
													</div>
												</a>
												<a class="Icon Icon--gray  Icon--theme-m" href="#">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#flame"></use>
														</svg>
													</div>
												</a>


												<div class="Badges__offer-last">
													<a class="Icon  Icon--gray Icon--theme-m" href="#">
														<div class="Icon__content">
															<svg class="Icon__svg">
																<use class="Icon__svg-use" xlink:href="#video-card"></use>
															</svg>
														</div>
													</a>
												</div>

											</div>
											<div class="Badges__interaction">

												<a class="Icon Icon--gray Icon--theme-m">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#like"></use>
														</svg>
													</div>
												</a>
												<a class="Icon Icon--gray Icon--theme-m">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#scales"></use>
														</svg>
													</div>
												</a>




											</div>
										</div>
										<a href="#test" class="Card-product__link">
											<img src="https://natalyland.ru/wp-content/uploads/3/0/3/303d6fe69816a269e97dc81d126ebc4f.jpg"
												alt="" class="Card-product__img Bgi">
										</a>
									</div>

									<div class="Card-product__inner">

										<div class="Card-product__have">
											<span class="Card-product__have-text">В наличии: &gt100 </span>

											<button class="Card-product__have-icon Icon Icon--gray  Icon--theme-m Card-product__have-icon-js">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#information-have"></use>
													</svg>
												</div>
											</button>

										</div>
									</div>

									<div class="Card-product__block-have-info Card-product__block-have-info-js">
										<div class="Card-product__have-info-heading">
											<h3 class="Card-product__have-info-heading-text">
												Ожидаемая дата прихода:
											</h3>
											<span class="Card-product__have-info-heading-decor">
												20.12.2020 - 10 шт
											</span>
										</div>
										<div class="Card-product__have-info-title">
											<h3 class="Card-product__have-info-title-text">
												2 дилера в очереди
											</h3>
										</div>
									</div>

								</div>

								<div class="Card-product__block-info">

									<div class="Card-product__price">

										<div class="Card-product__retail-price">
											<div class="Card-product__retail-price-title">
												<h4 class="Card-product__retail-price-title-text">
													Розничная цена
												</h4>
											</div>
											<div class="Card-product__block-retail-price-value">
												<span class="Card-product__retail-price-value"> 1 145 ₽ </span>
												<span class="Card-product__retail-price-value-old"> 18 818₽ </span>
											</div>
										</div>


										<div class="Card-product__trade-price">
											<div class="Card-product__trade-price-title">
												<h4 class="Card-product__trade-price-title-text">
													Оптовая цена
												</h4>
											</div>
											<div class="Card-product__block-trade-price-value">
												<span class="Card-product__trade-price-value"> 1 145 ₽ </span>
												<span class="Card-product__trade-price-value-old"> 18 818₽ </span>
											</div>
										</div>

										<div class="Card-product__your-price">
											<div class="Card-product__your-price-title">
												<h4 class="Card-product__your-price-title-text">
													Ваша цена
												</h4>
											</div>
											<div class="Card-product__block-your-price-value">
												<span class="Card-product__your-price-value"> 1 145 ₽ </span>
												<span class="Card-product__your-price-value-old"> 18 818₽ </span>
											</div>
										</div>

									</div>


									<div class="Card-product__block-instruments-mobile instruments-mobile-Card-product">

										<div class="instruments-mobile-Card-product__block-left">
											<a class="Icon Icon--gray Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#like"></use>
													</svg>
												</div>
											</a>
											<a class="Icon Icon--gray Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#scales"></use>
													</svg>
												</div>
											</a>
										</div>

										<div class="instruments-mobile-Card-product__block-right">

											<a class="Button Button--lime-light Button--theme-s  " href="#">
												<span class="Button__icon">
													<svg class="Button__icon-svg">
														<use class="Button__icon-svg-use" xlink:href="#feature"></use>
													</svg>
												</span>
											</a>

											<a class="Button Button--lime-light Button--theme-s  " href="#">
												<span class="Button__icon">
													<svg class="Button__icon-svg">
														<use class="Button__icon-svg-use" xlink:href="#basket"></use>
													</svg>
												</span>
											</a>

										</div>

									</div>


								</div>


							</div>

							
						</div>
						<div class="swiper-slide 	section-related-products__slide">
						
							<div class="Card-product">

								<div class="Card-product__wrapper">
									<a href="#test" class="Card-product__link">
										<div class="Card-product__heading">

											<div class="Card-product__title">
												<h3 class="Card-product__title-text">Волна1</h3>
											</div>

											<div class="Card-product__subtitle">
												<span class="Card-product__subtitle-text">Итальянский орех</span>
												<span class="Card-product__subtitle-text">Ламинированные двери</span>
											</div>
										</div>
									</a>



									<div class="Card-product__block-img">

										<div class="Badges">
											<div class="Badges__offer">

												<span class="Badges__offer-discount">-25%</span>
												<a class="Icon Icon--lime Icon--theme-m" href="#">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#new"></use>
														</svg>
													</div>
												</a>
												<a class="Icon Icon--gray  Icon--theme-m" href="#">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#bestseller"></use>
														</svg>
													</div>
												</a>
												<a class="Icon Icon--gray  Icon--theme-m" href="#">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#flame"></use>
														</svg>
													</div>
												</a>


												<div class="Badges__offer-last">
													<a class="Icon  Icon--gray Icon--theme-m" href="#">
														<div class="Icon__content">
															<svg class="Icon__svg">
																<use class="Icon__svg-use" xlink:href="#video-card"></use>
															</svg>
														</div>
													</a>
												</div>

											</div>
											<div class="Badges__interaction">

												<a class="Icon Icon--gray Icon--theme-m">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#like"></use>
														</svg>
													</div>
												</a>
												<a class="Icon Icon--gray Icon--theme-m">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#scales"></use>
														</svg>
													</div>
												</a>




											</div>
										</div>
										<a href="#test" class="Card-product__link">
											<img src="https://natalyland.ru/wp-content/uploads/3/0/3/303d6fe69816a269e97dc81d126ebc4f.jpg"
												alt="" class="Card-product__img Bgi">
										</a>
									</div>

									<div class="Card-product__inner">

										<div class="Card-product__have">
											<span class="Card-product__have-text">В наличии: &gt100 </span>

											<button class="Card-product__have-icon Icon Icon--gray  Icon--theme-m Card-product__have-icon-js">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#information-have"></use>
													</svg>
												</div>
											</button>

										</div>
									</div>

									<div class="Card-product__block-have-info Card-product__block-have-info-js">
										<div class="Card-product__have-info-heading">
											<h3 class="Card-product__have-info-heading-text">
												Ожидаемая дата прихода:
											</h3>
											<span class="Card-product__have-info-heading-decor">
												20.12.2020 - 10 шт
											</span>
										</div>
										<div class="Card-product__have-info-title">
											<h3 class="Card-product__have-info-title-text">
												2 дилера в очереди
											</h3>
										</div>
									</div>

								</div>

								<div class="Card-product__block-info">

									<div class="Card-product__price">

										<div class="Card-product__retail-price">
											<div class="Card-product__retail-price-title">
												<h4 class="Card-product__retail-price-title-text">
													Розничная цена
												</h4>
											</div>
											<div class="Card-product__block-retail-price-value">
												<span class="Card-product__retail-price-value"> 1 145 ₽ </span>
												<span class="Card-product__retail-price-value-old"> 18 818₽ </span>
											</div>
										</div>


										<div class="Card-product__trade-price">
											<div class="Card-product__trade-price-title">
												<h4 class="Card-product__trade-price-title-text">
													Оптовая цена
												</h4>
											</div>
											<div class="Card-product__block-trade-price-value">
												<span class="Card-product__trade-price-value"> 1 145 ₽ </span>
												<span class="Card-product__trade-price-value-old"> 18 818₽ </span>
											</div>
										</div>

										<div class="Card-product__your-price">
											<div class="Card-product__your-price-title">
												<h4 class="Card-product__your-price-title-text">
													Ваша цена
												</h4>
											</div>
											<div class="Card-product__block-your-price-value">
												<span class="Card-product__your-price-value"> 1 145 ₽ </span>
												<span class="Card-product__your-price-value-old"> 18 818₽ </span>
											</div>
										</div>

									</div>


									<div class="Card-product__block-instruments-mobile instruments-mobile-Card-product">

										<div class="instruments-mobile-Card-product__block-left">
											<a class="Icon Icon--gray Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#like"></use>
													</svg>
												</div>
											</a>
											<a class="Icon Icon--gray Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#scales"></use>
													</svg>
												</div>
											</a>
										</div>

										<div class="instruments-mobile-Card-product__block-right">

											<a class="Button Button--lime-light Button--theme-s  " href="#">
												<span class="Button__icon">
													<svg class="Button__icon-svg">
														<use class="Button__icon-svg-use" xlink:href="#feature"></use>
													</svg>
												</span>
											</a>

											<a class="Button Button--lime-light Button--theme-s  " href="#">
												<span class="Button__icon">
													<svg class="Button__icon-svg">
														<use class="Button__icon-svg-use" xlink:href="#basket"></use>
													</svg>
												</span>
											</a>

										</div>

									</div>


								</div>


							</div>

							
						</div>
						<div class="swiper-slide 	section-related-products__slide">
						
							<div class="Card-product">

								<div class="Card-product__wrapper">
									<a href="#test" class="Card-product__link">
										<div class="Card-product__heading">

											<div class="Card-product__title">
												<h3 class="Card-product__title-text">Волна1</h3>
											</div>

											<div class="Card-product__subtitle">
												<span class="Card-product__subtitle-text">Итальянский орех</span>
												<span class="Card-product__subtitle-text">Ламинированные двери</span>
											</div>
										</div>
									</a>



									<div class="Card-product__block-img">

										<div class="Badges">
											<div class="Badges__offer">

												<span class="Badges__offer-discount">-25%</span>
												<a class="Icon Icon--lime Icon--theme-m" href="#">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#new"></use>
														</svg>
													</div>
												</a>
												<a class="Icon Icon--gray  Icon--theme-m" href="#">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#bestseller"></use>
														</svg>
													</div>
												</a>
												<a class="Icon Icon--gray  Icon--theme-m" href="#">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#flame"></use>
														</svg>
													</div>
												</a>


												<div class="Badges__offer-last">
													<a class="Icon  Icon--gray Icon--theme-m" href="#">
														<div class="Icon__content">
															<svg class="Icon__svg">
																<use class="Icon__svg-use" xlink:href="#video-card"></use>
															</svg>
														</div>
													</a>
												</div>

											</div>
											<div class="Badges__interaction">

												<a class="Icon Icon--gray Icon--theme-m">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#like"></use>
														</svg>
													</div>
												</a>
												<a class="Icon Icon--gray Icon--theme-m">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#scales"></use>
														</svg>
													</div>
												</a>




											</div>
										</div>
										<a href="#test" class="Card-product__link">
											<img src="https://natalyland.ru/wp-content/uploads/3/0/3/303d6fe69816a269e97dc81d126ebc4f.jpg"
												alt="" class="Card-product__img Bgi">
										</a>
									</div>

									<div class="Card-product__inner">

										<div class="Card-product__have">
											<span class="Card-product__have-text">В наличии: &gt100 </span>

											<button class="Card-product__have-icon Icon Icon--gray  Icon--theme-m Card-product__have-icon-js">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#information-have"></use>
													</svg>
												</div>
											</button>

										</div>
									</div>

									<div class="Card-product__block-have-info Card-product__block-have-info-js">
										<div class="Card-product__have-info-heading">
											<h3 class="Card-product__have-info-heading-text">
												Ожидаемая дата прихода:
											</h3>
											<span class="Card-product__have-info-heading-decor">
												20.12.2020 - 10 шт
											</span>
										</div>
										<div class="Card-product__have-info-title">
											<h3 class="Card-product__have-info-title-text">
												2 дилера в очереди
											</h3>
										</div>
									</div>

								</div>

								<div class="Card-product__block-info">

									<div class="Card-product__price">

										<div class="Card-product__retail-price">
											<div class="Card-product__retail-price-title">
												<h4 class="Card-product__retail-price-title-text">
													Розничная цена
												</h4>
											</div>
											<div class="Card-product__block-retail-price-value">
												<span class="Card-product__retail-price-value"> 1 145 ₽ </span>
												<span class="Card-product__retail-price-value-old"> 18 818₽ </span>
											</div>
										</div>


										<div class="Card-product__trade-price">
											<div class="Card-product__trade-price-title">
												<h4 class="Card-product__trade-price-title-text">
													Оптовая цена
												</h4>
											</div>
											<div class="Card-product__block-trade-price-value">
												<span class="Card-product__trade-price-value"> 1 145 ₽ </span>
												<span class="Card-product__trade-price-value-old"> 18 818₽ </span>
											</div>
										</div>

										<div class="Card-product__your-price">
											<div class="Card-product__your-price-title">
												<h4 class="Card-product__your-price-title-text">
													Ваша цена
												</h4>
											</div>
											<div class="Card-product__block-your-price-value">
												<span class="Card-product__your-price-value"> 1 145 ₽ </span>
												<span class="Card-product__your-price-value-old"> 18 818₽ </span>
											</div>
										</div>

									</div>


									<div class="Card-product__block-instruments-mobile instruments-mobile-Card-product">

										<div class="instruments-mobile-Card-product__block-left">
											<a class="Icon Icon--gray Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#like"></use>
													</svg>
												</div>
											</a>
											<a class="Icon Icon--gray Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#scales"></use>
													</svg>
												</div>
											</a>
										</div>

										<div class="instruments-mobile-Card-product__block-right">

											<a class="Button Button--lime-light Button--theme-s  " href="#">
												<span class="Button__icon">
													<svg class="Button__icon-svg">
														<use class="Button__icon-svg-use" xlink:href="#feature"></use>
													</svg>
												</span>
											</a>

											<a class="Button Button--lime-light Button--theme-s  " href="#">
												<span class="Button__icon">
													<svg class="Button__icon-svg">
														<use class="Button__icon-svg-use" xlink:href="#basket"></use>
													</svg>
												</span>
											</a>

										</div>

									</div>


								</div>


							</div>

							
						</div>
						<div class="swiper-slide 	section-related-products__slide">
						
							<div class="Card-product">

								<div class="Card-product__wrapper">
									<a href="#test" class="Card-product__link">
										<div class="Card-product__heading">

											<div class="Card-product__title">
												<h3 class="Card-product__title-text">Волна1</h3>
											</div>

											<div class="Card-product__subtitle">
												<span class="Card-product__subtitle-text">Итальянский орех</span>
												<span class="Card-product__subtitle-text">Ламинированные двери</span>
											</div>
										</div>
									</a>



									<div class="Card-product__block-img">

										<div class="Badges">
											<div class="Badges__offer">

												<span class="Badges__offer-discount">-25%</span>
												<a class="Icon Icon--lime Icon--theme-m" href="#">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#new"></use>
														</svg>
													</div>
												</a>
												<a class="Icon Icon--gray  Icon--theme-m" href="#">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#bestseller"></use>
														</svg>
													</div>
												</a>
												<a class="Icon Icon--gray  Icon--theme-m" href="#">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#flame"></use>
														</svg>
													</div>
												</a>


												<div class="Badges__offer-last">
													<a class="Icon  Icon--gray Icon--theme-m" href="#">
														<div class="Icon__content">
															<svg class="Icon__svg">
																<use class="Icon__svg-use" xlink:href="#video-card"></use>
															</svg>
														</div>
													</a>
												</div>

											</div>
											<div class="Badges__interaction">

												<a class="Icon Icon--gray Icon--theme-m">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#like"></use>
														</svg>
													</div>
												</a>
												<a class="Icon Icon--gray Icon--theme-m">
													<div class="Icon__content">
														<svg class="Icon__svg">
															<use class="Icon__svg-use" xlink:href="#scales"></use>
														</svg>
													</div>
												</a>




											</div>
										</div>
										<a href="#test" class="Card-product__link">
											<img src="https://natalyland.ru/wp-content/uploads/3/0/3/303d6fe69816a269e97dc81d126ebc4f.jpg"
												alt="" class="Card-product__img Bgi">
										</a>
									</div>

									<div class="Card-product__inner">

										<div class="Card-product__have">
											<span class="Card-product__have-text">В наличии: &gt100 </span>

											<button class="Card-product__have-icon Icon Icon--gray  Icon--theme-m Card-product__have-icon-js">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#information-have"></use>
													</svg>
												</div>
											</button>

										</div>
									</div>

									<div class="Card-product__block-have-info Card-product__block-have-info-js">
										<div class="Card-product__have-info-heading">
											<h3 class="Card-product__have-info-heading-text">
												Ожидаемая дата прихода:
											</h3>
											<span class="Card-product__have-info-heading-decor">
												20.12.2020 - 10 шт
											</span>
										</div>
										<div class="Card-product__have-info-title">
											<h3 class="Card-product__have-info-title-text">
												2 дилера в очереди
											</h3>
										</div>
									</div>

								</div>

								<div class="Card-product__block-info">

									<div class="Card-product__price">

										<div class="Card-product__retail-price">
											<div class="Card-product__retail-price-title">
												<h4 class="Card-product__retail-price-title-text">
													Розничная цена
												</h4>
											</div>
											<div class="Card-product__block-retail-price-value">
												<span class="Card-product__retail-price-value"> 1 145 ₽ </span>
												<span class="Card-product__retail-price-value-old"> 18 818₽ </span>
											</div>
										</div>


										<div class="Card-product__trade-price">
											<div class="Card-product__trade-price-title">
												<h4 class="Card-product__trade-price-title-text">
													Оптовая цена
												</h4>
											</div>
											<div class="Card-product__block-trade-price-value">
												<span class="Card-product__trade-price-value"> 1 145 ₽ </span>
												<span class="Card-product__trade-price-value-old"> 18 818₽ </span>
											</div>
										</div>

										<div class="Card-product__your-price">
											<div class="Card-product__your-price-title">
												<h4 class="Card-product__your-price-title-text">
													Ваша цена
												</h4>
											</div>
											<div class="Card-product__block-your-price-value">
												<span class="Card-product__your-price-value"> 1 145 ₽ </span>
												<span class="Card-product__your-price-value-old"> 18 818₽ </span>
											</div>
										</div>

									</div>


									<div class="Card-product__block-instruments-mobile instruments-mobile-Card-product">

										<div class="instruments-mobile-Card-product__block-left">
											<a class="Icon Icon--gray Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#like"></use>
													</svg>
												</div>
											</a>
											<a class="Icon Icon--gray Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#scales"></use>
													</svg>
												</div>
											</a>
										</div>

										<div class="instruments-mobile-Card-product__block-right">

											<a class="Button Button--lime-light Button--theme-s  " href="#">
												<span class="Button__icon">
													<svg class="Button__icon-svg">
														<use class="Button__icon-svg-use" xlink:href="#feature"></use>
													</svg>
												</span>
											</a>

											<a class="Button Button--lime-light Button--theme-s  " href="#">
												<span class="Button__icon">
													<svg class="Button__icon-svg">
														<use class="Button__icon-svg-use" xlink:href="#basket"></use>
													</svg>
												</span>
											</a>

										</div>

									</div>


								</div>


							</div>

							
						</div>


					</div>

					<div class="Swiper-button-next-video-reviews Swiper-button-default">

						<svg class="Swiper-button-default__svg">
							<use class="Swiper-button-default__use" xlink:href="#right-icon-button-slider-1"></use>
						</svg>

					</div>

					<div class="Swiper-button-prev-video-reviews Swiper-button-default">

						<svg class="Swiper-button-default__svg">
							<use class="Swiper-button-default__use" xlink:href="#left-icon-button-slider-1"></use>
						</svg>

					</div>


				</div>

	</div>
</div>





