.section-related-products {
  &__cards {
		display: grid;
		grid-template-columns: repeat(4, minmax(100px, 1fr));
		gap: 20px;
		margin-top: 50px;
  }
  &__wrapper {
		@include adaptiv-value("padding-top", 25, 0, 1);
		@include adaptiv-value("padding-bottom", 25, 0, 1);
		@include adaptiv-value("padding-bottom", 25, 0, 1);
		@include adaptiv-value("padding-right", 25, 0, 1);
  }
}
