.section-catalog {
  @include adaptiv-value("padding-top", 25, 10, 1);

  .Button--theme-l {
    border: none;
  }

  &__block-img {
  }

  &__block-img-size {
    @include adaptiv-value("height", 295, 180, 1);

    width: 100%;
    object-fit: cover;
    object-position: left;
  }

  &__slide {
  }

  &__swiper-container {
    z-index: 5;
    margin-left: 30px;
    width: 100%;
  }

  &__swiper-pagination {
    color: $lime;
  }

  &__wrapper {
    display: flex;
  }

  .Button {
    &__text {
      @include adaptiv-font(18, 16);
    }
  }
}
