<div class="Container Max-width">
	<div class="section-catalog">
		<div class="section-catalog__wrapper">

			<div class="Catalog__block-list-product">
				<div class="Catalog__block-name-section">
					<span class="Catalog__name-section">Каталог</span>
				</div>
				<ul id="listss" class="Catalog__list-product " data-catalog>


					<li class="Catalog__list-item-product list-menu-catalog list-menu-catalog001">
							<a id="0001"
								class=" Button Button--white-black Button--theme-l Button--theme-l-n button-menu-catalog"
								href="#">
								<span id="00002" class="Button__icon">
									<svg class="Button__icon-svg Button__icon-svg--left">
										<use class="Button__icon-svg-use" xlink:href="#entrance-doors"></use>
									</svg>
								</span>
								<span id="00003" class="Button__text">Межкомнатные двери</span>
								<span id="00004" class="Button__icon Button__icon--right">
									<svg
										class="Button__icon-svg Button__icon-svg--right Button__icon-svg--right-rotate">
										<use class="Button__icon-svg-use" xlink:href="#arrow-right"></use>
									</svg>
								</span>
							</a>
						

						<ul id="00005" class="Catalog__list-product-second-level first-ul" hidden>


							<li class="Catalog__list-product-second-level-item first-li">
								<a class="Catalog__list-product-second-level-button" href="#">Ламинированные двери</a>
							</li>

							<li class="Catalog__list-product-second-level-item first-li">
								<a class="Catalog__list-product-second-level-button" href="#">Грунтованные двери</a>
							</li>

							<li class="Catalog__list-product-second-level-item first-li">
								<a class="Catalog__list-product-second-level-button button-menu-catalog" href="#">
									<span class="Catalog__list-product-second-level-item-text">Современные
										покрытия</span>
									<span class="Catalog__list-product-second-level-item-icon">
										<svg class="Catalog__list-product-second-level-item-svg">
											<use class="Catalog__list-product-second-level-item-svg-use"
												xlink:href="#arrow-right"></use>
										</svg>
									</span>
								</a>

								<ul class="Catalog__list-product-third-level second-ul" hidden>


									<li class="Catalog__list-product-third-level-item second-li">
										<a class="Catalog__list-product-second-level-button" href="#">CPL</a>
									</li>
									<li class="Catalog__list-product-third-level-item second-li">
										<a class="Catalog__list-product-second-level-button" href="#">Экошпон</a>
									</li>
									<li class="Catalog__list-product-third-level-item second-li">
										<a class="Catalog__list-product-second-level-button" href="#">Экошпон с
											алюминиевой кромкой</a>
									</li>
									<li class="Catalog__list-product-third-level-item second-li">
										<a class="Catalog__list-product-second-level-button" href="#">Виниловые
											покрытия</a>
									</li>
									<li class="Catalog__list-product-third-level-item second-li">
										<a class="Catalog__list-product-second-level-button" href="#">PCC-покрытие</a>
									</li>


								</ul>
							</li>

							<li class="Catalog__list-product-second-level-item first-li">
								<a class="Catalog__list-product-second-level-button" href="#">Эмалевые двери</a>
							</li>

							<li class="Catalog__list-product-second-level-item first-li">
								<a class="Catalog__list-product-second-level-button" href="#">Стеклянные двери</a>
							</li>

							<li class="Catalog__list-product-second-level-item first-li">
								<a class="Catalog__list-product-second-level-button button-menu-catalog" href="#">
									<span class="Catalog__list-product-second-level-item-text">Натуральный шпон</span>
									<span class="Catalog__list-product-second-level-item-icon">
										<svg class="Catalog__list-product-second-level-item-svg">
											<use class="Catalog__list-product-second-level-item-svg-use"
												xlink:href="#arrow-right"></use>
										</svg>
									</span>
								</a>

								<ul class="Catalog__list-product-third-level second-ul" hidden>


									<li class="Catalog__list-product-third-level-item second-li">
										<a class="Catalog__list-product-second-level-button" href="#">Шпон Fine-Line</a>
									</li>
									<li class="Catalog__list-product-third-level-item second-li">
										<a class="Catalog__list-product-second-level-button" href="#">Шпон ценных пород
											дерева</a>
									</li>


								</ul>
							</li>

							<li class="Catalog__list-product-second-level-item first-li">
								<a class="Catalog__list-product-second-level-button button-menu-catalog" href="#">
									<span class="Catalog__list-product-second-level-item-text">Двери из массива</span>
									<span class="Catalog__list-product-second-level-item-icon">
										<svg class="Catalog__list-product-second-level-item-svg">
											<use class="Catalog__list-product-second-level-item-svg-use"
												xlink:href="#arrow-right"></use>
										</svg>
									</span>
								</a>

								<ul class="Catalog__list-product-third-level second-ul" hidden>


									<li class="Catalog__list-product-third-level-item second-li">
										<a class="Catalog__list-product-second-level-button" href="#">Массив Сосны
											необработанной</a>
									</li>
									<li class="Catalog__list-product-third-level-item second-li">
										<a class="Catalog__list-product-second-level-button" href="#">Массив Сосны</a>
									</li>
									<li class="Catalog__list-product-third-level-item second-li">
										<a class="Catalog__list-product-second-level-button" href="#">Массив Ольхи</a>
									</li>
									<li class="Catalog__list-product-third-level-item second-li">
										<a class="Catalog__list-product-second-level-button" href="#">Массив Ценных
											пород древесины</a>
									</li>

								</ul>
							</li>

							<li class="Catalog__list-product-second-level-item first-li">
								<a class="Catalog__list-product-second-level-button" href="#">Двери-гармошка</a>
							</li>

							<li class="Catalog__list-product-second-level-item first-li">
								<a class="Catalog__list-product-second-level-button" href="#">Двери-гармошка</a>
							</li>

						</ul>
					</li>

					<li id="0002" class="Catalog__list-item-product list-menu-catalog list-menu-catalog002">
						<a class="Button Button--white-black Button--theme-l Button--theme-l-n button-menu-catalog"
							href="#">
							<span class="Button__icon">
								<svg class="Button__icon-svg Button__icon-svg--left">
									<use class="Button__icon-svg-use" xlink:href="#interior-doors"></use>
								</svg>
							</span>
							<span class="Button__text">Входные двери</span>
							<span class="Button__icon Button__icon--right">
								<svg class="Button__icon-svg Button__icon-svg--right Button__icon-svg--right-rotate">
									<use class="Button__icon-svg-use" xlink:href="#arrow-right"></use>
								</svg>
							</span>
						</a>

						<ul class="Catalog__list-product-second-level first-ul" hidden>


							<li class="Catalog__list-product-second-level-item first-li">
								<a class="Catalog__list-product-second-level-button" href="#">Бюджет</a>
							</li>

							<li class="Catalog__list-product-second-level-item first-li">
								<a class="Catalog__list-product-second-level-button" href="#">Стандарт</a>
							</li>

							<li class="Catalog__list-product-second-level-item first-li">
								<a class="Catalog__list-product-second-level-button" href="#">Премиум</a>
							</li>

							<li class="Catalog__list-product-second-level-item first-li">
								<a class="Catalog__list-product-second-level-button" href="#">Люкс</a>
							</li>

							<li class="Catalog__list-product-second-level-item first-li">
								<a class="Catalog__list-product-second-level-button" href="#">Двери с ковкой</a>
							</li>

							<li class="Catalog__list-product-second-level-item first-li">
								<a class="Catalog__list-product-second-level-button" href="#">Нестандарт</a>
							</li>

							<li class="Catalog__list-product-second-level-item first-li">
								<a class="Catalog__list-product-second-level-button" href="#">Противопожарные</a>
							</li>

							<li class="Catalog__list-product-second-level-item first-li">
								<a class="Catalog__list-product-second-level-button" href="#">Стандарт</a>
							</li>

							<li class="Catalog__list-product-second-level-item first-li">
								<a class="Catalog__list-product-second-level-button" href="#">Термо</a>
							</li>



						</ul>
					</li>

					<li id="0003" class="Catalog__list-item-product list-menu-catalog list-menu-catalog003">
						<a class="Button Button--white-black Button--theme-l Button--theme-l-n button-menu-catalog"
							href="#">
							<span class="Button__icon">
								<svg class="Button__icon-svg Button__icon-svg--left">
									<use class="Button__icon-svg-use" xlink:href="#fittings"></use>
								</svg>
							</span>
							<span class="Button__text">Фурнитура</span>
							<span class="Button__icon Button__icon--right">
								<svg class="Button__icon-svg Button__icon-svg--right Button__icon-svg--right-rotate">
									<use class="Button__icon-svg-use" xlink:href="#arrow-right"></use>
								</svg>
							</span>
						</a>

						<ul class="Catalog__list-product-second-level first-ul" hidden>



							<li class="Catalog__list-product-second-level-item first-li">
								<a class="Catalog__list-product-second-level-button" href="#">
									<span class="Catalog__list-product-second-level-item-text">Дверные ручки</span>
									<span class="Catalog__list-product-second-level-item-icon">
										<svg class="Catalog__list-product-second-level-item-svg">
											<use class="Catalog__list-product-second-level-item-svg-use"
												xlink:href="#arrow-right"></use>
										</svg>
									</span>
								</a>

								<ul class="Catalog__list-product-third-level second-ul" hidden>


									<li class="Catalog__list-product-third-level-item second-li">
										<a class="Catalog__list-product-second-level-button" href="#">Ручки купе</a>
									</li>
									<li class="Catalog__list-product-third-level-item second-li">
										<a class="Catalog__list-product-second-level-button" href="#">Ручки стандарт</a>
									</li>
									<li class="Catalog__list-product-third-level-item second-li">
										<a class="Catalog__list-product-second-level-button" href="#">Ручки на
											планке</a>
									</li>
									<li class="Catalog__list-product-third-level-item second-li">
										<a class="Catalog__list-product-second-level-button" href="#">Ручки со
											встроенным механизмом</a>
									</li>
									<li class="Catalog__list-product-third-level-item second-li">
										<a class="Catalog__list-product-second-level-button" href="#">PCC-покрытие</a>
									</li>


								</ul>
							</li>


							<li class="Catalog__list-product-second-level-item first-li">
								<a class="Catalog__list-product-second-level-button" href="#">
									<span class="Catalog__list-product-second-level-item-text">Дверные петли</span>
									<span class="Catalog__list-product-second-level-item-icon">
										<svg class="Catalog__list-product-second-level-item-svg">
											<use class="Catalog__list-product-second-level-item-svg-use"
												xlink:href="#arrow-right"></use>
										</svg>
									</span>
								</a>

								<ul class="Catalog__list-product-third-level second-ul" hidden>


									<li class="Catalog__list-product-third-level-item second-li">
										<a class="Catalog__list-product-second-level-button" href="#">Петли скрытые</a>
									</li>
									<li class="Catalog__list-product-third-level-item second-li">
										<a class="Catalog__list-product-second-level-button" href="#">Петли
											универсальные врезные</a>
									</li>
									<li class="Catalog__list-product-third-level-item second-li">
										<a class="Catalog__list-product-second-level-button" href="#">Петли накладные
											(без врезки)</a>
									</li>
									<li class="Catalog__list-product-third-level-item second-li">
										<a class="Catalog__list-product-second-level-button" href="#">Петли
											разъёмные</a>
									</li>


								</ul>
							</li>


							<li class="Catalog__list-product-second-level-item first-li">
								<a class="Catalog__list-product-second-level-button" href="#">Замки и Защелки</a>
							</li>
							<li class="Catalog__list-product-second-level-item first-li">
								<a class="Catalog__list-product-second-level-button" href="#">Аксессуары</a>
							</li>

						</ul>
					</li>

					<li id="0004" class="Catalog__list-item-product list-menu-catalog list-menu-catalog004">
						<a class="Button Button--white-black Button--theme-l Button--theme-l-n button-menu-catalog"
							href="#">
							<span class="Button__icon">
								<svg class="Button__icon-svg Button__icon-svg--red Button__icon-svg--left">
									<use class="Button__icon-svg-use" xlink:href="#stock"></use>
								</svg>
							</span>
							<span class="Button__text">Акции</span>
							<span class="Button__icon Button__icon--right">
								<svg class="Button__icon-svg Button__icon-svg--right Button__icon-svg--right-rotate">
									<use class="Button__icon-svg-use" xlink:href="#arrow-right"></use>
								</svg>
							</span>
						</a>

						<ul class="Catalog__list-product-second-level first-ul" hidden>

							<li class="Catalog__list-product-second-level-item first-li">
								<a class="Catalog__list-product-second-level-button" href="#">Межкомнатные двери</a>
							</li>
							<li class="Catalog__list-product-second-level-item first-li">
								<a class="Catalog__list-product-second-level-button" href="#">Входные двери</a>
							</li>
							<li class="Catalog__list-product-second-level-item first-li">
								<a class="Catalog__list-product-second-level-button" href="#">Фурнитура</a>
							</li>

						</ul>
					</li>

				</ul>
			</div>

			<div class="swiper-container section-catalog__swiper-container">
				<div class="swiper-wrapper section-catalog__wrapper">

					<div class="swiper-slide section-catalog__slide">
						<div class="section-catalog__block-img">
							<img class="section-catalog__block-img-size" src="/img/section-catalog-slide-1.jpg"
								alt="" />
						</div>
					</div>
					<div class="swiper-slide section-catalog__slide">
						<div class="section-catalog__block-img">
							<img class="section-catalog__block-img-size" src="/img/section-catalog-slide-1.jpg"
								alt="" />
						</div>
					</div>

				</div>


				<div class="Swiper-button-next-video-reviews Swiper-button-default">

					<svg class="Swiper-button-default__svg">
						<use class="Swiper-button-default__use" xlink:href="#right-icon-button-slider-1"></use>
					</svg>



				</div>

				<div class="Swiper-button-prev-video-reviews Swiper-button-default">

					<svg class="Swiper-button-default__svg">
						<use class="Swiper-button-default__use" xlink:href="#left-icon-button-slider-1"></use>
					</svg>

				</div>

				<div class="swiper-pagination  section-catalog__swiper-pagination"></div>
			</div>

		</div>
	</div>
</div>