<section class="promo-page">
	<div class="Container Max-width">
		@include('../../components/block/bread-crumbs/bread-crumbs.html')
		<div class="promo-page__wrapper">

			<div class="Card-medium__list text-overflow-js" data-text-sum="59">

				<div class="Card-medium__list-item">
					<div class="Card-medium__item-content">
						<div class="Card-medium__item-title">
							<h3 class="Card-medium__item-title-text">Гарантия лучшей цены!</h3>
						</div>
						<div class="Card-medium__item-description">
							<h4 class="Card-medium__item-description-text text-overflow-ellipsis-js">Программа «ГАРАНТИЯ ЛУЧШЕЙ ЦЕНЫ! Найдете дешевле – сделаем дешевле</h4>
						</div>
						<div class="Card-medium__item-link">
							<a class="Link Link--lime-decor" href="#">Читать дальше...</a>
						</div>
					</div>
					<div class="Card-medium__block-img">
						<img class="Card-medium__img" src="img/promo-item-1.jpg" alt="">
					</div>
				</div>
				<div class="Card-medium__list-item">
					<div class="Card-medium__item-content">
						<div class="Card-medium__item-title">
							<h3 class="Card-medium__item-title-text">Электронные замки</h3>
						</div>
						<div class="Card-medium__item-description">
							<h4 class="Card-medium__item-description-text text-overflow-ellipsis-js">В нашем ассортименте Вы с легкостью найдете как современный замок</h4>
						</div>
						<div class="Card-medium__item-link">
							<a class="Link Link--lime-decor" href="#">Читать дальше...</a>
						</div>
					</div>
					<div class="Card-medium__block-img">
						<img class="Card-medium__img" src="img/promo-item-2.jpg" alt="">
					</div>
				</div>
				<div class="Card-medium__list-item">
					<div class="Card-medium__item-content">
						<div class="Card-medium__item-title">
							<h3 class="Card-medium__item-title-text">Новый магазин а г. Новороссийск</h3>
						</div>
						<div class="Card-medium__item-description">
							<h4 class="Card-medium__item-description-text text-overflow-ellipsis-js">В семье Tandoor – пополнение 20 февраля распахнул свои двери</h4>
						</div>
						<div class="Card-medium__item-link">
							<a class="Link Link--lime-decor" href="#">Читать дальше...</a>
						</div>
					</div>
					<div class="Card-medium__block-img">
						<img class="Card-medium__img" src="img/promo-item-3.jpg" alt="">
					</div>
				</div>
				<div class="Card-medium__list-item">
					<div class="Card-medium__item-content">
						<div class="Card-medium__item-title">
							<h3 class="Card-medium__item-title-text">Керчь, Майкоп, Грозный</h3>
						</div>
						<div class="Card-medium__item-description">
							<h4 class="Card-medium__item-description-text text-overflow-ellipsis-js">Узнайте на какие модели действуют скидочные предложения и в каком</h4>
						</div>
						<div class="Card-medium__item-link">
							<a class="Link Link--lime-decor" href="#">Читать дальше...</a>
						</div>
					</div>
					<div class="Card-medium__block-img">
						<img class="Card-medium__img" src="img/promo-item-4.jpg" alt="">
					</div>
				</div>
				<div class="Card-medium__list-item">
					<div class="Card-medium__item-content">
						<div class="Card-medium__item-title">
							<h3 class="Card-medium__item-title-text">Новые петли Code Deco</h3>
						</div>
						<div class="Card-medium__item-description">
							<h4 class="Card-medium__item-description-text text-overflow-ellipsis-js">*Подробности уточняйте у менеджеров в магазинах "Tandoor”</h4>
						</div>
						<div class="Card-medium__item-link">
							<a class="Link Link--lime-decor" href="#">Читать дальше...</a>
						</div>
					</div>
					<div class="Card-medium__block-img">
						<img class="Card-medium__img" src="img/promo-item-5.jpg" alt="">
					</div>
				</div>
				<div class="Card-medium__list-item">
					<div class="Card-medium__item-content">
						<div class="Card-medium__item-title">
							<h3 class="Card-medium__item-title-text">Итальянская панель ArtWood</h3>
						</div>
						<div class="Card-medium__item-description">
							<h4 class="Card-medium__item-description-text text-overflow-ellipsis-js">История создания многослойных панелей ArtWood из массива дубаИстория создания многослойных панелей ArtWood из массива дубаИстория создания многослойных панелей ArtWood из массива дуба</h4>
						</div>
						<div class="Card-medium__item-link">
							<a class="Link Link--lime-decor" href="#">Читать дальше...</a>
						</div>
					</div>
					<div class="Card-medium__block-img">
						<img class="Card-medium__img" src="img/promo-item-6.jpg" alt="">
					</div>
				</div>

			</div>

			@include('../../components/block/navigation/navigation.html')


		</div>
</section>