<div class="Select">
	<div class="dropdown">
		<button class="dropdown__button">Увеличению цены</button>
		<ul class="dropdown__list">
			<li class="dropdown__list-item" data-value="up-price">Увеличению цены</li>
			<li class="dropdown__list-item" data-value="down-price">Уменьшению цены</li>
			<li class="dropdown__list-item" data-value="
					alphabet">Алфавиту от А до Я</li>
			<li class="dropdown__list-item" data-value="
					alphabet-revert">Алфавиту от Я до А</li>
		</ul>
		<input type="text" name="select-category" value="" class="dropdown__input-hidden">
	</div>
</div>