<header class="header">
  <div class="Container Max-width">
    <div class="header__wrapper">
      <div class="header__block-nav">
        <div class="header__block-city">
          <a class="header__city-link" href="#popup-header-city" data-fancybox-window>
            <span class="header__city-icon">
              <svg class="header__city-icon-svg">
                <use class="header__city-svg-use" xlink:href="#location"></use>
              </svg>
            </span>

            <span class="header__city-text"> Ростов-на-Дону </span>
          </a>
        </div>

        <nav class="header__nav">
          <ul class="header__nav-list">
            <li class="header__nav-item item-nav">
              <a class="Link item-nav__content" href="#">
                <span class="item-nav__icon">
                  <svg class="item-nav__icon-svg">
                    <use class="item-nav__icon-svg-use" xlink:href="#suitcase"></use>
                  </svg>
                </span>

                <span class="item-nav__text"> О компании </span>
              </a>
            </li>

            <li class="header__nav-item item-nav">
              <a class="item-nav__content" href="#">
                <span class="item-nav__icon">
                  <svg class="item-nav__icon-svg">
                    <use class="item-nav__icon-svg-use" xlink:href="#partner"></use>
                  </svg>
                </span>

                <span class="item-nav__text"> Партнерам </span>
              </a>
            </li>

            <li class="header__nav-item item-nav">
              <a class="item-nav__content" href="#">
                <span class="item-nav__icon">
                  <svg class="item-nav__icon-svg">
                    <use class="item-nav__icon-svg-use" xlink:href="#shout"></use>
                  </svg>
                </span>

                <span class="item-nav__text"> Акции </span>

                <span class="item-nav__counter"> +1 </span>
              </a>
            </li>

            <li class="header__nav-item item-nav">
              <a class="item-nav__content" href="#">
                <span class="item-nav__icon">
                  <svg class="item-nav__icon-svg">
                    <use class="item-nav__icon-svg-use" xlink:href="#cube"></use>
                  </svg>
                </span>

                <span class="item-nav__text"> 3D-тур </span>
              </a>
            </li>

            <li class="header__nav-item item-nav">
              <a class="item-nav__content" href="#">
                <span class="item-nav__icon">
                  <svg class="item-nav__icon-svg">
                    <use class="item-nav__icon-svg-use" xlink:href="#contacts"></use>
                  </svg>
                </span>

                <span class="item-nav__text"> Контакты </span>
              </a>
            </li>
          </ul>
        </nav>

        <div class="header__block-loginin" data-loginin="1">
          <span id="enterExit" class="header__loginin-text">
            Вход/Регистрация</span>

          <div id="getcodeModal01" class="
              header__loginin-popup header__loginin-popup
              loginin-popup-header
            " data-loginin="1">
            <form class="loginin-popup-header__form js-form-validation" novalidate="novalidate" action="">
              <div class="loginin-popup-header__block-inputs">
                <div class="Input input">
                  <input class="Input__inp mask-phone-placeholder-js" type="tel" name="tel" placeholder="Телефон"
                    data-index-input="1" required="" />
                  <span class="
                      input-validation__message input-validation__message-mod
                    "></span>
                </div>

                <button id="getcodesms" class="Button Button--lime Button--theme-m">
                  <span class="Button__text">Получить код в SMS</span>
                </button>
              </div>
            </form>

            <div class="loginin-popup-header__links">
              <a class="Link Link--lime-decor loginin-popup-header__links-text" href="#">
                Регистрация
              </a>
              <a id="comewithpass" class="Link Link--lime-decor loginin-popup-header__links-text" href="#">
                Войти с паролем
              </a>
            </div>
          </div>

          <div id="getcodeModal02" class="
              header__loginin-popup-code header__loginin-popup-code
              loginin-popup-code-header
            " data-loginin="2">
            <form class="loginin-popup-code-header__form js-form-validation" novalidate="novalidate" action="">
              <div class="loginin-popup-code-header__block-inputs">
                <div class="Input input">
                  <input class="Input__inp mask-phone-placeholder-js" type="tel" name="tel" placeholder="Телефон"
                    data-index-input="1" required="" />
                  <span class="
                      input-validation__message input-validation__message-mod
                    "></span>
                </div>

                <div class="Input input">
                  <input class="Input__inp" type="text" name="message" placeholder="Код" data-index-input="1"
                    required="" />
                  <span class="
                      input-validation__message input-validation__message-mod
                    "></span>
                </div>
                <div class="loginin-popup-code-header__form-link">
                  <a class="
                      Link Link--lime-decor
                      loginin-popup-code-header__link-text
                    " href="#">
                    Отправить код повторно
                  </a>
                </div>

                <button class="Button Button--lime Button--theme-m">
                  <span class="Button__text">Войти</span>
                </button>
              </div>
            </form>

            <div class="loginin-popup-header__links">
              <a class="Link Link--lime-decor loginin-popup-header__links-text" href="#">
                Регистрация
              </a>
              <a id="comewithpass" class="Link Link--lime-decor loginin-popup-header__links-text" href="#">
                Войти с паролем
              </a>
            </div>
          </div>

          <div id="getcodeModal03" class="
              header__loginin-popup-entry header__loginin-popup-entry
              loginin-popup-entry-header
            " data-loginin="3">
            <form class="loginin-popup-entry-header__form js-form-validation" novalidate="novalidate" action="">
              <div class="loginin-popup-entry-header__block-inputs">
                <div class="Input input">
                  <input class="Input__inp" type="text" name="message" placeholder="Логин/E-mail" data-index-input="1"
                    required="" />
                  <span class="
                      input-validation__message input-validation__message-mod
                    "></span>
                </div>

                <div class="Input input">
                  <input class="Input__inp" type="password" name="password" placeholder="Пароль" data-index-input="1"
                    required="" />
                  <span class="
                      input-validation__message input-validation__message-mod
                    "></span>
                </div>

                <div class="loginin-popup-entry-header__form-link">
                  <a class="
                      Link Link--lime-decor
                      loginin-popup-entry-header__link-text
                    " href="#">
                    Забыли пароль?
                  </a>
                </div>

                <div class="Privacy-policy">
                  <label class="Privacy-policy__checkbox checkbox">
                    <input class="Privacy-policy__input" type="checkbox" name="checkbox" required="" />
                    <span class="Privacy-policy__label">
                      <span class="
                          Privacy-policy__text Privacy-policy__text--policy
                        ">
                        Запомнить меня
                      </span>
                    </span>
                    <span class="
                        input-validation__message input-validation__message-mod
                      "></span>
                  </label>
                </div>

                <button class="Button Button--lime Button--theme-m">
                  <span class="Button__text">Войти</span>
                </button>
              </div>
            </form>

            <div class="loginin-popup-header__links">
              <a class="Link Link--lime-decor loginin-popup-header__links-text" href="#">
                Регистрация
              </a>
              <a id="comeWidtSms" class="Link Link--lime-decor loginin-popup-header__links-text" href="#">
                Войти с SMS
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="header__block-information">
        <div class="Logo">
          <a href="#">
            <img class="Logo__image Logo__image--size-s" src="img/logo-svg.svg" alt="" />
          </a>
        </div>

        <div class="header__block-information-center">
          <div class="header__button-catalog" data-header-catalog="1">
            <a class="
                Button Button--lime Button--theme-xs
                header__button-catalog
              " href="#">
              <span class="Button__icon">
                <svg class="Button__icon-svg">
                  <use class="Button__icon-svg-use" xlink:href="#burger"></use>
                </svg>
              </span>
              <span class="Button__text">Каталог</span>
            </a>

            <div class="Catalog header-catalog">
              <div class="Catalog__block-list-product">
                <ul class="Catalog__list-product">
                  <li class="Catalog__list-item-product">
                    <a class="
                        Button
                        Button--white-black
                        Button--theme-l
                        Button--theme-l-n
                      " href="#">
                      <span class="Button__icon">
                        <svg class="Button__icon-svg Button__icon-svg--left">
                          <use class="Button__icon-svg-use" xlink:href="#entrance-doors"></use>
                        </svg>
                      </span>
                      <span class="Button__text">Межкомнатные двери</span>
                      <span class="Button__icon Button__icon--right">
                        <svg class="
                            Button__icon-svg
                            Button__icon-svg--right
                            Button__icon-svg--right-rotate
                          ">
                          <use class="Button__icon-svg-use" xlink:href="#arrow-right"></use>
                        </svg>
                      </span>
                    </a>

                    <ul class="Catalog__list-product-second-level">
                      <li class="Catalog__list-product-second-level-item">
                        <a class="Catalog__list-product-second-level-button" href="#">Ламинированные двери</a>
                      </li>

                      <li class="Catalog__list-product-second-level-item">
                        <a class="Catalog__list-product-second-level-button" href="#">Грунтованные двери</a>
                      </li>

                      <li class="Catalog__list-product-second-level-item">
                        <a class="Catalog__list-product-second-level-button" href="#">
                          <span class="Catalog__list-product-second-level-item-text">Современные покрытия</span>
                          <span class="Catalog__list-product-second-level-item-icon">
                            <svg class="
                                Catalog__list-product-second-level-item-svg
                              ">
                              <use class="
                                  Catalog__list-product-second-level-item-svg-use
                                " xlink:href="#arrow-right"></use>
                            </svg>
                          </span>
                        </a>

                        <ul class="Catalog__list-product-third-level">
                          <li class="Catalog__list-product-third-level-item">
                            <a class="Catalog__list-product-second-level-button" href="#">CPL</a>
                          </li>
                          <li class="Catalog__list-product-third-level-item">
                            <a class="Catalog__list-product-second-level-button" href="#">Экошпон</a>
                          </li>
                          <li class="Catalog__list-product-third-level-item">
                            <a class="Catalog__list-product-second-level-button" href="#">Экошпон с алюминиевой
                              кромкой</a>
                          </li>
                          <li class="Catalog__list-product-third-level-item">
                            <a class="Catalog__list-product-second-level-button" href="#">Виниловые покрытия</a>
                          </li>
                          <li class="Catalog__list-product-third-level-item">
                            <a class="Catalog__list-product-second-level-button" href="#">PCC-покрытие</a>
                          </li>
                        </ul>
                      </li>

                      <li class="Catalog__list-product-second-level-item">
                        <a class="Catalog__list-product-second-level-button" href="#">Эмалевые двери</a>
                      </li>

                      <li class="Catalog__list-product-second-level-item">
                        <a class="Catalog__list-product-second-level-button" href="#">Стеклянные двери</a>
                      </li>

                      <li class="Catalog__list-product-second-level-item">
                        <a class="Catalog__list-product-second-level-button" href="#">
                          <span class="Catalog__list-product-second-level-item-text">Натуральный шпон</span>
                          <span class="Catalog__list-product-second-level-item-icon">
                            <svg class="
                                Catalog__list-product-second-level-item-svg
                              ">
                              <use class="
                                  Catalog__list-product-second-level-item-svg-use
                                " xlink:href="#arrow-right"></use>
                            </svg>
                          </span>
                        </a>

                        <ul class="Catalog__list-product-third-level">
                          <li class="Catalog__list-product-third-level-item">
                            <a class="Catalog__list-product-second-level-button" href="#">Шпон Fine-Line</a>
                          </li>
                          <li class="Catalog__list-product-third-level-item">
                            <a class="Catalog__list-product-second-level-button" href="#">Шпон ценных пород дерева</a>
                          </li>
                        </ul>
                      </li>

                      <li class="Catalog__list-product-second-level-item">
                        <a class="Catalog__list-product-second-level-button" href="#">
                          <span class="Catalog__list-product-second-level-item-text">Двери из массива</span>
                          <span class="Catalog__list-product-second-level-item-icon">
                            <svg class="
                                Catalog__list-product-second-level-item-svg
                              ">
                              <use class="
                                  Catalog__list-product-second-level-item-svg-use
                                " xlink:href="#arrow-right"></use>
                            </svg>
                          </span>
                        </a>

                        <ul class="Catalog__list-product-third-level">
                          <li class="Catalog__list-product-third-level-item">
                            <a class="Catalog__list-product-second-level-button" href="#">Массив Сосны
                              необработанной</a>
                          </li>
                          <li class="Catalog__list-product-third-level-item">
                            <a class="Catalog__list-product-second-level-button" href="#">Массив Сосны</a>
                          </li>
                          <li class="Catalog__list-product-third-level-item">
                            <a class="Catalog__list-product-second-level-button" href="#">Массив Ольхи</a>
                          </li>
                          <li class="Catalog__list-product-third-level-item">
                            <a class="Catalog__list-product-second-level-button" href="#">Массив Ценных пород
                              древесины</a>
                          </li>
                        </ul>
                      </li>

                      <li class="Catalog__list-product-second-level-item">
                        <a class="Catalog__list-product-second-level-button" href="#">Двери-гармошка</a>
                      </li>

                      <li class="Catalog__list-product-second-level-item">
                        <a class="Catalog__list-product-second-level-button" href="#">Двери-гармошка</a>
                      </li>
                    </ul>
                  </li>

                  <li class="Catalog__list-item-product">
                    <a class="
                        Button
                        Button--white-black
                        Button--theme-l
                        Button--theme-l-n
                      " href="#">
                      <span class="Button__icon">
                        <svg class="Button__icon-svg Button__icon-svg--left">
                          <use class="Button__icon-svg-use" xlink:href="#interior-doors"></use>
                        </svg>
                      </span>
                      <span class="Button__text">Входные двери</span>
                      <span class="Button__icon Button__icon--right">
                        <svg class="
                            Button__icon-svg
                            Button__icon-svg--right
                            Button__icon-svg--right-rotate
                          ">
                          <use class="Button__icon-svg-use" xlink:href="#arrow-right"></use>
                        </svg>
                      </span>
                    </a>

                    <ul class="Catalog__list-product-second-level">
                      <li class="Catalog__list-product-second-level-item">
                        <a class="Catalog__list-product-second-level-button" href="#">Бюджет</a>
                      </li>

                      <li class="Catalog__list-product-second-level-item">
                        <a class="Catalog__list-product-second-level-button" href="#">Стандарт</a>
                      </li>

                      <li class="Catalog__list-product-second-level-item">
                        <a class="Catalog__list-product-second-level-button" href="#">Премиум</a>
                      </li>

                      <li class="Catalog__list-product-second-level-item">
                        <a class="Catalog__list-product-second-level-button" href="#">Люкс</a>
                      </li>

                      <li class="Catalog__list-product-second-level-item">
                        <a class="Catalog__list-product-second-level-button" href="#">Двери с ковкой</a>
                      </li>

                      <li class="Catalog__list-product-second-level-item">
                        <a class="Catalog__list-product-second-level-button" href="#">Не стандарт</a>
                      </li>

                      <li class="Catalog__list-product-second-level-item">
                        <a class="Catalog__list-product-second-level-button" href="#">Противопожарные</a>
                      </li>

                      <li class="Catalog__list-product-second-level-item">
                        <a class="Catalog__list-product-second-level-button" href="#">Стандарт</a>
                      </li>

                      <li class="Catalog__list-product-second-level-item">
                        <a class="Catalog__list-product-second-level-button" href="#">Термо</a>
                      </li>
                    </ul>
                  </li>

                  <li class="Catalog__list-item-product">
                    <a class="
                        Button
                        Button--white-black
                        Button--theme-l
                        Button--theme-l-n
                      " href="#">
                      <span class="Button__icon">
                        <svg class="Button__icon-svg Button__icon-svg--left">
                          <use class="Button__icon-svg-use" xlink:href="#fittings"></use>
                        </svg>
                      </span>
                      <span class="Button__text">Фурнитура</span>
                      <span class="Button__icon Button__icon--right">
                        <svg class="
                            Button__icon-svg
                            Button__icon-svg--right
                            Button__icon-svg--right-rotate
                          ">
                          <use class="Button__icon-svg-use" xlink:href="#arrow-right"></use>
                        </svg>
                      </span>
                    </a>

                    <ul class="Catalog__list-product-second-level">
                      <li class="Catalog__list-product-second-level-item">
                        <a class="Catalog__list-product-second-level-button" href="#">
                          <span class="Catalog__list-product-second-level-item-text">Дверные ручки</span>
                          <span class="Catalog__list-product-second-level-item-icon">
                            <svg class="
                                Catalog__list-product-second-level-item-svg
                              ">
                              <use class="
                                  Catalog__list-product-second-level-item-svg-use
                                " xlink:href="#arrow-right"></use>
                            </svg>
                          </span>
                        </a>

                        <ul class="Catalog__list-product-third-level">
                          <li class="Catalog__list-product-third-level-item">
                            <a class="Catalog__list-product-second-level-button" href="#">Ручки купе</a>
                          </li>
                          <li class="Catalog__list-product-third-level-item">
                            <a class="Catalog__list-product-second-level-button" href="#">Ручки стандарт</a>
                          </li>
                          <li class="Catalog__list-product-third-level-item">
                            <a class="Catalog__list-product-second-level-button" href="#">Ручки на планке</a>
                          </li>
                          <li class="Catalog__list-product-third-level-item">
                            <a class="Catalog__list-product-second-level-button" href="#">Ручки со встроенным
                              механизмом</a>
                          </li>
                          <li class="Catalog__list-product-third-level-item">
                            <a class="Catalog__list-product-second-level-button" href="#">PCC-покрытие</a>
                          </li>
                        </ul>
                      </li>

                      <li class="Catalog__list-product-second-level-item">
                        <a class="Catalog__list-product-second-level-button" href="#">
                          <span class="Catalog__list-product-second-level-item-text">Дверные петли</span>
                          <span class="Catalog__list-product-second-level-item-icon">
                            <svg class="
                                Catalog__list-product-second-level-item-svg
                              ">
                              <use class="
                                  Catalog__list-product-second-level-item-svg-use
                                " xlink:href="#arrow-right"></use>
                            </svg>
                          </span>
                        </a>

                        <ul class="Catalog__list-product-third-level">
                          <li class="Catalog__list-product-third-level-item">
                            <a class="Catalog__list-product-second-level-button" href="#">Петли скрытые</a>
                          </li>
                          <li class="Catalog__list-product-third-level-item">
                            <a class="Catalog__list-product-second-level-button" href="#">Петли универсальные
                              врезные</a>
                          </li>
                          <li class="Catalog__list-product-third-level-item">
                            <a class="Catalog__list-product-second-level-button" href="#">Петли накладные (без
                              врезки)</a>
                          </li>
                          <li class="Catalog__list-product-third-level-item">
                            <a class="Catalog__list-product-second-level-button" href="#">Петли разъёмные</a>
                          </li>
                        </ul>
                      </li>

                      <li class="Catalog__list-product-second-level-item">
                        <a class="Catalog__list-product-second-level-button" href="#">Замки и Защелки</a>
                      </li>
                      <li class="Catalog__list-product-second-level-item">
                        <a class="Catalog__list-product-second-level-button" href="#">Аксессуары</a>
                      </li>
                    </ul>
                  </li>

                  <li class="Catalog__list-item-product">
                    <a class="
                        Button
                        Button--white-black
                        Button--theme-l
                        Button--theme-l-n
                      " href="#">
                      <span class="Button__icon">
                        <svg class="
                            Button__icon-svg
                            Button__icon-svg--red
                            Button__icon-svg--left
                          ">
                          <use class="Button__icon-svg-use" xlink:href="#stock"></use>
                        </svg>
                      </span>
                      <span class="Button__text">Акции</span>
                      <span class="Button__icon Button__icon--right">
                        <svg class="
                            Button__icon-svg
                            Button__icon-svg--right
                            Button__icon-svg--right-rotate
                          ">
                          <use class="Button__icon-svg-use" xlink:href="#arrow-right"></use>
                        </svg>
                      </span>
                    </a>

                    <ul class="Catalog__list-product-second-level">
                      <li class="Catalog__list-product-second-level-item">
                        <a class="Catalog__list-product-second-level-button" href="#">Межкомнатные двери</a>
                      </li>
                      <li class="Catalog__list-product-second-level-item">
                        <a class="Catalog__list-product-second-level-button" href="#">Входные двери</a>
                      </li>
                      <li class="Catalog__list-product-second-level-item">
                        <a class="Catalog__list-product-second-level-button" href="#">Фурнитура</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="Search">
            <div class="Search__block">
              <div class="Search__form">
                <form action="">
                  <input type="text" placeholder="Поиск по каталогу..." class="Search__input" name="" value="" size="15"
                    maxlength="50" />
                  <button name="" type="submit" value="Поиск по каталогу" class="Search__button">
                    <div class="Search__block-icon" data-search-index="1">
                      <svg class="Search__svg">
                        <use xlink:href="#search" class="Search__use"></use>
                      </svg>
                    </div>
                  </button>
                </form>
              </div>
            </div>
          </div>

          <div class="header__social-network">
            <div class="
                Social-network Social-network--theme-xs Social-network--blue
              ">
              <div class="Social-network__wrapper">
                <div class="Social-network__icon">
                  <svg class="Social-network__icon-svg">
                    <use class="Social-network__icon-svg-use" xlink:href="#telegram"></use>
                  </svg>
                </div>
              </div>
            </div>

            <div class="
                Social-network Social-network--theme-xs Social-network--lime
              ">
              <div class="Social-network__wrapper">
                <div class="Social-network__icon">
                  <svg class="Social-network__icon-svg">
                    <use class="Social-network__icon-svg-use" xlink:href="#whatsapp"></use>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="header__block-information-right">
          <div class="Feedback header__feedback">
            <div class="Feedback__wrapper">
              <div class="Feedback__block-number">
                <div class="Feedback__number">
                  <a class="Link Link--black Link--theme-l" href="tel:8(909)678-00-56">
                    8(909)678-00-56
                  </a>
                </div>
              </div>
              <div class="Feedback__call">
                <a class="Link Link--theme-s Link--lime-decor" href="#">Заказать звонок</a>
              </div>
            </div>
          </div>

          <div class="header__instruments">
            <span class="Icon Icon--black Icon--theme-m">
              <div class="Icon__content">
                <svg class="Icon__svg">
                  <use class="Icon__svg-use" xlink:href="#scales"></use>
                </svg>

                <span class="Icon__counter"> 3 </span>
              </div>
            </span>

            <span class="Icon Icon--black Icon--theme-m">
              <div class="Icon__content">
                <svg class="Icon__svg">
                  <use class="Icon__svg-use" xlink:href="#like"></use>
                </svg>

                <span class="Icon__counter"> 3 </span>
              </div>
            </span>

            <span class="Icon Icon--black Icon--theme-m">
              <div class="Icon__content">
                <svg class="Icon__svg">
                  <use class="Icon__svg-use" xlink:href="#basket"></use>
                </svg>

                <span class="Icon__counter"> 3 </span>
              </div>

              <span class="Icon__text"> 23 765 ₽ </span>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="header__wrapper-mobile mobile-header">
      <div class="mobile-header__block-top">
        <div class="mobile-header__block-navigation">
          <div class="mobile-header__block-city">
            <a class="mobile-header__city-link" href="#popup-header-city" data-fancybox-window="">
              <span class="mobile-header__city-icon">
                <svg class="mobile-header__city-icon-svg">
                  <use class="mobile-header__city-svg-use" xlink:href="#location"></use>
                </svg>
              </span>
            </a>
          </div>

          <span class="mobile-header__menu-title" href="#">
            Меню
            <span class="mobile-header__menu-icon">
              <svg class="mobile-header__menu-icon-svg">
                <use class="mobile-header__menu-icon-svg-use" xlink:href="#arrow-right"></use>
              </svg>
            </span>

            <nav class="mobile-header__nav">
              <ul class="mobile-header__nav-list">
                <li class="mobile-header__nav-item item-nav">
                  <a class="Link item-nav__content" href="#">
                    <span class="item-nav__text"> Главная </span>
                  </a>
                </li>

                <li class="mobile-header__nav-item item-nav">
                  <a class="Link item-nav__content" href="#">
                    <span class="item-nav__text"> О компании </span>
                  </a>
                </li>

                <li class="mobile-header__nav-item item-nav">
                  <a class="item-nav__content" href="#">
                    <span class="item-nav__text"> Партнерам </span>
                  </a>
                </li>

                <li class="mobile-header__nav-item item-nav">
                  <a class="item-nav__content" href="#">
                    <span class="item-nav__text"> Акции </span>

                    <span class="item-nav__counter"> +1 </span>
                  </a>
                </li>

                <li class="mobile-header__nav-item item-nav">
                  <a class="item-nav__content" href="#">
                    <span class="item-nav__text"> 3D-тур </span>
                  </a>
                </li>

                <li class="mobile-header__nav-item item-nav">
                  <a class="item-nav__content" href="#">
                    <span class="item-nav__text"> Контакты </span>
                  </a>
                </li>
              </ul>
            </nav>
          </span>
        </div>

        <div class="mobile-header__block-contact">
          <div class="mobile-header__phone">
            <a class="mobile-header__phone-link" href="tel:8(909)678-00-56">
              <svg class="mobile-header__phone-icon-svg">
                <use class="mobile-header__phone-svg-use" xlink:href="#phone-dark"></use>
              </svg>
            </a>
          </div>

          <div class="mobile-header__whatsapp">
            <a class="mobile-header__whatsapp-link" href="tel:8(909)678-00-56">
              <svg class="mobile-header__whatsapp-icon-svg">
                <use class="mobile-header__whatsapp-svg-use" xlink:href="#whatsapp"></use>
              </svg>
              <span class="mobile-header__whatsapp-text">WhatsApp</span>
            </a>
          </div>
        </div>
      </div>

      <div class="mobile-header__block-middle">
        <a href="#">
          <img class="Logo__image Logo__image--size-s" src="img/logo-svg.svg" alt="" />
        </a>

        <div class="mobile-header__instruments">
          <span class="Icon Icon--black Icon--theme-m">
            <div class="Icon__content">
              <svg class="Icon__svg">
                <use class="Icon__svg-use" xlink:href="#scales"></use>
              </svg>

              <span class="Icon__counter"> 12 </span>
            </div>
          </span>

          <span class="Icon Icon--black Icon--theme-m">
            <div class="Icon__content">
              <svg class="Icon__svg">
                <use class="Icon__svg-use" xlink:href="#like"></use>
              </svg>

              <span class="Icon__counter"> 12 </span>
            </div>
          </span>

          <span class="Icon Icon--black Icon--theme-m">
            <div class="Icon__content">
              <svg class="Icon__svg">
                <use class="Icon__svg-use" xlink:href="#basket"></use>
              </svg>

              <span class="Icon__counter"> 12 </span>
            </div>
          </span>

          <span class="Icon Icon--black Icon--theme-m">
            <div class="Icon__content">
              <svg class="Icon__svg">
                <use class="Icon__svg-use" xlink:href="#user"></use>
              </svg>
            </div>
          </span>
        </div>
      </div>

      <div class="mobile-header__block-bottom">
        <div class="mobile-header__container-catalog">
          <div class="mobile-header__button-catalog" data-mobile-header-catalog="1">
            <a class="
                Button Button--lime Button--theme-xs
                mobile-header__button-catalog
              " href="#">
              <span class="Button__icon">
                <svg class="Button__icon-svg">
                  <use class="Button__icon-svg-use" xlink:href="#burger"></use>
                </svg>
              </span>
            </a>

            <div class="Catalog mobile-header-catalog">
              <div class="Catalog__block-list-product">
                <ul class="Catalog__list-product">
                  <li class="Catalog__list-item-product">
                    <a class="
                        Button
                        Button--white-black
                        Button--theme-l
                        Button--theme-l-n
                      " href="#">
                      <span class="Button__icon">
                        <svg class="Button__icon-svg Button__icon-svg--left">
                          <use class="Button__icon-svg-use" xlink:href="#entrance-doors"></use>
                        </svg>
                      </span>
                      <span class="Button__text">Межкомнатные двери</span>
                      <span class="Button__icon Button__icon--right">
                        <svg class="
                            Button__icon-svg
                            Button__icon-svg--right
                            Button__icon-svg--right-rotate
                          ">
                          <use class="Button__icon-svg-use" xlink:href="#arrow-right"></use>
                        </svg>
                      </span>
                    </a>

                    <ul class="Catalog__list-product-second-level">
                      <li class="Catalog__list-product-second-level-item">
                        <a class="Catalog__list-product-second-level-button" href="#">Ламинированные двери</a>
                      </li>

                      <li class="Catalog__list-product-second-level-item">
                        <a class="Catalog__list-product-second-level-button" href="#">Грунтованные двери</a>
                      </li>

                      <li class="Catalog__list-product-second-level-item">
                        <a class="Catalog__list-product-second-level-button" href="#">
                          <span class="Catalog__list-product-second-level-item-text">Современные покрытия</span>
                          <span class="Catalog__list-product-second-level-item-icon">
                            <svg class="
                                Catalog__list-product-second-level-item-svg
                              ">
                              <use class="
                                  Catalog__list-product-second-level-item-svg-use
                                " xlink:href="#arrow-right"></use>
                            </svg>
                          </span>
                        </a>

                        <ul class="Catalog__list-product-third-level">
                          <li class="Catalog__list-product-third-level-item">
                            <a class="Catalog__list-product-second-level-button" href="#">CPL</a>
                          </li>
                          <li class="Catalog__list-product-third-level-item">
                            <a class="Catalog__list-product-second-level-button" href="#">Экошпон</a>
                          </li>
                          <li class="Catalog__list-product-third-level-item">
                            <a class="Catalog__list-product-second-level-button" href="#">Экошпон с алюминиевой
                              кромкой</a>
                          </li>
                          <li class="Catalog__list-product-third-level-item">
                            <a class="Catalog__list-product-second-level-button" href="#">Виниловые покрытия</a>
                          </li>
                          <li class="Catalog__list-product-third-level-item">
                            <a class="Catalog__list-product-second-level-button" href="#">PCC-покрытие</a>
                          </li>
                        </ul>
                      </li>

                      <li class="Catalog__list-product-second-level-item">
                        <a class="Catalog__list-product-second-level-button" href="#">Эмалевые двери</a>
                      </li>

                      <li class="Catalog__list-product-second-level-item">
                        <a class="Catalog__list-product-second-level-button" href="#">Стеклянные двери</a>
                      </li>

                      <li class="Catalog__list-product-second-level-item">
                        <a class="Catalog__list-product-second-level-button" href="#">
                          <span class="Catalog__list-product-second-level-item-text">Натуральный шпон</span>
                          <span class="Catalog__list-product-second-level-item-icon">
                            <svg class="
                                Catalog__list-product-second-level-item-svg
                              ">
                              <use class="
                                  Catalog__list-product-second-level-item-svg-use
                                " xlink:href="#arrow-right"></use>
                            </svg>
                          </span>
                        </a>

                        <ul class="Catalog__list-product-third-level">
                          <li class="Catalog__list-product-third-level-item">
                            <a class="Catalog__list-product-second-level-button" href="#">Шпон Fine-Line</a>
                          </li>
                          <li class="Catalog__list-product-third-level-item">
                            <a class="Catalog__list-product-second-level-button" href="#">Шпон ценных пород дерева</a>
                          </li>
                        </ul>
                      </li>

                      <li class="Catalog__list-product-second-level-item">
                        <a class="Catalog__list-product-second-level-button" href="#">
                          <span class="Catalog__list-product-second-level-item-text">Двери из массива</span>
                          <span class="Catalog__list-product-second-level-item-icon">
                            <svg class="
                                Catalog__list-product-second-level-item-svg
                              ">
                              <use class="
                                  Catalog__list-product-second-level-item-svg-use
                                " xlink:href="#arrow-right"></use>
                            </svg>
                          </span>
                        </a>

                        <ul class="Catalog__list-product-third-level">
                          <li class="Catalog__list-product-third-level-item">
                            <a class="Catalog__list-product-second-level-button" href="#">Массив Сосны
                              необработанной</a>
                          </li>
                          <li class="Catalog__list-product-third-level-item">
                            <a class="Catalog__list-product-second-level-button" href="#">Массив Сосны</a>
                          </li>
                          <li class="Catalog__list-product-third-level-item">
                            <a class="Catalog__list-product-second-level-button" href="#">Массив Ольхи</a>
                          </li>
                          <li class="Catalog__list-product-third-level-item">
                            <a class="Catalog__list-product-second-level-button" href="#">Массив Ценных пород
                              древесины</a>
                          </li>
                        </ul>
                      </li>

                      <li class="Catalog__list-product-second-level-item">
                        <a class="Catalog__list-product-second-level-button" href="#">Двери-гармошка</a>
                      </li>

                      <li class="Catalog__list-product-second-level-item">
                        <a class="Catalog__list-product-second-level-button" href="#">Двери-гармошка</a>
                      </li>
                    </ul>
                  </li>

                  <li class="Catalog__list-item-product">
                    <a class="
                        Button
                        Button--white-black
                        Button--theme-l
                        Button--theme-l-n
                      " href="#">
                      <span class="Button__icon">
                        <svg class="Button__icon-svg Button__icon-svg--left">
                          <use class="Button__icon-svg-use" xlink:href="#interior-doors"></use>
                        </svg>
                      </span>
                      <span class="Button__text">Входные двери</span>
                      <span class="Button__icon Button__icon--right">
                        <svg class="
                            Button__icon-svg
                            Button__icon-svg--right
                            Button__icon-svg--right-rotate
                          ">
                          <use class="Button__icon-svg-use" xlink:href="#arrow-right"></use>
                        </svg>
                      </span>
                    </a>

                    <ul class="Catalog__list-product-second-level">
                      <li class="Catalog__list-product-second-level-item">
                        <a class="Catalog__list-product-second-level-button" href="#">Бюджет</a>
                      </li>

                      <li class="Catalog__list-product-second-level-item">
                        <a class="Catalog__list-product-second-level-button" href="#">Стандарт</a>
                      </li>

                      <li class="Catalog__list-product-second-level-item">
                        <a class="Catalog__list-product-second-level-button" href="#">Премиум</a>
                      </li>

                      <li class="Catalog__list-product-second-level-item">
                        <a class="Catalog__list-product-second-level-button" href="#">Люкс</a>
                      </li>

                      <li class="Catalog__list-product-second-level-item">
                        <a class="Catalog__list-product-second-level-button" href="#">Двери с ковкой</a>
                      </li>

                      <li class="Catalog__list-product-second-level-item">
                        <a class="Catalog__list-product-second-level-button" href="#">Не стандарт</a>
                      </li>

                      <li class="Catalog__list-product-second-level-item">
                        <a class="Catalog__list-product-second-level-button" href="#">Противопожарные</a>
                      </li>

                      <li class="Catalog__list-product-second-level-item">
                        <a class="Catalog__list-product-second-level-button" href="#">Стандарт</a>
                      </li>

                      <li class="Catalog__list-product-second-level-item">
                        <a class="Catalog__list-product-second-level-button" href="#">Термо</a>
                      </li>
                    </ul>
                  </li>

                  <li class="Catalog__list-item-product">
                    <a class="
                        Button
                        Button--white-black
                        Button--theme-l
                        Button--theme-l-n
                      " href="#">
                      <span class="Button__icon">
                        <svg class="Button__icon-svg Button__icon-svg--left">
                          <use class="Button__icon-svg-use" xlink:href="#fittings"></use>
                        </svg>
                      </span>
                      <span class="Button__text">Фурнитура</span>
                      <span class="Button__icon Button__icon--right">
                        <svg class="
                            Button__icon-svg
                            Button__icon-svg--right
                            Button__icon-svg--right-rotate
                          ">
                          <use class="Button__icon-svg-use" xlink:href="#arrow-right"></use>
                        </svg>
                      </span>
                    </a>

                    <ul class="Catalog__list-product-second-level">
                      <li class="Catalog__list-product-second-level-item">
                        <a class="Catalog__list-product-second-level-button" href="#">
                          <span class="Catalog__list-product-second-level-item-text">Дверные ручки</span>
                          <span class="Catalog__list-product-second-level-item-icon">
                            <svg class="
                                Catalog__list-product-second-level-item-svg
                              ">
                              <use class="
                                  Catalog__list-product-second-level-item-svg-use
                                " xlink:href="#arrow-right"></use>
                            </svg>
                          </span>
                        </a>

                        <ul class="Catalog__list-product-third-level">
                          <li class="Catalog__list-product-third-level-item">
                            <a class="Catalog__list-product-second-level-button" href="#">Ручки купе</a>
                          </li>
                          <li class="Catalog__list-product-third-level-item">
                            <a class="Catalog__list-product-second-level-button" href="#">Ручки стандарт</a>
                          </li>
                          <li class="Catalog__list-product-third-level-item">
                            <a class="Catalog__list-product-second-level-button" href="#">Ручки на планке</a>
                          </li>
                          <li class="Catalog__list-product-third-level-item">
                            <a class="Catalog__list-product-second-level-button" href="#">Ручки со встроенным
                              механизмом</a>
                          </li>
                          <li class="Catalog__list-product-third-level-item">
                            <a class="Catalog__list-product-second-level-button" href="#">PCC-покрытие</a>
                          </li>
                        </ul>
                      </li>

                      <li class="Catalog__list-product-second-level-item">
                        <a class="Catalog__list-product-second-level-button" href="#">
                          <span class="Catalog__list-product-second-level-item-text">Дверные петли</span>
                          <span class="Catalog__list-product-second-level-item-icon">
                            <svg class="
                                Catalog__list-product-second-level-item-svg
                              ">
                              <use class="
                                  Catalog__list-product-second-level-item-svg-use
                                " xlink:href="#arrow-right"></use>
                            </svg>
                          </span>
                        </a>

                        <ul class="Catalog__list-product-third-level">
                          <li class="Catalog__list-product-third-level-item">
                            <a class="Catalog__list-product-second-level-button" href="#">Петли скрытые</a>
                          </li>
                          <li class="Catalog__list-product-third-level-item">
                            <a class="Catalog__list-product-second-level-button" href="#">Петли универсальные
                              врезные</a>
                          </li>
                          <li class="Catalog__list-product-third-level-item">
                            <a class="Catalog__list-product-second-level-button" href="#">Петли накладные (без
                              врезки)</a>
                          </li>
                          <li class="Catalog__list-product-third-level-item">
                            <a class="Catalog__list-product-second-level-button" href="#">Петли разъёмные</a>
                          </li>
                        </ul>
                      </li>

                      <li class="Catalog__list-product-second-level-item">
                        <a class="Catalog__list-product-second-level-button" href="#">Замки и Защелки</a>
                      </li>
                      <li class="Catalog__list-product-second-level-item">
                        <a class="Catalog__list-product-second-level-button" href="#">Аксессуары</a>
                      </li>
                    </ul>
                  </li>

                  <li class="Catalog__list-item-product">
                    <a class="
                        Button
                        Button--white-black
                        Button--theme-l
                        Button--theme-l-n
                      " href="#">
                      <span class="Button__icon">
                        <svg class="
                            Button__icon-svg
                            Button__icon-svg--red
                            Button__icon-svg--left
                          ">
                          <use class="Button__icon-svg-use" xlink:href="#stock"></use>
                        </svg>
                      </span>
                      <span class="Button__text">Акции</span>
                      <span class="Button__icon Button__icon--right">
                        <svg class="
                            Button__icon-svg
                            Button__icon-svg--right
                            Button__icon-svg--right-rotate
                          ">
                          <use class="Button__icon-svg-use" xlink:href="#arrow-right"></use>
                        </svg>
                      </span>
                    </a>

                    <ul class="Catalog__list-product-second-level">
                      <li class="Catalog__list-product-second-level-item">
                        <a class="Catalog__list-product-second-level-button" href="#">Межкомнатные двери</a>
                      </li>
                      <li class="Catalog__list-product-second-level-item">
                        <a class="Catalog__list-product-second-level-button" href="#">Входные двери</a>
                      </li>
                      <li class="Catalog__list-product-second-level-item">
                        <a class="Catalog__list-product-second-level-button" href="#">Фурнитура</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="Search">
            <div class="Search__block">
              <div class="Search__form">
                <form action="">
                  <input type="text" placeholder="Поиск по каталогу..." class="Search__input" name="" value="" size="15"
                    maxlength="50" />
                  <button name="" type="submit" value="Поиск по каталогу" class="Search__button">
                    <div class="Search__block-icon" data-search-index="1">
                      <svg class="Search__svg">
                        <use xlink:href="#search" class="Search__use"></use>
                      </svg>
                    </div>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <nav class="mobile-header__menu-catalog">
          <ul class="mobile-header__menu-list">
            <li>
              <a href="" class="mobile-header__link">Межкомнатные двери</a>
            </li>
            <li><a href="" class="mobile-header__link">Входные двери</a></li>
            <li><a href="" class="mobile-header__link">Фурнитура</a></li>
            <li><a href="" class="mobile-header__link">Акции</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>