<div class="swiper-container section-related-products__swiper-container"> 
	<div class="swiper-wrapper section-related-products__wrapper">

		<div class="swiper-slide section-related-products__slide">
			<div class="Card-advanced">

				<div class="Card-advanced__wrapper">
					<a href="#test" class="Card-advanced__link">
						<div class="Card-advanced__heading">
							<div class="Card-advanced__heading-title">
								<h3 class="Card-advanced__heading-title-text">Петля накладная и не только, этот текст не виден Стёпа
								</h3>
							</div>
							<div class="Card-advanced__heading-desc">
								<span class="Card-advanced__heading-desc-tex">Бронза</span>
								<span class="Card-advanced__heading-desc-tex">Петли универсальные врезные</span>
							</div>
						</div>
					</a>
					<div class="Card-advanced__block-img">

						<div class="Badges">
							<div class="Badges__offer">

								<span class="Badges__offer-discount">-25%</span>
								<a class="Icon Icon--lime Icon--theme-m" href="#">
									<div class="Icon__content">
										<svg class="Icon__svg">
											<use class="Icon__svg-use" xlink:href="#new"></use>
										</svg>
									</div>
								</a>
								<a class="Icon Icon--gray  Icon--theme-m" href="#">
									<div class="Icon__content">
										<svg class="Icon__svg">
											<use class="Icon__svg-use" xlink:href="#bestseller"></use>
										</svg>
									</div>
								</a>
								<a class="Icon Icon--gray  Icon--theme-m" href="#">
									<div class="Icon__content">
										<svg class="Icon__svg">
											<use class="Icon__svg-use" xlink:href="#flame"></use>
										</svg>
									</div>
								</a>


								<div class="Badges__offer-last">
									<a class="Icon  Icon--gray Icon--theme-m" href="#">
										<div class="Icon__content">
											<svg class="Icon__svg">
												<use class="Icon__svg-use" xlink:href="#video-card"></use>
											</svg>
										</div>
									</a>
								</div>

							</div>
							<div class="Badges__interaction">

								<a class="Icon Icon--gray Icon--theme-m">
									<div class="Icon__content">
										<svg class="Icon__svg">
											<use class="Icon__svg-use" xlink:href="#like"></use>
										</svg>
									</div>
								</a>
								<a class="Icon Icon--gray Icon--theme-m">
									<div class="Icon__content">
										<svg class="Icon__svg">
											<use class="Icon__svg-use" xlink:href="#scales"></use>
										</svg>
									</div>
								</a>




							</div>
						</div>
						<a href="#test" class="Card-advanced__link">
							<img src="https://natalyland.ru/wp-content/uploads/3/0/3/303d6fe69816a269e97dc81d126ebc4f.jpg" alt=""
								class="Card-advanced__img Bgi">
						</a>
					</div>
				</div>

			</div>
		</div>

		<div class="swiper-slide section-related-products__slide">
			<div class="Card-advanced">

				<div class="Card-advanced__wrapper">
					<a href="#test" class="Card-advanced__link">
						<div class="Card-advanced__heading">
							<div class="Card-advanced__heading-title">
								<h3 class="Card-advanced__heading-title-text">Петля накладная и не только, этот текст не виден Стёпа
								</h3>
							</div>
							<div class="Card-advanced__heading-desc">
								<span class="Card-advanced__heading-desc-tex">Бронза</span>
								<span class="Card-advanced__heading-desc-tex">Петли универсальные врезные</span>
							</div>
						</div>
					</a>
					<div class="Card-advanced__block-img">

						<div class="Badges">
							<div class="Badges__offer">

								<span class="Badges__offer-discount">-25%</span>
								<a class="Icon Icon--lime Icon--theme-m" href="#">
									<div class="Icon__content">
										<svg class="Icon__svg">
											<use class="Icon__svg-use" xlink:href="#new"></use>
										</svg>
									</div>
								</a>
								<a class="Icon Icon--gray  Icon--theme-m" href="#">
									<div class="Icon__content">
										<svg class="Icon__svg">
											<use class="Icon__svg-use" xlink:href="#bestseller"></use>
										</svg>
									</div>
								</a>
								<a class="Icon Icon--gray  Icon--theme-m" href="#">
									<div class="Icon__content">
										<svg class="Icon__svg">
											<use class="Icon__svg-use" xlink:href="#flame"></use>
										</svg>
									</div>
								</a>


								<div class="Badges__offer-last">
									<a class="Icon  Icon--gray Icon--theme-m" href="#">
										<div class="Icon__content">
											<svg class="Icon__svg">
												<use class="Icon__svg-use" xlink:href="#video-card"></use>
											</svg>
										</div>
									</a>
								</div>

							</div>
							<div class="Badges__interaction">

								<a class="Icon Icon--gray Icon--theme-m">
									<div class="Icon__content">
										<svg class="Icon__svg">
											<use class="Icon__svg-use" xlink:href="#like"></use>
										</svg>
									</div>
								</a>
								<a class="Icon Icon--gray Icon--theme-m">
									<div class="Icon__content">
										<svg class="Icon__svg">
											<use class="Icon__svg-use" xlink:href="#scales"></use>
										</svg>
									</div>
								</a>




							</div>
						</div>
						<a href="#test" class="Card-advanced__link">
							<img src="https://smallivingworld.ru/800/600/https/avatars.mds.yandex.net/get-zen_doc/1581245/pub_5de3f71b78125e00ae3c07d3_5de3f8653642b600afe51a0d/scale_1200" alt=""
								class="Card-advanced__img Bgi">
						</a>
					</div>
				</div>

			</div>
		</div>
		<div class="swiper-slide section-related-products__slide">
			<div class="Card-advanced">

				<div class="Card-advanced__wrapper">
					<a href="#test" class="Card-advanced__link">
						<div class="Card-advanced__heading">
							<div class="Card-advanced__heading-title">
								<h3 class="Card-advanced__heading-title-text">Петля накладная и не только, этот текст не виден Стёпа
								</h3>
							</div>
							<div class="Card-advanced__heading-desc">
								<span class="Card-advanced__heading-desc-tex">Бронза</span>
								<span class="Card-advanced__heading-desc-tex">Петли универсальные врезные</span>
							</div>
						</div>
					</a>
					<div class="Card-advanced__block-img">

						<div class="Badges">
							<div class="Badges__offer">

								<span class="Badges__offer-discount">-25%</span>
								<a class="Icon Icon--lime Icon--theme-m" href="#">
									<div class="Icon__content">
										<svg class="Icon__svg">
											<use class="Icon__svg-use" xlink:href="#new"></use>
										</svg>
									</div>
								</a>
								<a class="Icon Icon--gray  Icon--theme-m" href="#">
									<div class="Icon__content">
										<svg class="Icon__svg">
											<use class="Icon__svg-use" xlink:href="#bestseller"></use>
										</svg>
									</div>
								</a>
								<a class="Icon Icon--gray  Icon--theme-m" href="#">
									<div class="Icon__content">
										<svg class="Icon__svg">
											<use class="Icon__svg-use" xlink:href="#flame"></use>
										</svg>
									</div>
								</a>


								<div class="Badges__offer-last">
									<a class="Icon  Icon--gray Icon--theme-m" href="#">
										<div class="Icon__content">
											<svg class="Icon__svg">
												<use class="Icon__svg-use" xlink:href="#video-card"></use>
											</svg>
										</div>
									</a>
								</div>

							</div>
							<div class="Badges__interaction">

								<a class="Icon Icon--gray Icon--theme-m">
									<div class="Icon__content">
										<svg class="Icon__svg">
											<use class="Icon__svg-use" xlink:href="#like"></use>
										</svg>
									</div>
								</a>
								<a class="Icon Icon--gray Icon--theme-m">
									<div class="Icon__content">
										<svg class="Icon__svg">
											<use class="Icon__svg-use" xlink:href="#scales"></use>
										</svg>
									</div>
								</a>




							</div>
						</div>
						<a href="#test" class="Card-advanced__link">
							<img src="https://avatars.mds.yandex.net/get-zen_doc/1916740/pub_5df7281d11691d00aeaa9697_5df72a4ed4f07a00ad788257/scale_1200" alt=""
								class="Card-advanced__img Bgi">
						</a>
					</div>
				</div>

			</div>
		</div>
		<div class="swiper-slide section-related-products__slide">
			<div class="Card-advanced">

				<div class="Card-advanced__wrapper">
					<a href="#test" class="Card-advanced__link">
						<div class="Card-advanced__heading">
							<div class="Card-advanced__heading-title">
								<h3 class="Card-advanced__heading-title-text">Петля накладная и не только, этот текст не виден Стёпа
								</h3>
							</div>
							<div class="Card-advanced__heading-desc">
								<span class="Card-advanced__heading-desc-tex">Бронза</span>
								<span class="Card-advanced__heading-desc-tex">Петли универсальные врезные</span>
							</div>
						</div>
					</a>
					<div class="Card-advanced__block-img">

						<div class="Badges">
							<div class="Badges__offer">

								<span class="Badges__offer-discount">-25%</span>
								<a class="Icon Icon--lime Icon--theme-m" href="#">
									<div class="Icon__content">
										<svg class="Icon__svg">
											<use class="Icon__svg-use" xlink:href="#new"></use>
										</svg>
									</div>
								</a>
								<a class="Icon Icon--gray  Icon--theme-m" href="#">
									<div class="Icon__content">
										<svg class="Icon__svg">
											<use class="Icon__svg-use" xlink:href="#bestseller"></use>
										</svg>
									</div>
								</a>
								<a class="Icon Icon--gray  Icon--theme-m" href="#">
									<div class="Icon__content">
										<svg class="Icon__svg">
											<use class="Icon__svg-use" xlink:href="#flame"></use>
										</svg>
									</div>
								</a>


								<div class="Badges__offer-last">
									<a class="Icon  Icon--gray Icon--theme-m" href="#">
										<div class="Icon__content">
											<svg class="Icon__svg">
												<use class="Icon__svg-use" xlink:href="#video-card"></use>
											</svg>
										</div>
									</a>
								</div>

							</div>
							<div class="Badges__interaction">

								<a class="Icon Icon--gray Icon--theme-m">
									<div class="Icon__content">
										<svg class="Icon__svg">
											<use class="Icon__svg-use" xlink:href="#like"></use>
										</svg>
									</div>
								</a>
								<a class="Icon Icon--gray Icon--theme-m">
									<div class="Icon__content">
										<svg class="Icon__svg">
											<use class="Icon__svg-use" xlink:href="#scales"></use>
										</svg>
									</div>
								</a>




							</div>
						</div>
						<a href="#test" class="Card-advanced__link">
							<img src="https://natalyland.ru/wp-content/uploads/3/0/3/303d6fe69816a269e97dc81d126ebc4f.jpg" alt=""
								class="Card-advanced__img Bgi">
						</a>
					</div>
				</div>

			</div>
		</div>
		<div class="swiper-slide section-related-products__slide">
			<div class="Card-advanced">

				<div class="Card-advanced__wrapper">
					<a href="#test" class="Card-advanced__link">
						<div class="Card-advanced__heading">
							<div class="Card-advanced__heading-title">
								<h3 class="Card-advanced__heading-title-text">Петля накладная и не только, этот текст не виден Стёпа
								</h3>
							</div>
							<div class="Card-advanced__heading-desc">
								<span class="Card-advanced__heading-desc-tex">Бронза</span>
								<span class="Card-advanced__heading-desc-tex">Петли универсальные врезные</span>
							</div>
						</div>
					</a>
					<div class="Card-advanced__block-img">

						<div class="Badges">
							<div class="Badges__offer">

								<span class="Badges__offer-discount">-25%</span>
								<a class="Icon Icon--lime Icon--theme-m" href="#">
									<div class="Icon__content">
										<svg class="Icon__svg">
											<use class="Icon__svg-use" xlink:href="#new"></use>
										</svg>
									</div>
								</a>
								<a class="Icon Icon--gray  Icon--theme-m" href="#">
									<div class="Icon__content">
										<svg class="Icon__svg">
											<use class="Icon__svg-use" xlink:href="#bestseller"></use>
										</svg>
									</div>
								</a>
								<a class="Icon Icon--gray  Icon--theme-m" href="#">
									<div class="Icon__content">
										<svg class="Icon__svg">
											<use class="Icon__svg-use" xlink:href="#flame"></use>
										</svg>
									</div>
								</a>


								<div class="Badges__offer-last">
									<a class="Icon  Icon--gray Icon--theme-m" href="#">
										<div class="Icon__content">
											<svg class="Icon__svg">
												<use class="Icon__svg-use" xlink:href="#video-card"></use>
											</svg>
										</div>
									</a>
								</div>

							</div>
							<div class="Badges__interaction">

								<a class="Icon Icon--gray Icon--theme-m">
									<div class="Icon__content">
										<svg class="Icon__svg">
											<use class="Icon__svg-use" xlink:href="#like"></use>
										</svg>
									</div>
								</a>
								<a class="Icon Icon--gray Icon--theme-m">
									<div class="Icon__content">
										<svg class="Icon__svg">
											<use class="Icon__svg-use" xlink:href="#scales"></use>
										</svg>
									</div>
								</a>




							</div>
						</div>
						<a href="#test" class="Card-advanced__link">
							<img src="https://natalyland.ru/wp-content/uploads/3/0/3/303d6fe69816a269e97dc81d126ebc4f.jpg" alt=""
								class="Card-advanced__img Bgi">
						</a>
					</div>
				</div>

			</div>
		</div>
		<div class="swiper-slide section-related-products__slide">
			<div class="Card-advanced">

				<div class="Card-advanced__wrapper">
					<a href="#test" class="Card-advanced__link">
						<div class="Card-advanced__heading">
							<div class="Card-advanced__heading-title">
								<h3 class="Card-advanced__heading-title-text">Петля накладная и не только, этот текст не виден Стёпа
								</h3>
							</div>
							<div class="Card-advanced__heading-desc">
								<span class="Card-advanced__heading-desc-tex">Бронза</span>
								<span class="Card-advanced__heading-desc-tex">Петли универсальные врезные</span>
							</div>
						</div>
					</a>
					<div class="Card-advanced__block-img">

						<div class="Badges">
							<div class="Badges__offer">

								<span class="Badges__offer-discount">-25%</span>
								<a class="Icon Icon--lime Icon--theme-m" href="#">
									<div class="Icon__content">
										<svg class="Icon__svg">
											<use class="Icon__svg-use" xlink:href="#new"></use>
										</svg>
									</div>
								</a>
								<a class="Icon Icon--gray  Icon--theme-m" href="#">
									<div class="Icon__content">
										<svg class="Icon__svg">
											<use class="Icon__svg-use" xlink:href="#bestseller"></use>
										</svg>
									</div>
								</a>
								<a class="Icon Icon--gray  Icon--theme-m" href="#">
									<div class="Icon__content">
										<svg class="Icon__svg">
											<use class="Icon__svg-use" xlink:href="#flame"></use>
										</svg>
									</div>
								</a>


								<div class="Badges__offer-last">
									<a class="Icon  Icon--gray Icon--theme-m" href="#">
										<div class="Icon__content">
											<svg class="Icon__svg">
												<use class="Icon__svg-use" xlink:href="#video-card"></use>
											</svg>
										</div>
									</a>
								</div>

							</div>
							<div class="Badges__interaction">

								<a class="Icon Icon--gray Icon--theme-m">
									<div class="Icon__content">
										<svg class="Icon__svg">
											<use class="Icon__svg-use" xlink:href="#like"></use>
										</svg>
									</div>
								</a>
								<a class="Icon Icon--gray Icon--theme-m">
									<div class="Icon__content">
										<svg class="Icon__svg">
											<use class="Icon__svg-use" xlink:href="#scales"></use>
										</svg>
									</div>
								</a>




							</div>
						</div>
						<a href="#test" class="Card-advanced__link">
							<img src="https://im0-tub-ru.yandex.net/i?id=6a797bdf12b106501b329fb03701bcbe-l&ref=rim&n=13&w=1080&h=1080" alt=""
								class="Card-advanced__img Bgi">
						</a>
					</div>
				</div>

			</div>
		</div>

	</div>
	<div class="Swiper-button-next-video-reviews Swiper-button-default">

		<svg class="Swiper-button-default__svg">
			<use class="Swiper-button-default__use" xlink:href="#right-icon-button-slider-1"></use>
		</svg>

	</div>

	<div class="Swiper-button-prev-video-reviews Swiper-button-default">

		<svg class="Swiper-button-default__svg">
			<use class="Swiper-button-default__use" xlink:href="#left-icon-button-slider-1"></use>
		</svg>

	</div>
</div>