@media (max-width: 1250px) {
  //! Gui
  .Card-medium {
    &__list {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }

    .section-order-measurement {
      &__block-img {
        left: 0;
        bottom: -80px;
      }
    }

    .partners-page {
      &__block-img {
        order: -1;
      }

      &__list {
      }

      &__list-item {
        grid-template-columns: repeat(auto-fit, 100%);
      }
    }
  }

  .Contacts {
    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 40px;
    }
  }

  .Card-buy {
    &__item-products {
      grid-template-columns: 1fr 3fr;
    }

    .item-Card-buy__amount {
      flex-direction: column;
    }

    .item-Card-buy__amount-desc {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
    }

    .item-Card-buy__amount-btn {
      margin-top: 30px;
    }

    .item-Card-buy__amount-desc-text {
      margin: 0;
    }

    .item-Card-buy__amount-btn {
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }
  }

  .Card-intermediate {
    &__block-img {
      order: -1;
    }

    &__list-item {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }
  .Product-description {
    &__footer-btns {
      .Button {
        width: auto;
        &__icon-svg {
          margin: 0;
        }
      }
      & > .Button:not(:first-child) > .Button {
        &__text {
          display: none;
        }
      }
    }
  }

  //! Page
  .header {
    &__block-information {
      .Logo {
        &::before {
          width: 0;
        }
      }
    }
  }

  .partners-page {
    &__list-item {
      grid-template-rows: 280px 1fr;
    }
  }
  //! Section
  .section-related-products {
    &__cards {
      grid-template-columns: repeat(3, minmax(100px, 1fr));
    }
  }
}

@media (max-width: 1023px) {
  //! Gui
  .Card-simple {
    &__list {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .Contacts {
    &__list {
      display: grid;
      grid-template-columns: repeat(2, 49%);
      gap: 40px;
    }
  }

  .Card-buy {
    &__item-products {
      grid-template-columns: 1fr 2fr;
    }

    .item-Card-buy__amount-desc {
      flex-direction: column;

      :not(first-child) {
        margin-top: 10px;
      }
    }

    .item-Card-buy__item-detailed {
      flex-direction: column;
    }

    .item-Card-buy__info-detailed {
      justify-content: flex-end;
      margin-top: 20px;
      padding: 0;
    }
  }

  //! Section

  .header {
    &__wrapper {
      display: none;
      opacity: 0;
      visibility: hidden;
    }

    &__wrapper-mobile {
      display: block;
      opacity: 1;
      visibility: visible;
    }
  }

  .mobile-header {
    &__block-bottom {
      width: 100%;
      z-index: 600;
      background-color: #fff;
      transition: $transition;
    }
  }

  .mobile-menu-active {
    position: relative;

    .mobile-header {
      &__block-bottom {
        box-shadow: 0 -8px 8px rgba(143, 150, 176, 0.3);
        transform: translateY(-105%);
        position: fixed;
      }
    }
    .section-catalog {
      .Catalog {
        &__block-list-product {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-direction: column;
          width: 100%;
          z-index: 450;
          top: 104px;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: $white;
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  .button-menu-catalog {
    &--active {
      border-radius: 0;
      background-color: $white;
      box-shadow: 0 5px 15px rgba(143, 150, 176, 0.3%) !important;

      .Button__text {
        color: #9aca3c !important;
      }

      .Button__icon-svg {
        fill: #9aca3c !important;
      }

      .Button__icon-svg {
        &--right {
          transform: rotate(90deg);
        }
      }
    }
  }

  .section-catalog {
    &__swiper-container {
      margin: 0;
    }

    .Button {
      width: 100%;
      padding: 14px 21px 14px 21px;
      min-height: 52px;
      transition: $transition;

      &__icon-svg {
        &--right {
          transform: rotate(0deg) !important;
        }
      }
    }

    .Catalog {
      &__block-list-product {
        position: fixed;
        opacity: 0;
        overflow-y: auto;
        padding: 30px 0;
        visibility: hidden;
        transition: 0.7s all;
      }

      &__block-name-section,
      &__list-product {
        width: 90%;
      }

      &__block-name-section {
        display: block;
      }

      &__name-section {
        font-weight: 600;
        font-size: 22px;
        line-height: 26px;
        color: $black;
      }

      &__list-product {
        width: 90%;
        margin-top: 20px;
      }

      &__list-product-second-level,
      &__list-product-third-level {
        position: static;
        opacity: 1;
        visibility: visible;
        // display: none;
        transition: none;
      }

      &__list-product-second-level-button {
        padding: 15px 19px;
      }

      &__list-product-second-level-item {
        padding: 0;
      }

      &__list-product-second-level-item,
      &__list-product-third-level-item {
        width: 100%;
      }

      &__list-product-third-level {
      }
    }
  }

  .section-scorer {
    &__item {
      width: 20%;
    }
  }

  .section-order-measurement {
    &__block-img {
      left: 50%;
      top: -70px;
      width: 300px;
      height: 300px;
      transform: translateX(-50%);
    }

    &__content {
      @include adaptiv-value("padding-left", 33, 20, 1);

      padding-top: 200px;
    }
  }

  //! Page

  .ordering-page {
    .Privacy-policy {
      margin-right: 0;
      width: 100%;
    }

    .Privacy-policy__text--policy {
      display: flex;
      flex-direction: column;
      white-space: normal;
    }
  }

  .partners-page {
    &__block-img {
      order: -1;
    }

    &__list {
    }

    &__list-item {
      grid-template-columns: repeat(auto-fit, 100%);
    }
  }

  .contacts-page {
    &__heading {
      &--border,
      &--border-n {
        position: relative;

        ::before {
          width: 100%;
        }
      }
    }
  }
  .interior-door-card {
    &__header {
      flex-direction: column;
    }
    .header-interior-door-card {
      &__content-Thumbnail-slide-Video {
        max-width: 100%;
      }
    }
  }
}

@media (max-width: 866px) {
  //! GUI

  .Card-buy {
    &__item-products {
      grid-template-columns: 1fr 3fr;
    }

    .item-Card-buy__amount-desc {
      flex-direction: row;
    }
  }

  .Checkout {
    &__wrapper {
      box-shadow: none;
    }

    &__content {
      border-top: none;
    }
  }

  .Card-product {
    &__form-specification {
      flex-direction: column;
      margin: 0;
    }

    &__size-specification {
      margin: 0;
      margin-top: 10px;
    }
    &__block-img {
      .Badges {
        &__offer {
          .Badges__offer-last {
            .Palette {
              display: none;
            }
          }
        }
      }
    }
    .Palette {
      display: none;
    }
  }

  //! Page

  .basket-page {
    &__wrapper {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
    }

    .Checkout {
      order: -1;

      .Button {
        width: 100%;
      }
    }
  }

  .ordering-page {
    &__block-inputs {
      align-items: center;
    }

    &__wrapper {
      display: grid;
      grid-template-columns: 1fr;
      gap: 50px;
    }

    &__form {
    }

    .Bread-crumbs {
      display: none;
      opacity: 0;
      visibility: hidden;
    }

    .Input {
      width: 100%;
    }

    .Input__label {
      flex-direction: column;
      align-items: flex-start;
    }

    .Input__inp {
      margin-left: 0;
      width: 100%;
    }

    .Checkout {
      order: 5;

      &__mobile {
        display: block;
        order: -1;
        border-top: 1px solid $gray-border;
        opacity: 1;
        visibility: visible;
      }

      .Button {
        width: 100%;
      }
    }

    &__block-personal-data,
    &__block-order-list {
      box-shadow: none;
    }
  }

  .video-reviews-page {
    &__content {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  //! Section
  .section-related-products {
    &__cards {
      grid-template-columns: repeat(2, minmax(100px, 1fr));
    }
  }
  .section-scorer {
    &__items {
      flex-wrap: wrap;
    }

    &__item {
      width: 31%;

      &:nth-child(n + 4) {
        margin-top: 30px;
      }
    }
  }

  .section-order-measurement {
    .Input__inp {
      width: 200px;
    }

    &__form {
      max-width: 400px;
    }
  }

  .footer {
    &__wrapper {
      flex-direction: column;
      align-items: flex-start;
    }

    &__logo {
      display: none;
    }

    &__content-navs {
      flex-direction: column;
      justify-content: flex-start;
      order: -1;
    }

    &__block-title-nav {
      display: none;
    }

    &__nav {
      margin: 0;
    }

    &__block-nav {
      @include adaptiv-value("width", 100, 250, 1);
    }

    &__block-nav-partners {
      @include adaptiv-value("margin-top", 10, 20, 1);
    }

    &__block-nav-catalog {
      display: none;
    }

    &__wrapper-copyright {
      flex-direction: column;
    }

    &__list-copyright-informations {
      align-items: flex-start;
      margin-top: 30px;
    }

    &__content-social-networks {
      margin-top: 40px;
    }

    .Button {
      display: none;
    }
  }
}

@media (max-width: 730px) {
  //! Gui
  .Card-medium {
    &__list {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .Card-elementary {
    &__list-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .item-Card-elementary {
      &__block-img {
        max-height: 310px;
      }
    }
  }

  .Card-begginer {
    &__content {
      margin: 0;
      margin-top: 30px;
    }

    &__list-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__block-img {
      max-height: 206px;
    }

    &__item-title {
      text-align: center;
    }

    &__item-description-text {
      text-align: center;
    }

    &__block-information {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 20px;

      .Button {
        margin: 20px 0 0;
        width: 100%;
        min-height: 50px;
      }

      .Feedback {
        &__wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  .Card-intermediate {
    &__list {
      grid-template-columns: 1fr;
    }

    &__list-item {
      grid-template-rows: 1.1fr 1fr;
    }

    &__img {
      object-position: top;
    }
  }

  .Card-product {
    &__block-instruments-mobile {
      display: flex;
      opacity: 1;
      visibility: visible;
    }

    &__btn-specifications,
    &__list-color-selection,
    &__retail-price-title,
    &__badges-right,
    &__btn-basket,
    &__block-specification,
    &__trade-price,
    &__your-price,
    &__have-icon {
      display: none;
      opacity: 0;
      visibility: hidden;
    }
  }

  //! Section

  .section-products {
    &__tabs {
      .Button {
        width: 100%;

        &__icon {
          display: none;
          opacity: 0;
          visibility: visible;
        }
      }
    }
  }

  //! Page
  .contacts-page {
    &__block-inputs {
      width: 100%;
    }

    &__button-consultation {
      .Button {
        &--theme-m {
          width: 100%;
        }
      }
    }

    &__form {
      flex-direction: column;

      .Button {
        margin: 10px 0 0;
        width: 100%;
        min-height: 50px;
      }
    }
  }

  //! Popup
  .popup-beginner {
    .Input {
      width: 100%;

      &:not(:first-child) {
        margin-top: 40px;
      }

      &__label-text {
        position: absolute;
        bottom: 50px;
      }

      &__inp {
        margin: 0;
        width: 100%;
      }
    }

    .Privacy-policy {
      margin: 0;
      max-width: 100%;

      &__label {
        &::before {
          top: 80%;
        }
      }
    }

    .Button {
      width: 100%;
      min-height: 50px;
    }

    &__block-inputs {
      width: 100%;
    }
  }
}

@media (max-width: 650px) {
  //! GUI
  .Contacts {
    &__list {
      display: grid;
      grid-template-columns: repeat(1, 100%);
    }
  }

  .Card-simple {
    &__list {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .Card-buy {
    &__item-products {
      grid-template-columns: 1fr 2fr;
    }

    .item-Card-buy__amount-desc {
      flex-direction: column;
    }
  }
  .Product-description {
    &__content-palette-counter {
      flex-direction: column;
    }
    &__content-receipt-date-ordered {
      flex-direction: column;
    }
    &__counter {
      margin: 0;
      margin-top: 10px;
    }

    &__ordered {
      margin-top: 10px;
    }
  }

  //! Section

  .section-scorer {
    &__item {
      width: 47%;

      &:nth-child(n + 3) {
        margin-top: 30px;
      }

      &:nth-child(4) {
        order: 5;
        width: 100%;
      }
    }
  }

  .section-order-measurement {
    &__content {
      flex-direction: column;
      align-items: center;
    }

    &__block-info {
      text-align: center;
    }

    &__block-input-form {
      margin-top: 30px;
    }

    &__form {
      align-items: center;
      margin: 0;
    }

    .Button {
      width: 100%;
    }

    .Input__inp {
      @include adaptiv-value("width", 800, 160, 1);

      height: 41px;
    }

    .Privacy-policy {
      // width: 100%;
      &__text {
        &--policy {
          width: 248px;
        }
      }
    }

    .input-validation {
      &__message-mod {
        width: 248px;
        text-align: end;
      }
    }
  }

  .section-video-reviews {
    &__icon {
      @include adaptiv-value("top", 160, 35, 1);
    }
  }
  .section-related-products {
    &__cards {
      grid-template-columns: repeat(1, minmax(100px, 1fr));
    }
  }

  //! Page

  .catalog-page {
    &__list {
      grid-template-columns: repeat(auto-fit, 100%);
    }

    &__item-title-text {
      @include adaptiv-value("font-size", 70, 20, 1);
    }
  }

  .partners-page {
    &__list {
      grid-template-columns: repeat(1, 100%);
    }
  }
}

@media (max-width: 500px) {
  //! Gui

  .Card-simple {
    &__list {
      grid-gap: 10px;
      grid-template-columns: repeat(1, 1fr);
    }

    &__item-title {
      padding: 24px 20px;
    }
  }

  .Card-buy {
    .item-Card-buy__block-info {
      border-left: none;
    }

    .item-Card-buy__amount {
      border-top: none;
      padding: 0;
    }

    .item-Card-buy__amount-desc {
      display: flex;
      align-items: flex-start;
      border-top: 1px solid $gray-border;
      border-bottom: 1px solid $gray-border;
      padding: 16px 0;
      padding-right: 4px;
      width: 100%;

      :first-child {
        margin-top: 0;
      }
    }

    .item-Card-buy__amount-btn {
      margin: 0;
      padding: 14px;
      transition: $transition;

      .Button {
        width: 100%;
        transition: $transition;
      }
    }

    .Counter__dimension {
      display: none;
    }
  }
  .Product-description {
    &__counter {
      margin: 0;
      margin-top: 10px;
      .Counter {
        &__block-input {
          padding: 0 10px;
        }
      }
    }
    &__molding-item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    &__molding-item-content-price-counter {
      margin-top: 12px;
    }
    &__form-specification {
      flex-direction: column;

      & > *:not(:first-child) > *:first-child {
        text-align: left;
      }
    }
    &__size-specification {
      margin: 0;
      margin-top: 25px;
      .Radio-btn {
        &__title {
        }
        &__content-label {
        }
      }
    }
    &__type-specification {
      .Radio-btn {
        &__title {
        }
        &__content-label {
        }
      }
    }
    &__palette-title {
    }
    &__content-palette-counter {
      & > *:not(:first-child) > *:first-child {
        text-align: left;
      }
    }
    .Palette {
      &__color-selection {
      }
    }
  }
  //! Section

  .header {
    &__wrapper-mobile {
      .Logo__image--size-s {
        @include adaptiv-value("width", 150, 100, 1);
      }
    }
  }

  .section-catalog {
    &__block-img-size {
      height: 180px;
    }

    .swiper__block-img-size {
      width: 24px;
      height: 24px;
    }
  }

  .section-benefits {
    .Max-width {
      padding: 0;
    }

    &__wrapper {
      padding: 0;
      background: none;
    }

    &__content {
      background: url("/img/benefits-bg.jpg") 0 0 no-repeat;
      background-position: center;
      background-size: cover;
    }

    &__inner {
      padding: 0 15px;
    }

    &__block-map {
      display: none;
    }

    &__item {
      flex-direction: column;
      margin-top: 24px;

      &--start {
        justify-content: flex-end;
      }
    }

    &__items {
      li:nth-child(2) {
        margin: 0 0 0 auto;
        margin-top: 20px;
      }
    }

    &__item-text {
      order: 1;
    }
  }

  .section-scorer {
    &__wrapper {
      &--border {
        &::before {
          width: 100%;
        }
      }
    }
  }
  .section-order-measurement {
    &__content {
      padding-top: 150px;
    }
  }

  .section-map {
    &__wrapper {
      .Title {
        display: none;
      }
    }
  }

  //! Page
  .partners-page {
    &__list-item {
      grid-template-rows: 200px 1fr;
    }
  }

  .video-reviews-page {
    &__content {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
