// COLORS
$white: #fff;
$black: #222631;
$black-default: #000;
$quartz: #343f5b;
$green: rgb(0, 128, 0);
$lime: #9aca3c;
$green-gradient: linear-gradient(180deg, #ccea00 0%, #77b24f 100%);
$red: #d84040;
$gray: #8f96b0;
$gray-border: #e3e6f3;
$gray-bg: #eeeff6;
$gray-dark: #1b1f2b;
$dimgray: #565c6f;
$blue: #597da3;
$purple: #9535b8;
$bg: #fff;

// SEIZE
$maxWidth: 1920;

// FONTS
$font-family-Exo2: "Exo2", sans-serif;

// BREACKPOINTS
$maxWidthContainer: 1300;
$md1: $maxWidthContainer + 40;
$md2: 991.98;
$md3: 767.98;
$md4: 600.98;

// Transition
$transition: 0.3s all;
