@import "_fonts";
@import "_settings";
@import "_vars";
@import "_mixins";

* {
  box-sizing: border-box;
}

a {
  color: $gray;

  &:hover {
    color: $lime;
  }
}

html,
body {
  width: 100%;
  font-family: $font-family-Exo2;
  font-weight: 400;
  font-size: 16px;
  color: $gray;
 

  // scroll-behavior: smooth;
}
.voyyydod{
  display: block !important;
}

.menu-active{
  
}

.voyyydodd{
  display: none !important;
}
.listss span {
  cursor: pointer;
  width: 624px;
  display: block !important;
}

.hideeee::before {
  content: "";
  position: absolute;
  width: 625px;
  display:none;
  height:60px; /* украшательство вместо маркера */
}


.showeeee::before {
  content: "";
  position: absolute;
  width: 625px;
  display:block;
  height:60px; /* украшательство вместо маркера */
} 




/* ========== */
// !Модификаторы для страниц
//TODO: Скрытие объектов
.Visually-hidden,
.Vh {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.Visibility,
.Vb,
.V {
  &--hidden {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
  &--visible {
    opacity: 1;
    visibility: visible;
    display: block;
  }
}

//TODO: Шрифт
.Font,
.F {
  //! Color
  &--color-inherit {
    color: currentColor;
  }
  //! Theme
  &--xs {
    font-size: inherit;
    font-weight: normal;
    line-height: 100%;
    letter-spacing: normal;
  }
  //! Position
  &--center {
    text-align: center;
  }
  &--left {
    text-align-last: left;
  }
  &--right {
    text-align: right;
  }
}
//TODO: Адаптивное изображение
.Background-image,
.Bgi {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
//TODO: Позиционирование
.Flex,
.Fx {
  display: flex;
  &-row {
    align-items: center;
    &--center {
      justify-content: center;
    }
    &--space-between {
      justify-content: space-between;
    }
    &--flex-end {
      justify-content: flex-end;
    }
  }
  &-column {
    justify-content: center;
    &--center {
      align-items: center;
    }
    &--space-between {
      align-items: space-between;
    }
    &--flex-end {
      align-items: flex-end;
    }
  }
}

.Position,
.Pos,
.Pn {
  position: absolute;
  &--centerXY {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &--centerX {
    left: 50%;
    transform: translate(-50%);
  }
  &--centerY {
    top: 50%;
    transform: translate(-50%);
  }
}

// Позиционированиестраниц

.body-scroll-hidden {
  overflow-y: hidden;
}

.Container {
  margin: 0 auto;
}

.Max-width {
  min-width: 320px;
  max-width: $maxWidthContainer + px;

  @media screen and (max-width: $md1 + px) {
    padding: 0 20px;
  }

  @media screen and (max-width: $md2 + px) {
    padding: 0 15px;
  }
}

// !Fancybox
.fancybox-close-small {
  width: 52px;
  height: 52px;
}

/* class display = block */



// Gui

@import "gui-elements/buttons.scss";
@import "gui-elements/titles.scss";
@import "gui-elements/links.scss";
@import "gui-elements/logo.scss";
@import "gui-elements/search.scss";
@import "gui-elements/address.scss";
@import "gui-elements/schedule.scss";
@import "gui-elements/feedback.scss";
@import "gui-elements/social-networks.scss";
@import "gui-elements/Card.scss";
@import "gui-elements/input-validation.scss";
@import "gui-elements/inputs.scss";
@import "gui-elements/privacy-policy.scss";
@import "gui-elements/popup-form.scss";
@import "gui-elements/swiper.scss";
@import "gui-elements/video-reviews.scss";
@import "gui-elements/Card.scss";
@import "gui-elements/contacts.scss";
@import "gui-elements/icon.scss";
@import "gui-elements/catalog.scss";
@import "gui-elements/counter.scss";

@import "gui-elements/tabs.scss";
@import "gui-elements/radio-btn.scss";
@import "gui-elements/palette.scss";
@import "gui-elements/checkbox.scss";
@import "gui-elements/border.scss";
@import "gui-elements/map.scss";
