<section class="video-banner">
  <div class="video-banner__container max-width">
    <div class="video-banner__block-content">
      <div class="video-banner__block-video">
        <video class="video-banner__video video-autoplay" loop="loop" muted>
          <source src="video/test.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
          <!-- <source src="" type='video/ogg; codecs="theora, vorbis"'> -->
          <!-- <source src="" type='video/webm; codecs="vp8, vorbis"'> -->
          Тег video не поддерживается вашим браузером.
      </video>
      </div>
      <div class="video-banner__block-info">
        <h2 class="video-banner__title">Если площадка, <br> то «Новая площадка»</h2>
        <a href="#" class="video-banner__button">
          <span class="video-banner__button-text">Узнать, <br> почему</span>
        </a>
      </div>
    </div>
  </div>
</section>
