.video-banner {
  &__container {
    margin: 0 auto;
  }

  &__block-content {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    width: 100%;
    height: 407px;
    min-height: 317px;
    max-height: 407px;
  }

  &__block-video {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 100%;
    height: 100%;
    filter: opacity(0.5);
    transform: translate(-50%, -50%);
  }

  &__video {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__block-info {
    position: absolute;
    left: 47px;
    right: 47px;
    top: 50%;
    z-index: 9;
    transform: translateY(-50%);
  }

  &__title {
    @include adaptiv-font(41.7, 25);

    font-weight: 600;
    line-height: 45px;
    letter-spacing: -0.005em;
    color: $white;
  }

  &__button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    border-radius: 500px;
    width: 70px;
    height: 70px;
    background-color: $red;
    transition: 0.3s all;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 9;
      border-color: $white !important;
      border-radius: 500px;
      opacity: 0.7;
      transform: translate(-50%, -50%);
      transition: 0.3s all;
    }

    &::before {
      animation: videoButton 2s ease 0s infinite;
    }

    &::after {
      animation: videoButton 2s ease 2.4s infinite;
    }

    &:hover {
      transform: scale(1.1);
    }

    &:hover::before,
    &:hover::after {
      opacity: 0 !important;
    }
  }

  &__button-text {
    @include adaptiv-font(11.2, 8);

    font-weight: 600;
    line-height: 11px;
    letter-spacing: 0.02em;
    text-align: center;
    color: $white;
  }

  @keyframes videoButton {
    0% {
      border: 3.2px solid;
      width: 71px;
      height: 71px;
      opacity: 0.7;
    }

    100% {
      border: 1px solid;
      width: 100px;
      height: 100px;
      opacity: 0;
    }
  }
}
