<section class="partners-page">
	<div class="Container Max-width">
		@include('../../components/block/bread-crumbs/bread-crumbs.html')
		<div class="partners-page__wrapper">

			<div class="Title">
				<div class="Title__wrapper--theme-m Title__wrapper--quartz">
					<h2>Партнерство с нами — выгодно!</h2>
				</div>
			</div>

			<div class="partners-page__button-call">
			<a class="Button Button--lime Button--theme-s">
				<span class="Button__text">Заказать звонок</span>
			</a>
		</div>

		<div class="Card-intermediate__list">
          <div class="Card-intermediate__list-item">
            <div class="Card-intermediate__content">
              <div class="Card-intermediate__item-title">
                <h3 class="Card-intermediate__item-title-text">Дилеры</h3>
              </div>
              <div class="Card-intermediate__item-description">
                <h4 class="Card-intermediate__item-description-text">Зарабатывайте на качественном товаре! Покупайте по оптовым ценам, а продавайте – по розничным!</h4>
              </div>
              <a class="Button Button--lime-light Button--theme-s Button--theme-s-w" href="#">
                <span class="Button__text">Подробнее</span>
                <span class="Button__icon">
                  <svg class="Button__icon-svg">
                    <use class="Button__icon-svg-use" xlink:href="#arrow"></use>
                  </svg>
                </span>
              </a>
            </div>
            <div class="Card-intermediate__block-img">
              <img class="Card-intermediate__img" src="img/diler-bg.jpg" alt="">
            </div>
          </div>
          <div class="Card-intermediate__list-item">
            <div class="Card-intermediate__content">
              <div class="Card-intermediate__item-title">
                <h3 class="Card-intermediate__item-title-text">Застройщикам</h3>
              </div>
              <div class="Card-intermediate__item-description">
                <h4 class="Card-intermediate__item-description-text">Специальные оптовые цены, налаженная система логистики, длительный срок гарантийного обслуживания.</h4>
              </div>
              <a class="Button Button--lime-light Button--theme-s Button--theme-s-w" href="#">
                <span class="Button__text">Подробнее</span>
                <span class="Button__icon">
                  <svg class="Button__icon-svg">
                    <use class="Button__icon-svg-use" xlink:href="#arrow"></use>
                  </svg>
                </span>
              </a>
            </div>
            <div class="Card-intermediate__block-img">
              <img class="Card-intermediate__img" src="img/developer-bg.jpg" alt="">
            </div>
          </div>
          <div class="Card-intermediate__list-item">
            <div class="Card-intermediate__content">
              <div class="Card-intermediate__item-title">
                <h3 class="Card-intermediate__item-title-text">Ремонт RemCard — это просто и выгодно</h3>
              </div>
              <div class="Card-intermediate__item-description">
                <h4 class="Card-intermediate__item-description-text">Ремонт в квартире со скидкой своими руками в Краснодаре и Краснодарском крае.</h4>
              </div>
              <a class="Button Button--lime-light Button--theme-s Button--theme-s-w" href="#">
                <span class="Button__text">Подробнее</span>
                <span class="Button__icon">
                  <svg class="Button__icon-svg">
                    <use class="Button__icon-svg-use" xlink:href="#arrow"></use>
                  </svg>
                </span>
              </a>
            </div>
            <div class="Card-intermediate__block-img">
              <img class="Card-intermediate__img" src="img/remcard-bg.jpg" alt="">
            </div>
          </div>
          <div class="Card-intermediate__list-item">
            <div class="Card-intermediate__content">
              <div class="Card-intermediate__item-title">
                <h3 class="Card-intermediate__item-title-text">Франшиза</h3>
              </div>
              <div class="Card-intermediate__item-description">
                <h4 class="Card-intermediate__item-description-text">Бизнес на выгодных условиях: использование нашего товарного знака, обучение персонала, помогаем наладить производство.</h4>
              </div>
              <a class="Button Button--lime-light Button--theme-s Button--theme-s-w" href="#">
                <span class="Button__text">Подробнее</span>
                <span class="Button__icon">
                  <svg class="Button__icon-svg">
                    <use class="Button__icon-svg-use" xlink:href="#arrow"></use>
                  </svg>
                </span>
              </a>
            </div>
            <div class="Card-intermediate__block-img">
              <img class="Card-intermediate__img" src="img/franchise-bg.jpg" alt="">
            </div>
          </div>
        </div>
			
			@include('../../components/block/navigation/navigation.html')
		</div>
	</div>
</section>